{
  "palRecords": [
    {
      "license": {
        "licenseAreaExtent": "zone/county/census/2017/20041", 
        "licenseFrequencyChannelId": "1", 
        "licenseId": "test_fcc_id_pal_0", 
        "licenseDate": "2017-06-19T10:06:54Z", 
        "licenseAreaIdentifier": "20041", 
        "licenseExpiration": "2023-07-07T14:43:06Z"
      }, 
      "registrationInformation": {
        "callSign": "call_sign_pal_0", 
        "frn": "test_fcc_frn_pal_0", 
        "licenseConditions": "license_pal_0", 
        "registrationDate": "2017-06-19T10:06:54Z"
      }, 
      "userId": "user_GRA00095", 
      "licensee": "CBSD Operator No.1", 
      "channelAssignment": {
        "primaryAssignment": {
          "lowFrequency": 3630000000, 
          "highFrequency": 3640000000
        }
      }, 
      "licenseStatus": "VALID", 
      "palId": "pal/06-2017/20041/1"
    }
  ], 
  "conditionalRegistrationData": [
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 1, 
        "heightType": "AGL", 
        "longitude": -106.3700588, 
        "height": 147.15, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.88579421, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00001", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 2, 
        "heightType": "AGL", 
        "longitude": -106.0352456, 
        "height": 101.01, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.59250964, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00002", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 3, 
        "heightType": "AGL", 
        "longitude": -106.0425207, 
        "height": 68.23, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.54148474, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B20", 
      "cbsdSerialNumber": "sn_GRA00003", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 4, 
        "heightType": "AGL", 
        "longitude": -106.1952218, 
        "height": 199.4, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.54932081, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00004", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 5, 
        "heightType": "AGL", 
        "longitude": -106.5045419, 
        "height": 137.69, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.56750458, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00005", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 6, 
        "heightType": "AGL", 
        "longitude": -105.6751722, 
        "height": 24.64, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.64505424, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00006", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 7, 
        "heightType": "AGL", 
        "longitude": -106.3707451, 
        "height": 194.49, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.63916479, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00007", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 8, 
        "heightType": "AGL", 
        "longitude": -106.4353463, 
        "height": 19.23, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.59951884, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B47", 
      "cbsdSerialNumber": "sn_GRA00008", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 9, 
        "heightType": "AGL", 
        "longitude": -106.5501302, 
        "height": 49.32, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.60087028, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00009", 
      "cbsdCategory": "B"
    }
  ], 
  "registrationRequests": [
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00001", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00001", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00002", 
      "userId": "user_GRA00096", 
      "cbsdSerialNumber": "sn_GRA00002", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B20", 
      "callSign": "call_sign_GRA00003", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00003", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00004", 
      "userId": "user_GRA00098", 
      "cbsdSerialNumber": "sn_GRA00004", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00005", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00005", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00006", 
      "userId": "user_GRA00096", 
      "cbsdSerialNumber": "sn_GRA00006", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00007", 
      "userId": "user_GRA00097", 
      "cbsdSerialNumber": "sn_GRA00007", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B47", 
      "callSign": "call_sign_GRA00008", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00008", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00009", 
      "userId": "user_GRA00096", 
      "cbsdSerialNumber": "sn_GRA00009", 
      "measCapability": []
    }
  ], 
  "ppas": [
    {
      "ppaRecord": {
        "terminated": false, 
        "name": "PPA Zone 0", 
        "zone": {
          "type": "FeatureCollection", 
          "features": [
            {
              "geometry": {
                "type": "Polygon", 
                "coordinates": [
                  [
                    [
                      -106.3500588, 
                      39.86579421
                    ], 
                    [
                      -106.3500588, 
                      39.90579421
                    ], 
                    [
                      -106.3900588, 
                      39.90579421
                    ], 
                    [
                      -106.3900588, 
                      39.86579421
                    ], 
                    [
                      -106.3500588, 
                      39.86579421
                    ]
                  ]
                ]
              }, 
              "type": "Feature", 
              "properties": {}
            }
          ]
        }, 
        "creator": "admin_0", 
        "ppaInfo": {
          "ppaBeginDate": "2017-06-19T10:06:54Z", 
          "ppaExpirationDate": "2023-07-07T14:43:06Z", 
          "ppaRegionType": "URBAN", 
          "cbsdReferenceId": [], 
          "palId": [
            "pal/06-2017/20041/1"
          ]
        }, 
        "usage": "PPA", 
        "id": "zone/ppa/admin_0/pal/06-2017/20041/1/f675f4539848404f8182aecce9316275"
      }, 
      "ppaClusterList": []
    }
  ], 
  "grantRequests": [
    {
      "operationParam": {
        "maxEirp": 17, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 0
    }, 
    {
      "operationParam": {
        "maxEirp": 19, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 1
    }, 
    {
      "operationParam": {
        "maxEirp": 6, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 2
    }, 
    {
      "operationParam": {
        "maxEirp": 18, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 3
    }, 
    {
      "operationParam": {
        "maxEirp": 17, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 4
    }, 
    {
      "operationParam": {
        "maxEirp": 20, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": "REMOVE"
    }, 
    {
      "operationParam": {
        "maxEirp": 18, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 6
    }, 
    {
      "operationParam": {
        "maxEirp": 37, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 7
    }, 
    {
      "operationParam": {
        "maxEirp": 15, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 8
    }
  ], 
  "expectedResponseCodes": [
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      102
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ]
  ]
}