{
  "conditionalRegistrationData": [
    {
      "fccId": "fcc_id_QPR00B42",
      "cbsdSerialNumber": "sn_QPR00001",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "CAMBIUM_NETWORKS" },
      "installationParam": {
        "latitude": 40.136976,
        "longitude": -105.284992,
        "height": 3,
        "eirpCapability": 32,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 5,
        "antennaBeamwidth": 30,
        "antennaAzimuth": 93,
        "antennaDowntilt": 45
      }
    },
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00002",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 39.98437243,
        "longitude": -105.2252329,
        "height": 60,
        "eirpCapability": 37,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 5,
        "antennaBeamwidth": 30,
        "antennaAzimuth": 215,
        "antennaDowntilt": 45
      }
    },
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00003",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "CAMBIUM_NETWORKS" },
      "installationParam": {
        "latitude": 39.90911903,
        "longitude": -104.8091408,
        "height": 97,
        "eirpCapability": 37,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 5,
        "antennaBeamwidth": 30,
        "antennaAzimuth": 141,
        "antennaDowntilt": 45
      }
    },
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00004",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 39.86066917,
        "longitude": -104.7774682,
        "height": 96,
        "eirpCapability": 37,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 5,
        "antennaBeamwidth": 30,
        "antennaAzimuth": 340,
        "antennaDowntilt": 45
      }
    },
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00005",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 39.70501006,
        "longitude": -104.8406546,
        "height": 90,
        "eirpCapability": 37,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 5,
        "antennaBeamwidth": 30,
        "antennaAzimuth": 74,
        "antennaDowntilt": 45
      }
    }
  ],
  "registrationRequests": [
    {
      "fccId": "fcc_id_QPR00B42",
      "cbsdSerialNumber": "sn_QPR00001",
      "userId": "user_QPR00097",
      "callSign": "call_sign_QPR00001",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00002",
      "userId": "user_QPR00096",
      "callSign": "call_sign_QPR00002",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00003",
      "userId": "user_QPR00095",
      "callSign": "call_sign_QPR00003",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00004",
      "userId": "user_QPR00096",
      "callSign": "call_sign_QPR00004",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00005",
      "userId": "user_QPR00097",
      "callSign": "call_sign_QPR00005",
      "measCapability": []
    }
  ],
  "grantRequestsN1": [
    {
      "cbsdId": 0,
      "operationParam": {
        "maxEirp": 32,
        "operationFrequencyRange": {
          "lowFrequency": 3620000000,
          "highFrequency": 3630000000
        }
      }
    },
    {
      "cbsdId": 1,
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3620000000,
          "highFrequency": 3630000000
        }
      }
    },
    {
      "cbsdId": 2,
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3650000000,
          "highFrequency": 3660000000
        }
      }
    },
    {
      "cbsdId": 3,
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3580000000,
          "highFrequency": 3590000000
        }
      }
    },
    {
      "cbsdId": 4,
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3610000000,
          "highFrequency": 3620000000
        }
      }
    }
  ],
  "grantRequestsN2": [
    {
      "cbsdId": 0,
      "operationParam": {
        "maxEirp": 32,
        "operationFrequencyRange": {
          "lowFrequency": 3630000000,
          "highFrequency": 3640000000
        }
      }
    },
    {
      "cbsdId": 1,
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3630000000,
          "highFrequency": 3640000000
        }
      }
    },
    {
      "cbsdId": 2,
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3660000000,
          "highFrequency": 3670000000
        }
      }
    },
    {
      "cbsdId": 3,
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3590000000,
          "highFrequency": 3600000000
        }
      }
    },
    {
      "cbsdId": 4,
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3620000000,
          "highFrequency": 3630000000
        }
      }
    }
  ]
}