{
  "conditionalRegistrationData": [
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 1, 
        "heightType": "AGL", 
        "longitude": -106.3700588, 
        "height": 147.15, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.88579421, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_DRG00B47", 
      "cbsdSerialNumber": "sn_DRG00001", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 2, 
        "heightType": "AGL", 
        "longitude": -106.0352456, 
        "height": 101.01, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.59250964, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_DRG00B47", 
      "cbsdSerialNumber": "sn_DRG00002", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 3, 
        "heightType": "AGL", 
        "longitude": -106.0425207, 
        "height": 68.23, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.54148474, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_DRG00B30", 
      "cbsdSerialNumber": "sn_DRG00003", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 4, 
        "heightType": "AGL", 
        "longitude": -106.1952218, 
        "height": 199.4, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.54932081, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_DRG00B47", 
      "cbsdSerialNumber": "sn_DRG00004", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 5, 
        "heightType": "AGL", 
        "longitude": -106.5045419, 
        "height": 137.69, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.56750458, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_DRG00B20", 
      "cbsdSerialNumber": "sn_DRG00005", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 6, 
        "heightType": "AGL", 
        "longitude": -105.6751722, 
        "height": 24.64, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.64505424, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_DRG00B30", 
      "cbsdSerialNumber": "sn_DRG00006", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 7, 
        "heightType": "AGL", 
        "longitude": -106.3707451, 
        "height": 194.49, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.63916479, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_DRG00B20", 
      "cbsdSerialNumber": "sn_DRG00007", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 8, 
        "heightType": "AGL", 
        "longitude": -106.4353463, 
        "height": 19.23, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.59951884, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_DRG00B20", 
      "cbsdSerialNumber": "sn_DRG00008", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 9, 
        "heightType": "AGL", 
        "longitude": -106.5501302, 
        "height": 49.32, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.60087028, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_DRG00B47", 
      "cbsdSerialNumber": "sn_DRG00009", 
      "cbsdCategory": "B"
    }
  ], 
  "registrationRequests": [
    {
      "fccId": "fcc_id_DRG00B47", 
      "callSign": "call_sign_DRG00001", 
      "userId": "user_DRG00098", 
      "cbsdSerialNumber": "sn_DRG00001", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_DRG00B47", 
      "callSign": "call_sign_DRG00002", 
      "userId": "user_DRG00096", 
      "cbsdSerialNumber": "sn_DRG00002", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_DRG00B30", 
      "callSign": "call_sign_DRG00003", 
      "userId": "user_DRG00098", 
      "cbsdSerialNumber": "sn_DRG00003", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_DRG00B47", 
      "callSign": "call_sign_DRG00004", 
      "userId": "user_DRG00098", 
      "cbsdSerialNumber": "sn_DRG00004", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_DRG00B20", 
      "callSign": "call_sign_DRG00005", 
      "userId": "user_DRG00098", 
      "cbsdSerialNumber": "sn_DRG00005", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_DRG00B30", 
      "callSign": "call_sign_DRG00006", 
      "userId": "user_DRG00097", 
      "cbsdSerialNumber": "sn_DRG00006", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_DRG00B20", 
      "callSign": "call_sign_DRG00007", 
      "userId": "user_DRG00096", 
      "cbsdSerialNumber": "sn_DRG00007", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_DRG00B20", 
      "callSign": "call_sign_DRG00008", 
      "userId": "user_DRG00095", 
      "cbsdSerialNumber": "sn_DRG00008", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_DRG00B47", 
      "callSign": "call_sign_DRG00009", 
      "userId": "user_DRG00096", 
      "cbsdSerialNumber": "sn_DRG00009", 
      "measCapability": []
    }
  ], 
  "heartbeatRequests": [
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }
  ], 
  "grantRequests": [
    {
      "operationParam": {
        "maxEirp": 34, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 0
    }, 
    {
      "operationParam": {
        "maxEirp": 35, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 1
    }, 
    {
      "operationParam": {
        "maxEirp": 15, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 2
    }, 
    {
      "operationParam": {
        "maxEirp": 33, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 3
    }, 
    {
      "operationParam": {
        "maxEirp": 6, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 4
    }, 
    {
      "operationParam": {
        "maxEirp": 17, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 5
    }, 
    {
      "operationParam": {
        "maxEirp": 5, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 6
    }, 
    {
      "operationParam": {
        "maxEirp": 6, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 7
    }, 
    {
      "operationParam": {
        "maxEirp": 37, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 8
    }
  ], 
  "expectedResponseCodes": [
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ]
  ], 
  "deregistrationRequests": [
    {}, 
    {}, 
    {}, 
    {}, 
    {}, 
    {}, 
    {}, 
    {}, 
    {}
  ]
}