{
  "conditionalRegistrationData": [
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00001",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.95065304,
        "longitude": -122.597824,
        "height": 35,
        "eirpCapability": 47,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 15,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 280,
        "antennaDowntilt": 0
      }
    }
  ],
  "registrationRequest":
  {
    "fccId": "fcc_id_QPR00B47",
    "cbsdSerialNumber": "sn_QPR00001",
    "userId": "user_QPR00097",
    "callSign": "call_sign_QPR00001",
    "measCapability": []
  },
  "grantRequest":
  {
    "cbsdId": 0,
    "operationParam": {
      "maxEirp": 37,
      "operationFrequencyRange": {
        "lowFrequency": 3550000000,
        "highFrequency": 3600000000
      }
    }
  }
}