{
  "conditionalRegistrationDataN2": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": { 
        "antennaAzimuth": 119,
        "heightType": "AGL",
        "longitude": -74.6733965017,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 41.7248191015,
        "height": 50
      },
      "measCapability": [],
      "fccId": "test_fcc_id_f",
      "cbsdSerialNumber": "test_serial_number_f",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": { 
        "antennaAzimuth": 227,
        "heightType": "AGL",
        "longitude": -77.432460478,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 35.570685948,
        "height": 61
      },
      "measCapability": [],
      "fccId": "test_fcc_id_g",
      "cbsdSerialNumber": "test_serial_number_g",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": { 
        "antennaAzimuth": 346,
        "heightType": "AGL",
        "longitude": -75.409934376,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 40.6252464917,
        "height": 32
      },
      "measCapability": [],
      "fccId": "test_fcc_id_h",
      "cbsdSerialNumber": "test_serial_number_h",
      "cbsdCategory": "B"
    }
  ],
  "sasTestHarnessConfigs": [
    {
      "serverCert": "certs/sas.cert",
      "fullActivityDumpRecords": [
        [
          {
            "grants": [
              {
                "terminated": false,
                "requestedOperationParam": {
                  "maxEirp": 16,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "channelType": "GAA",
                "operationParam": {
                  "maxEirp": 16,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "id": "SAMPLE_ID_00008",
                "grantExpireTime": "2023-07-07T14:43:06Z"
              }
            ],
            "id": "cbsd/test_fcc_id_i/9f366a3e7d2520e04797167dbcc55d2813de632d",
            "registration": {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 0,
                "heightType": "AGL",
                "longitude": -76.5368563816,
                "antennaGain": 16,
                "indoorDeployment": true,
                "antennaBeamwidth": 120,
                "antennaDowntilt": 0,
                "latitude": 38.9450098171,
                "height": 3
              },
              "measCapability": [],
              "fccId": "test_fcc_id_i",
              "callSign": "callsign_i",
              "cbsdCategory": "A"
            }
          },
          {
            "grants": [
              {
                "terminated": false,
                "requestedOperationParam": {
                  "maxEirp": 16,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "channelType": "GAA",
                "operationParam": {
                  "maxEirp": 16,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "id": "SAMPLE_ID_00009",
                "grantExpireTime": "2023-07-07T14:43:06Z"
              }
            ],
            "id": "cbsd/test_fcc_id_j/eb414783059c7dc49a8144e8a5d6308610af9010",
            "registration": {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 0,
                "heightType": "AGL",
                "longitude": -75.3186308227,
                "antennaGain": 16,
                "indoorDeployment": true,
                "antennaBeamwidth": 120,
                "antennaDowntilt": 0,
                "latitude": 40.1498465197,
                "height": 3
              },
              "measCapability": [],
              "fccId": "test_fcc_id_j",
              "callSign": "callsign_j",
              "cbsdCategory": "A"
            }
          }
        ]
      ],
      "hostName": "sas0003.its.bldrdoc.gov",
      "sasTestHarnessName": "SAS-TH-1",
      "serverKey": "certs/sas.key",
      "caCert": "certs/ca.cert",
      "port": 9030
    }
  ],
  "conditionalRegistrationDataN3": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 341,
        "heightType": "AGL",
        "longitude": -74.9476542219,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 39.2445605887,
        "height": 8
      },
      "measCapability": [],
      "fccId": "test_fcc_id_a",
      "cbsdSerialNumber": "test_serial_number_a",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 173,
        "heightType": "AGL",
        "longitude": -73.9856360406,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 40.3183245878,
        "height": 86
      },
      "measCapability": [],
      "fccId": "test_fcc_id_b",
      "cbsdSerialNumber": "test_serial_number_b",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 81,
        "heightType": "AGL",
        "longitude": -75.0816043763,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 39.7280844261,
        "height": 86
      },
      "measCapability": [],
      "fccId": "test_fcc_id_c",
      "cbsdSerialNumber": "test_serial_number_c",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 143,
        "heightType": "AGL",
        "longitude": -74.3119211299,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 40.3149350038,
        "height": 31
      },
      "measCapability": [],
      "fccId": "test_fcc_id_d",
      "cbsdSerialNumber": "test_serial_number_d",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 46,
        "heightType": "AGL",
        "longitude": -74.3361271271,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 40.5470544238,
        "height": 26
      },
      "measCapability": [],
      "fccId": "test_fcc_id_e",
      "cbsdSerialNumber": "test_serial_number_e",
      "cbsdCategory": "B"
    }
  ],
  "registrationRequestsN3": [
    {
      "fccId": "test_fcc_id_a",
      "callSign": "callsign_a",
      "userId": "test_user_id_a",
      "cbsdSerialNumber": "test_serial_number_a"
    },
    {
      "fccId": "test_fcc_id_b",
      "callSign": "callsign_b",
      "userId": "test_user_id_b",
      "cbsdSerialNumber": "test_serial_number_b"
    },
    {
      "fccId": "test_fcc_id_c",
      "callSign": "callsign_c",
      "userId": "test_user_id_c",
      "cbsdSerialNumber": "test_serial_number_c"
    },
    {
      "fccId": "test_fcc_id_d",
      "callSign": "callsign_d",
      "userId": "test_user_id_d",
      "cbsdSerialNumber": "test_serial_number_d"
    },
    {
      "fccId": "test_fcc_id_e",
      "callSign": "callsign_e",
      "userId": "test_user_id_e",
      "cbsdSerialNumber": "test_serial_number_e"
    }
  ],
  "registrationRequestsN2": [
    {
      "fccId": "test_fcc_id_f",
      "callSign": "callsign_f",
      "userId": "test_user_id_f",
      "cbsdSerialNumber": "test_serial_number_f"
    },
    {
      "fccId": "test_fcc_id_g",
      "callSign": "callsign_g",
      "userId": "test_user_id_g",
      "cbsdSerialNumber": "test_serial_number_g"
    },
    {
      "fccId": "test_fcc_id_h",
      "callSign": "callsign_h",
      "userId": "test_user_id_h",
      "cbsdSerialNumber": "test_serial_number_h"
    }
  ],
  "dpas": [
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East8",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3550000000,
        "highFrequency": 3560000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East8",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3560000000,
        "highFrequency": 3570000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East8",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3570000000,
        "highFrequency": 3580000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East8",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3580000000,
        "highFrequency": 3590000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East8",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3590000000,
        "highFrequency": 3600000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East8",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3600000000,
        "highFrequency": 3610000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East8",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3610000000,
        "highFrequency": 3620000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East8",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3620000000,
        "highFrequency": 3630000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East8",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3630000000,
        "highFrequency": 3640000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East8",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3640000000,
        "highFrequency": 3650000000
      }
    }
  ],
  "grantRequestsN3": [
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    }
  ],
  "grantRequestsN2": [
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    }
  ]
}