{
  "conditionalRegistrationDataN2": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": { 
        "antennaAzimuth": 196,
        "heightType": "AGL",
        "longitude": -71.1307414723,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 42.4089662785,
        "height": 23
      },
      "measCapability": [],
      "fccId": "test_fcc_id_f",
      "cbsdSerialNumber": "test_serial_number_f",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": { 
        "antennaAzimuth": 114,
        "heightType": "AGL",
        "longitude": -74.4927645833,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 40.8210040373,
        "height": 28
      },
      "measCapability": [],
      "fccId": "test_fcc_id_g",
      "cbsdSerialNumber": "test_serial_number_g",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": { 
        "antennaAzimuth": 0,
        "heightType": "AGL",
        "longitude": -72.0787772716,
        "antennaGain": 16,
        "indoorDeployment": true,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 41.5827666337,
        "height": 3
      },
      "measCapability": [],
      "fccId": "test_fcc_id_h",
      "cbsdSerialNumber": "test_serial_number_h",
      "cbsdCategory": "A"
    }
  ],
  "sasTestHarnessConfigs": [
    {
      "serverCert": "certs/sas.cert",
      "fullActivityDumpRecords": [
        [
          {
            "grants": [
              {
                "terminated": false,
                "requestedOperationParam": {
                  "maxEirp": 16,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "channelType": "GAA",
                "operationParam": {
                  "maxEirp": 16,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "id": "SAMPLE_ID_00008",
                "grantExpireTime": "2023-07-07T14:43:06Z"
              }
            ],
            "id": "cbsd/test_fcc_id_i/65e92dca04e7472a6237039f6c248f9ce07a7fcb",
            "registration": {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 0,
                "heightType": "AGL",
                "longitude": -71.330847337,
                "antennaGain": 16,
                "indoorDeployment": true,
                "antennaBeamwidth": 120,
                "antennaDowntilt": 0,
                "latitude": 42.2017113653,
                "height": 12
              },
              "measCapability": [],
              "fccId": "test_fcc_id_i",
              "callSign": "callsign_i",
              "cbsdCategory": "A"
            }
          },
          {
            "grants": [
              {
                "terminated": false,
                "requestedOperationParam": {
                  "maxEirp": 16,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "channelType": "GAA",
                "operationParam": {
                  "maxEirp": 16,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "id": "SAMPLE_ID_00009",
                "grantExpireTime": "2023-07-07T14:43:06Z"
              }
            ],
            "id": "cbsd/test_fcc_id_j/b1eaa3e667f0054186a8b5b41e4e62482cf39038",
            "registration": {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 0,
                "heightType": "AGL",
                "longitude": -71.4774017038,
                "antennaGain": 16,
                "indoorDeployment": true,
                "antennaBeamwidth": 120,
                "antennaDowntilt": 0,
                "latitude": 42.0860111863,
                "height": 3
              },
              "measCapability": [],
              "fccId": "test_fcc_id_j",
              "callSign": "callsign_j",
              "cbsdCategory": "A"
            }
          }
        ]
      ],
      "hostName": "THServer3.example.domain",
      "sasTestHarnessName": "SAS-TH-1",
      "serverKey": "certs/sas.key",
      "caCert": "certs/ca.cert",
      "port": 9030
    }
  ],
  "conditionalRegistrationDataN3": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 236,
        "heightType": "AGL",
        "longitude": -71.330831,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 41.518364,
        "height": 55
      },
      "measCapability": [],
      "fccId": "test_fcc_id_a",
      "cbsdSerialNumber": "test_serial_number_a",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 88,
        "heightType": "AGL",
        "longitude": -71.8775969326,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 41.4788030342,
        "height": 15
      },
      "measCapability": [],
      "fccId": "test_fcc_id_b",
      "cbsdSerialNumber": "test_serial_number_b",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 0,
        "heightType": "AGL",
        "longitude": -69.9699134957,
        "antennaGain": 16,
        "indoorDeployment": true,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 41.6624293126,
        "height": 8
      },
      "measCapability": [],
      "fccId": "test_fcc_id_c",
      "cbsdSerialNumber": "test_serial_number_c",
      "cbsdCategory": "A"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 39,
        "heightType": "AGL",
        "longitude": -71.4373083416,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 41.8856678023,
        "height": 25
      },
      "measCapability": [],
      "fccId": "test_fcc_id_d",
      "cbsdSerialNumber": "test_serial_number_d",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 294,
        "heightType": "AGL",
        "longitude": -71.9789640085,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 42.2280174909,
        "height": 74
      },
      "measCapability": [],
      "fccId": "test_fcc_id_e",
      "cbsdSerialNumber": "test_serial_number_e",
      "cbsdCategory": "B"
    }
  ],
  "registrationRequestsN3": [
    {
      "fccId": "test_fcc_id_a",
      "callSign": "callsign_a",
      "userId": "test_user_id_a",
      "cbsdSerialNumber": "test_serial_number_a"
    },
    {
      "fccId": "test_fcc_id_b",
      "callSign": "callsign_b",
      "userId": "test_user_id_b",
      "cbsdSerialNumber": "test_serial_number_b"
    },
    {
      "fccId": "test_fcc_id_c",
      "callSign": "callsign_c",
      "userId": "test_user_id_c",
      "cbsdSerialNumber": "test_serial_number_c"
    },
    {
      "fccId": "test_fcc_id_d",
      "callSign": "callsign_d",
      "userId": "test_user_id_d",
      "cbsdSerialNumber": "test_serial_number_d"
    },
    {
      "fccId": "test_fcc_id_e",
      "callSign": "callsign_e",
      "userId": "test_user_id_e",
      "cbsdSerialNumber": "test_serial_number_e"
    }
  ],
  "registrationRequestsN2": [
    {
      "fccId": "test_fcc_id_f",
      "callSign": "callsign_f",
      "userId": "test_user_id_f",
      "cbsdSerialNumber": "test_serial_number_f"
    },
    {
      "fccId": "test_fcc_id_g",
      "callSign": "callsign_g",
      "userId": "test_user_id_g",
      "cbsdSerialNumber": "test_serial_number_g"
    },
    {
      "fccId": "test_fcc_id_h",
      "callSign": "callsign_h",
      "userId": "test_user_id_h",
      "cbsdSerialNumber": "test_serial_number_h"
    }
  ],
  "dpas": [
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East6",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3550000000,
        "highFrequency": 3560000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East6",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3560000000,
        "highFrequency": 3570000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East6",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3570000000,
        "highFrequency": 3580000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East6",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3580000000,
        "highFrequency": 3590000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East6",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3590000000,
        "highFrequency": 3600000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East6",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3600000000,
        "highFrequency": 3610000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East6",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3610000000,
        "highFrequency": 3620000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East6",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3620000000,
        "highFrequency": 3630000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East6",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3630000000,
        "highFrequency": 3640000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East6",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3640000000,
        "highFrequency": 3650000000
      }
    }
  ],
  "grantRequestsN3": [
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 16,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 32,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    }
  ],
  "grantRequestsN2": [
    {
      "operationParam": {
        "maxEirp": 30,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 16,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    }
  ]
}