{
  "initialCbsdRequestsWithDomainProxies": [
    {
      "conditionalRegistrationData": [],
      "registrationRequests": [],
      "grantRequests": []
    }
  ],
  "dpas": {},
  "domainProxyConfigs": [
    {
      "cert": "certs/domain_proxy.cert",
      "key": "certs/domain_proxy.key"
    }
  ],
  "iterationData": [
    {
      "sasTestHarnessData": [],
      "dpaDeactivationList": [],
      "protectedEntities": {},
      "cbsdRecords": [],
      "cbsdRequestsWithDomainProxies": [
        {
          "conditionalRegistrationData": [
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 154,
                "heightType": "AGL",
                "longitude": -80.04209904,
                "antennaGain": 16,
                "indoorDeployment": false,
                "latitude": 32.93574275,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 34.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "cbsdSerialNumber": "test_serial_number_000000",
              "cbsdCategory": "B"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 358,
                "heightType": "AGL",
                "longitude": -81.66626244,
                "antennaGain": 16,
                "indoorDeployment": false,
                "latitude": 31.68030799,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 19.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "cbsdSerialNumber": "test_serial_number_000001",
              "cbsdCategory": "B"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 39,
                "heightType": "AGL",
                "longitude": -81.24815442,
                "antennaGain": 16,
                "indoorDeployment": false,
                "latitude": 28.14467934,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 19.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "cbsdSerialNumber": "test_serial_number_000004",
              "cbsdCategory": "B"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 150,
                "heightType": "AGL",
                "longitude": -80.3698073,
                "antennaGain": 16,
                "indoorDeployment": false,
                "latitude": 27.45140383,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 6.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "cbsdSerialNumber": "test_serial_number_000005",
              "cbsdCategory": "B"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 65,
                "heightType": "AGL",
                "longitude": -82.43724687,
                "antennaGain": 16,
                "indoorDeployment": false,
                "latitude": 34.94151806,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 27.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "cbsdSerialNumber": "test_serial_number_000006",
              "cbsdCategory": "B"
            }
          ],
          "registrationRequests": [
            {
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000000",
              "cbsdSerialNumber": "test_serial_number_000000",
              "callSign": "callsign_000000"
            },
            {
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000001",
              "cbsdSerialNumber": "test_serial_number_000001",
              "callSign": "callsign_000001"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -79.93473138,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 32.71190813,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 3.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000001",
              "cbsdSerialNumber": "test_serial_number_000002",
              "callSign": "callsign_000002",
              "cbsdCategory": "A"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -79.97578802,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 32.76352815,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 3.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000001",
              "cbsdSerialNumber": "test_serial_number_000003",
              "callSign": "callsign_000003",
              "cbsdCategory": "A"
            },
            {
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000002",
              "cbsdSerialNumber": "test_serial_number_000004",
              "callSign": "callsign_000004"
            },
            {
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000005",
              "cbsdSerialNumber": "test_serial_number_000005",
              "callSign": "callsign_000005"
            },
            {
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000000",
              "cbsdSerialNumber": "test_serial_number_000006",
              "callSign": "callsign_000006"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -80.9088293,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 28.87452706,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 3.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000000",
              "cbsdSerialNumber": "test_serial_number_000007",
              "callSign": "callsign_000007",
              "cbsdCategory": "A"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -79.31801114,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 33.35914775,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 3.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000003",
              "cbsdSerialNumber": "test_serial_number_000008",
              "callSign": "callsign_000008",
              "cbsdCategory": "A"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -81.89633482,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 28.58782864,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 3.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000003",
              "cbsdSerialNumber": "test_serial_number_000009",
              "callSign": "callsign_000009",
              "cbsdCategory": "A"
            }
          ],
          "grantRequests": [
            {
              "operationParam": {
                "maxEirp": 37,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 37,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 37,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 37,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 37,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            }
          ]
        }
      ],
      "dpaActivationList": []
    }
  ],
  "sasTestHarnessConfigs": [],
  "initialCbsdRecords": []
}