{
  "fccIds": [
    [
      "fcc_id_REG00A20", 
      20
    ], 
    [
      "fcc_id_REG00B30", 
      30
    ], 
    [
      "fcc_id_REG00B20", 
      20
    ], 
    [
      "fcc_id_REG00B20", 
      20
    ], 
    [
      "fcc_id_REG00A10", 
      10
    ], 
    [
      "fcc_id_REG00B47", 
      47
    ], 
    [
      "fcc_id_REG00A10", 
      10
    ], 
    [
      "fcc_id_REG00A20", 
      20
    ], 
    [
      "fcc_id_REG00B30", 
      30
    ], 
    [
      "fcc_id_REG00B20", 
      20
    ], 
    [
      "fcc_id_REG00B20", 
      20
    ], 
    [
      "fcc_id_REG00A20", 
      20
    ], 
    [
      "fcc_id_REG00B30", 
      30
    ], 
    [
      "fcc_id_REG00B47", 
      47
    ], 
    [
      "fcc_id_REG00A10", 
      10
    ], 
    [
      "fcc_id_REG00B47", 
      47
    ], 
    [
      "fcc_id_REG00B30", 
      30
    ], 
    [
      "fcc_id_REG00A30", 
      30
    ], 
    [
      "fcc_id_REG00B20", 
      20
    ], 
    [
      "fcc_id_REG00A30", 
      30
    ]
  ], 
  "registrationRequests": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 1, 
        "heightType": "AGL", 
        "longitude": -69.30164984, 
        "height": 0.1, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.11577196, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_REG00A20", 
      "userId": "user_REG00097", 
      "cbsdSerialNumber": "sn_REG00001", 
      "callSign": "call_sign_REG00001", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_REG00B30", 
      "callSign": "call_sign_REG00002", 
      "userId": "user_REG00095", 
      "cbsdSerialNumber": "sn_REG00002", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00B20", 
      "callSign": "call_sign_REG00003", 
      "userId": "user_REG00097", 
      "cbsdSerialNumber": "sn_REG00003", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00B20", 
      "callSign": "call_sign_REG00004", 
      "userId": "user_REG00098", 
      "cbsdSerialNumber": "sn_REG00004", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 5, 
        "heightType": "AGL", 
        "longitude": -69.30182154, 
        "height": 2.48, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.11116353, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_REG00A10", 
      "userId": "user_REG00095", 
      "cbsdSerialNumber": "sn_REG00005", 
      "callSign": "call_sign_REG00005", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_REG00B47", 
      "callSign": "call_sign_REG00006", 
      "userId": "user_REG00098", 
      "cbsdSerialNumber": "sn_REG00006", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 7, 
        "heightType": "AGL", 
        "longitude": -69.26954656, 
        "height": 4.74, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.17678543, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_REG00A10", 
      "userId": "user_REG00096", 
      "cbsdSerialNumber": "sn_REG00007", 
      "callSign": "call_sign_REG00007", 
      "cbsdCategory": "A"
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 8, 
        "heightType": "AGL", 
        "longitude": -69.25862405, 
        "height": 2.51, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.12655362, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_REG00A20", 
      "userId": "user_REG00096", 
      "cbsdSerialNumber": "sn_REG00008", 
      "callSign": "call_sign_REG00008", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_REG00B30", 
      "callSign": "call_sign_REG00009", 
      "userId": "user_REG00098", 
      "cbsdSerialNumber": "sn_REG00009", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00B20", 
      "callSign": "call_sign_REG00010", 
      "userId": "user_REG00097", 
      "cbsdSerialNumber": "sn_REG00010", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00B20", 
      "callSign": "call_sign_REG00011", 
      "userId": "user_REG00097", 
      "cbsdSerialNumber": "sn_REG00011", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 12, 
        "heightType": "AGL", 
        "longitude": -69.38674467, 
        "height": 1.75, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.20681601, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_REG00A20", 
      "userId": "user_REG00096", 
      "cbsdSerialNumber": "sn_REG00012", 
      "callSign": "call_sign_REG00012", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_REG00B30", 
      "callSign": "call_sign_REG00013", 
      "userId": "user_REG00098", 
      "cbsdSerialNumber": "sn_REG00013", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00B47", 
      "callSign": "call_sign_REG00014", 
      "userId": "user_REG00097", 
      "cbsdSerialNumber": "sn_REG00014", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00A10", 
      "callSign": "call_sign_REG00015", 
      "userId": "user_REG00095", 
      "cbsdSerialNumber": "sn_REG00015", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00B47", 
      "callSign": "call_sign_REG00016", 
      "userId": "user_REG00098", 
      "cbsdSerialNumber": "sn_REG00016", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00B30", 
      "callSign": "call_sign_REG00017", 
      "userId": "user_REG00095", 
      "cbsdSerialNumber": "sn_REG00017", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00A30", 
      "callSign": "call_sign_REG00018", 
      "userId": "user_REG00095", 
      "cbsdSerialNumber": "sn_REG00018", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00B20", 
      "callSign": "call_sign_REG00019", 
      "userId": "user_REG00098", 
      "cbsdSerialNumber": "sn_REG00019", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 20, 
        "heightType": "AGL", 
        "longitude": -69.22275439, 
        "height": 4.72, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.06131133, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_REG00A30", 
      "userId": "user_REG00096", 
      "cbsdSerialNumber": "sn_REG00020", 
      "callSign": "call_sign_REG00020", 
      "cbsdCategory": "A"
    }
  ], 
  "userIds": [
    "user_REG00097", 
    "user_REG00095", 
    "user_REG00097", 
    "user_REG00098", 
    "user_REG00095", 
    "user_REG00098", 
    "user_REG00096", 
    "user_REG00096", 
    "user_REG00098", 
    "user_REG00097", 
    "user_REG00097", 
    "user_REG00096", 
    "user_REG00098", 
    "user_REG00097", 
    "user_REG00095", 
    "user_REG00098", 
    "user_REG00095", 
    "user_REG00095", 
    "user_REG00098", 
    "user_REG00096"
  ], 
  "sasVersion": "v9.70096051863"
}