{
  "conditionalRegistrationDataN2": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": { 
        "antennaAzimuth": 236,
        "heightType": "AGL",
        "longitude": -78.7926044921,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 35.8063676946,
        "height": 85
      },
      "measCapability": [],
      "fccId": "test_fcc_id_f",
      "cbsdSerialNumber": "test_serial_number_f",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": { 
        "antennaAzimuth": 87,
        "heightType": "AGL",
        "longitude": -75.0796364962,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 38.7146028635,
        "height": 11
      },
      "measCapability": [],
      "fccId": "test_fcc_id_g",
      "cbsdSerialNumber": "test_serial_number_g",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": { 
        "antennaAzimuth": 202,
        "heightType": "AGL",
        "longitude": -77.1346069995,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 39.0562615978,
        "height": 20
      },
      "measCapability": [],
      "fccId": "test_fcc_id_h",
      "cbsdSerialNumber": "test_serial_number_h",
      "cbsdCategory": "B"
    }
  ],
  "sasTestHarnessConfigs": [
    {
      "serverCert": "certs/sas.cert",
      "fullActivityDumpRecords": [
        [
          {
            "grants": [
              {
                "terminated": false,
                "requestedOperationParam": {
                  "maxEirp": 37,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "channelType": "GAA",
                "operationParam": {
                  "maxEirp": 37,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "id": "SAMPLE_ID_00008",
                "grantExpireTime": "2020-08-13T07:53:35Z"
              }
            ],
            "id": "cbsd/test_fcc_id_i/511a39dc90453bb8f352c6b16c9547e712a4f03c",
            "registration": {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 356,
                "heightType": "AGL",
                "longitude": -79.9435352827,
                "antennaGain": 16,
                "indoorDeployment": false,
                "antennaBeamwidth": 120,
                "antennaDowntilt": 0,
                "latitude": 35.8152588054,
                "height": 9
              },
              "measCapability": [],
              "fccId": "test_fcc_id_i",
              "callSign": "callsign_i",
              "cbsdCategory": "B"
            }
          },
          {
            "grants": [
              {
                "terminated": false,
                "requestedOperationParam": {
                  "maxEirp": 33,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "channelType": "GAA",
                "operationParam": {
                  "maxEirp": 33,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "id": "SAMPLE_ID_00009",
                "grantExpireTime": "2020-08-13T07:53:35Z"
              }
            ],
            "id": "cbsd/test_fcc_id_j/f0c2b7bed7a6e3d4a92c12ef74635d9f2b51601e",
            "registration": {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 236,
                "heightType": "AGL",
                "longitude": -76.9141162258,
                "antennaGain": 16,
                "indoorDeployment": false,
                "antennaBeamwidth": 120,
                "antennaDowntilt": 0,
                "latitude": 38.9499647967,
                "height": 11
              },
              "measCapability": [],
              "fccId": "test_fcc_id_j",
              "callSign": "callsign_j",
              "cbsdCategory": "B"
            }
          }
        ]
      ],
      "hostName": "THServer3.example.domain",
      "sasTestHarnessName": "SAS-TH-1",
      "serverKey": "certs/sas.key",
      "caCert": "certs/ca.cert",
      "port": 9030
    }
  ],
  "conditionalRegistrationDataN3": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 228,
        "heightType": "AGL",
        "longitude": -76.6602452116,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 34.722482142,
        "height": 24
      },
      "measCapability": [],
      "fccId": "test_fcc_id_a",
      "cbsdSerialNumber": "test_serial_number_a",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 68,
        "heightType": "AGL",
        "longitude": -76.8398900415,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 35.071271455,
        "height": 68
      },
      "measCapability": [],
      "fccId": "test_fcc_id_b",
      "cbsdSerialNumber": "test_serial_number_b",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 0,
        "heightType": "AGL",
        "longitude": -75.569336,
        "antennaGain": 16,
        "indoorDeployment": true,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 35.81484,
        "height": 3
      },
      "measCapability": [],
      "fccId": "test_fcc_id_c",
      "cbsdSerialNumber": "test_serial_number_c",
      "cbsdCategory": "A"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 210,
        "heightType": "AGL",
        "longitude": -77.0487695043,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 35.1199021602,
        "height": 69
      },
      "measCapability": [],
      "fccId": "test_fcc_id_d",
      "cbsdSerialNumber": "test_serial_number_d",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 189,
        "heightType": "AGL",
        "longitude": -76.4054456038,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 36.8471144788,
        "height": 45
      },
      "measCapability": [],
      "fccId": "test_fcc_id_e",
      "cbsdSerialNumber": "test_serial_number_e",
      "cbsdCategory": "B"
    }
  ],
  "registrationRequestsN3": [
    {
      "fccId": "test_fcc_id_a",
      "callSign": "callsign_a",
      "userId": "test_user_id_a",
      "cbsdSerialNumber": "test_serial_number_a"
    },
    {
      "fccId": "test_fcc_id_b",
      "callSign": "callsign_b",
      "userId": "test_user_id_b",
      "cbsdSerialNumber": "test_serial_number_b"
    },
    {
      "fccId": "test_fcc_id_c",
      "callSign": "callsign_c",
      "userId": "test_user_id_c",
      "cbsdSerialNumber": "test_serial_number_c"
    },
    {
      "fccId": "test_fcc_id_d",
      "callSign": "callsign_d",
      "userId": "test_user_id_d",
      "cbsdSerialNumber": "test_serial_number_d"
    },
    {
      "fccId": "test_fcc_id_e",
      "callSign": "callsign_e",
      "userId": "test_user_id_e",
      "cbsdSerialNumber": "test_serial_number_e"
    }
  ],
  "registrationRequestsN2": [
    {
      "fccId": "test_fcc_id_f",
      "callSign": "callsign_f",
      "userId": "test_user_id_f",
      "cbsdSerialNumber": "test_serial_number_f"
    },
    {
      "fccId": "test_fcc_id_g",
      "callSign": "callsign_g",
      "userId": "test_user_id_g",
      "cbsdSerialNumber": "test_serial_number_g"
    },
    {
      "fccId": "test_fcc_id_h",
      "callSign": "callsign_h",
      "userId": "test_user_id_h",
      "cbsdSerialNumber": "test_serial_number_h"
    }
  ],
  "dpas": [
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East9",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3550000000,
        "highFrequency": 3560000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East9",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3560000000,
        "highFrequency": 3570000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East9",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3570000000,
        "highFrequency": 3580000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East9",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3580000000,
        "highFrequency": 3590000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East9",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3590000000,
        "highFrequency": 3600000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East9",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3600000000,
        "highFrequency": 3610000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East9",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3610000000,
        "highFrequency": 3620000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East9",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3620000000,
        "highFrequency": 3630000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East9",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3630000000,
        "highFrequency": 3640000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East9",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3640000000,
        "highFrequency": 3650000000
      }
    }
  ],
  "grantRequestsN3": [
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 16,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    }
  ],
  "grantRequestsN2": [
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 36,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    }
  ]
}