{
  "conditionalRegistrationDataN2": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": { 
        "antennaAzimuth": 274,
        "heightType": "AGL",
        "longitude": -80.5142614937,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 34.9344282531,
        "height": 41
      },
      "measCapability": [],
      "fccId": "test_fcc_id_f",
      "cbsdSerialNumber": "test_serial_number_f",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": { 
        "antennaAzimuth": 295,
        "heightType": "AGL",
        "longitude": -77.4084267592,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 37.5398292452,
        "height": 88
      },
      "measCapability": [],
      "fccId": "test_fcc_id_g",
      "cbsdSerialNumber": "test_serial_number_g",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": { 
        "antennaAzimuth": 0,
        "heightType": "AGL",
        "longitude": -78.8564403697,
        "antennaGain": 16,
        "indoorDeployment": true,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 34.3487547222,
        "height": 6
      },
      "measCapability": [],
      "fccId": "test_fcc_id_h",
      "cbsdSerialNumber": "test_serial_number_h",
      "cbsdCategory": "A"
    }
  ],
  "sasTestHarnessConfigs": [
    {
      "serverCert": "certs/sas.cert",
      "fullActivityDumpRecords": [
        [
          {
            "grants": [
              {
                "terminated": false,
                "requestedOperationParam": {
                  "maxEirp": 16,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "channelType": "GAA",
                "operationParam": {
                  "maxEirp": 16,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "id": "SAMPLE_ID_00008",
                "grantExpireTime": "2020-08-13T07:53:35Z"
              }
            ],
            "id": "cbsd/test_fcc_id_i/a5ea7ca1d7939600aacac4084acb36b5eee22f49",
            "registration": {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 0,
                "heightType": "AGL",
                "longitude": -79.5265692523,
                "antennaGain": 16,
                "indoorDeployment": true,
                "antennaBeamwidth": 120,
                "antennaDowntilt": 0,
                "latitude": 34.7457950326,
                "height": 3
              },
              "measCapability": [],
              "fccId": "test_fcc_id_i",
              "callSign": "callsign_i",
              "cbsdCategory": "A"
            }
          },
          {
            "grants": [
              {
                "terminated": false,
                "requestedOperationParam": {
                  "maxEirp": 16,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "channelType": "GAA",
                "operationParam": {
                  "maxEirp": 16,
                  "operationFrequencyRange": {
                    "lowFrequency": 3550000000,
                    "highFrequency": 3560000000
                  }
                },
                "id": "SAMPLE_ID_00009",
                "grantExpireTime": "2020-08-13T07:53:35Z"
              }
            ],
            "id": "cbsd/test_fcc_id_j/abd7fd9571f3aeaf092edd49ee73e7b60dbf2046",
            "registration": {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 0,
                "heightType": "AGL",
                "longitude": -78.3390556979,
                "antennaGain": 16,
                "indoorDeployment": true,
                "antennaBeamwidth": 120,
                "antennaDowntilt": 0,
                "latitude": 35.0109021419,
                "height": 3
              },
              "measCapability": [],
              "fccId": "test_fcc_id_j",
              "callSign": "callsign_j",
              "cbsdCategory": "A"
            }
          }
        ]
      ],
      "hostName": "THServer3.example.domain",
      "sasTestHarnessName": "SAS-TH-1",
      "serverKey": "certs/sas.key",
      "caCert": "certs/ca.cert",
      "port": 9030
    }
  ],
  "conditionalRegistrationDataN3": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 19,
        "heightType": "AGL",
        "longitude": -77.4231772368,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 34.8353828444,
        "height": 62
      },
      "measCapability": [],
      "fccId": "test_fcc_id_a",
      "cbsdSerialNumber": "test_serial_number_a",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 339,
        "heightType": "AGL",
        "longitude": -78.5374600615,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 34.1226163403,
        "height": 16
      },
      "measCapability": [],
      "fccId": "test_fcc_id_b",
      "cbsdSerialNumber": "test_serial_number_b",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 0,
        "heightType": "AGL",
        "longitude": -78.3441080922,
        "antennaGain": 16,
        "indoorDeployment": true,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 34.0109442073,
        "height": 6
      },
      "measCapability": [],
      "fccId": "test_fcc_id_c",
      "cbsdSerialNumber": "test_serial_number_c",
      "cbsdCategory": "A"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 0,
        "heightType": "AGL",
        "longitude": -78.8400280149,
        "antennaGain": 16,
        "indoorDeployment": true,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 33.7330461802,
        "height": 3
      },
      "measCapability": [],
      "fccId": "test_fcc_id_d",
      "cbsdSerialNumber": "test_serial_number_d",
      "cbsdCategory": "A"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 0,
        "heightType": "AGL",
        "longitude": -77.3272071529,
        "antennaGain": 16,
        "indoorDeployment": true,
        "antennaBeamwidth": 120,
        "antennaDowntilt": 0,
        "latitude": 34.6538174363,
        "height": 3
      },
      "measCapability": [],
      "fccId": "test_fcc_id_e",
      "cbsdSerialNumber": "test_serial_number_e",
      "cbsdCategory": "A"
    }
  ],
  "registrationRequestsN3": [
    {
      "fccId": "test_fcc_id_a",
      "callSign": "callsign_a",
      "userId": "test_user_id_a",
      "cbsdSerialNumber": "test_serial_number_a"
    },
    {
      "fccId": "test_fcc_id_b",
      "callSign": "callsign_b",
      "userId": "test_user_id_b",
      "cbsdSerialNumber": "test_serial_number_b"
    },
    {
      "fccId": "test_fcc_id_c",
      "callSign": "callsign_c",
      "userId": "test_user_id_c",
      "cbsdSerialNumber": "test_serial_number_c"
    },
    {
      "fccId": "test_fcc_id_d",
      "callSign": "callsign_d",
      "userId": "test_user_id_d",
      "cbsdSerialNumber": "test_serial_number_d"
    },
    {
      "fccId": "test_fcc_id_e",
      "callSign": "callsign_e",
      "userId": "test_user_id_e",
      "cbsdSerialNumber": "test_serial_number_e"
    }
  ],
  "registrationRequestsN2": [
    {
      "fccId": "test_fcc_id_f",
      "callSign": "callsign_f",
      "userId": "test_user_id_f",
      "cbsdSerialNumber": "test_serial_number_f"
    },
    {
      "fccId": "test_fcc_id_g",
      "callSign": "callsign_g",
      "userId": "test_user_id_g",
      "cbsdSerialNumber": "test_serial_number_g"
    },
    {
      "fccId": "test_fcc_id_h",
      "callSign": "callsign_h",
      "userId": "test_user_id_h",
      "cbsdSerialNumber": "test_serial_number_h"
    }
  ],
  "dpas": [
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East11",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3550000000,
        "highFrequency": 3560000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East11",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3560000000,
        "highFrequency": 3570000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East11",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3570000000,
        "highFrequency": 3580000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East11",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3580000000,
        "highFrequency": 3590000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East11",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3590000000,
        "highFrequency": 3600000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East11",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3600000000,
        "highFrequency": 3610000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East11",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3610000000,
        "highFrequency": 3620000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East11",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3620000000,
        "highFrequency": 3630000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East11",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3630000000,
        "highFrequency": 3640000000
      }
    },
    {
      "points_builder": "default (25, 10, 10, 10)",
      "dpaId": "East11",
      "movelistMargin": "linear (1.5)",
      "frequencyRange": {
        "lowFrequency": 3640000000,
        "highFrequency": 3650000000
      }
    }
  ],
  "grantRequestsN3": [
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 16,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 16,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 16,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    }
  ],
  "grantRequestsN2": [
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 16,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    }
  ]
}