{
  "conditionalRegistrationData": [
    {
      "fccId": "fcc_id_BPR00B47",
      "cbsdSerialNumber": "sn_BPR00002",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 49.00581002,
        "longitude": -121.8267481,
        "height": 30,
        "eirpCapability": 47,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 18,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 180,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00A10",
      "cbsdSerialNumber": "sn_BPR00003",
      "cbsdCategory": "A",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.98268835,
        "longitude": -120.8121796,
        "height": 6,
        "eirpCapability": 10,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 12,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 350,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00B47",
      "cbsdSerialNumber": "sn_BPR00004",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.93647054,
        "longitude": -121.6952055,
        "height": 30,
        "eirpCapability": 47,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 17,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 325,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00A30",
      "cbsdSerialNumber": "sn_BPR00005",
      "cbsdCategory": "A",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.51951482,
        "longitude": -122.3621035,
        "height": 6,
        "eirpCapability": 30,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 16,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 295,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00B30",
      "cbsdSerialNumber": "sn_BPR00006",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.54075745,
        "longitude": -122.6191977,
        "height": 30,
        "eirpCapability": 30,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 14,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 285,
        "antennaDowntilt": 0
      }
    }
  ],
  "registrationRequests": [
    {
      "fccId": "fcc_id_BPR00A30",
      "cbsdSerialNumber": "sn_BPR00001",
      "userId": "user_BPR00098",
      "callSign": "call_sign_BPR00001",
      "measCapability": [],
      "cbsdCategory": "A",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.61924016,
        "longitude": -121.7350149,
        "height": 6,
        "eirpCapability": 30,
        "heightType": "AGL",
        "indoorDeployment": true,
        "antennaGain": 6,
        "antennaBeamwidth": 90,
        "antennaAzimuth": 0,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00B47",
      "cbsdSerialNumber": "sn_BPR00002",
      "userId": "user_BPR00098",
      "callSign": "call_sign_BPR00002",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_BPR00A10",
      "cbsdSerialNumber": "sn_BPR00003",
      "userId": "user_BPR00096",
      "callSign": "call_sign_BPR00003",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_BPR00B47",
      "cbsdSerialNumber": "sn_BPR00004",
      "userId": "user_BPR00096",
      "callSign": "call_sign_BPR00004",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_BPR00A30",
      "cbsdSerialNumber": "sn_BPR00005",
      "userId": "user_BPR00097",
      "callSign": "call_sign_BPR00005",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_BPR00B30",
      "cbsdSerialNumber": "sn_BPR00006",
      "userId": "user_BPR00097",
      "callSign": "call_sign_BPR00006",
      "measCapability": []
    }
  ],
  "grantRequests": [
    {
      "cbsdId": 0,
      "operationParam": {
        "maxEirp": 17,
        "operationFrequencyRange": {
          "lowFrequency": 3630000000,
          "highFrequency": 3700000000
        }
      }
    },
    {
      "cbsdId": 1,
      "operationParam": {
        "maxEirp": 36,
        "operationFrequencyRange": {
          "lowFrequency": 3690000000,
          "highFrequency": 3700000000
        }
      }
    },
    {
      "cbsdId": 2,
      "operationParam": {
        "maxEirp": -1,
        "operationFrequencyRange": {
          "lowFrequency": 3630000000,
          "highFrequency": 3700000000
        }
      }
    },
    {
      "cbsdId": 3,
      "operationParam": {
        "maxEirp": 34,
        "operationFrequencyRange": {
          "lowFrequency": 3680000000,
          "highFrequency": 3690000000
        }
      }
    },
    {
      "cbsdId": 4,
      "operationParam": {
        "maxEirp": 20,
        "operationFrequencyRange": {
          "lowFrequency": 3630000000,
          "highFrequency": 3700000000
        }
      }
    },
    {
      "cbsdId": 5,
      "operationParam": {
        "maxEirp": 19,
        "operationFrequencyRange": {
          "lowFrequency": 3650000000,
          "highFrequency": 3660000000
        }
      }
    }
  ]
}