{
  "conditionalRegistrationData": [
    {
      "fccId": "fcc_id_BPR00A20",
      "cbsdSerialNumber": "sn_BPR00001",
      "cbsdCategory": "A",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.53959457,
        "longitude": -123.110007,
        "height": 6,
        "eirpCapability": 20,
        "heightType": "AGL",
        "indoorDeployment": true,
        "antennaGain": 6,
        "antennaBeamwidth": 90,
        "antennaAzimuth": 0,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00B47",
      "cbsdSerialNumber": "sn_BPR00002",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.92349695,
        "longitude": -119.7153852,
        "height": 30,
        "eirpCapability": 47,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 13,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 35,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00B47",
      "cbsdSerialNumber": "sn_BPR00004",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.9302429,
        "longitude": -121.8763482,
        "height": 30,
        "eirpCapability": 47,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 16,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 330,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00B47",
      "cbsdSerialNumber": "sn_BPR00006",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.81874524,
        "longitude": -122.6733005,
        "height": 30,
        "eirpCapability": 47,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 12,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 275,
        "antennaDowntilt": 0
      }
    }
  ],
  "registrationRequests": [
    {
      "fccId": "fcc_id_BPR00A20",
      "cbsdSerialNumber": "sn_BPR00001",
      "userId": "user_BPR00098",
      "callSign": "call_sign_BPR00001",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_BPR00B47",
      "cbsdSerialNumber": "sn_BPR00002",
      "userId": "user_BPR00097",
      "callSign": "call_sign_BPR00002",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_BPR00A10",
      "cbsdSerialNumber": "sn_BPR00003",
      "userId": "user_BPR00095",
      "callSign": "call_sign_BPR00003",
      "measCapability": [],
      "cbsdCategory": "A",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.93995303,
        "longitude": -119.4483561,
        "height": 6,
        "eirpCapability": 10,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 15,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 25,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00B47",
      "cbsdSerialNumber": "sn_BPR00004",
      "userId": "user_BPR00098",
      "callSign": "call_sign_BPR00004",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_BPR00A20",
      "cbsdSerialNumber": "sn_BPR00005",
      "userId": "user_BPR00095",
      "callSign": "call_sign_BPR00005",
      "measCapability": [],
      "cbsdCategory": "A",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.51206807,
        "longitude": -122.4563309,
        "height": 6,
        "eirpCapability": 20,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 15,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 290,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00B47",
      "cbsdSerialNumber": "sn_BPR00006",
      "userId": "user_BPR00095",
      "callSign": "call_sign_BPR00006",
      "measCapability": []
    }
  ],
  "grantRequests": [
    {
      "cbsdId": 0,
      "operationParam": {
        "maxEirp": 6,
        "operationFrequencyRange": {
          "lowFrequency": 3650000000,
          "highFrequency": 3700000000
        }
      }
    },
    {
      "cbsdId": 1,
      "operationParam": {
        "maxEirp": 35,
        "operationFrequencyRange": {
          "lowFrequency": 3690000000,
          "highFrequency": 3700000000
        }
      }
    },
    {
      "cbsdId": 2,
      "operationParam": {
        "maxEirp": -1,
        "operationFrequencyRange": {
          "lowFrequency": 3630000000,
          "highFrequency": 3700000000
        }
      }
    },
    {
      "cbsdId": 3,
      "operationParam": {
        "maxEirp": 37,
        "operationFrequencyRange": {
          "lowFrequency": 3670000000,
          "highFrequency": 3680000000
        }
      }
    },
    {
      "cbsdId": 4,
      "operationParam": {
        "maxEirp": 8,
        "operationFrequencyRange": {
          "lowFrequency": 3630000000,
          "highFrequency": 3700000000
        }
      }
    },
    {
      "cbsdId": 5,
      "operationParam": {
        "maxEirp": 33,
        "operationFrequencyRange": {
          "lowFrequency": 3650000000,
          "highFrequency": 3670000000
        }
      }
    }
  ]
}