{
  "portalDpa": {
    "points_builder": "default (25, 10, 10, 10)",
    "dpaId": "WALLOPS ISLAND",
    "movelistMargin": "linear (1.5)",
    "frequencyRange": {
      "lowFrequency": 3550000000,
      "highFrequency": 3560000000
    }
  },
  "sasTestHarnessConfigs": [
  ],
  "dpaDatabaseConfig": {
    "fileUrl": "/db_sync",
    "hostName": "sas0003.its.bldrdoc.gov",
    "port": 9030,
    "filePath": "testcases/testdata/ipr_7/P-DPAs.kml"
  },
  "domainProxies": [
    {
      "conditionalRegistrationData": [
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 0,
            "heightType": "AGL",
            "longitude": -75.467186382,
            "antennaGain": 16,
            "indoorDeployment": true,
            "antennaBeamwidth": 30,
            "antennaDowntilt": 0,
            "latitude": 37.8523141019,
            "height": 3
          },
          "measCapability": [],
          "fccId": "test_fcc_id_a",
          "cbsdSerialNumber": "test_serial_number_a",
          "cbsdCategory": "A"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 59,
            "heightType": "AGL",
            "longitude": -75.5965681039,
            "antennaGain": 16,
            "indoorDeployment": false,
            "antennaBeamwidth": 30,
            "antennaDowntilt": 0,
            "latitude": 38.3465182529,
            "height": 40
          },
          "measCapability": [],
          "fccId": "test_fcc_id_b",
          "cbsdSerialNumber": "test_serial_number_b",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 0,
            "heightType": "AGL",
            "longitude": -75.6039180037,
            "antennaGain": 16,
            "indoorDeployment": true,
            "antennaBeamwidth": 30,
            "antennaDowntilt": 0,
            "latitude": 37.6703552265,
            "height": 3
          },
          "measCapability": [],
          "fccId": "test_fcc_id_c",
          "cbsdSerialNumber": "test_serial_number_c",
          "cbsdCategory": "A"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 0,
            "heightType": "AGL",
            "longitude": -75.4672945374,
            "antennaGain": 16,
            "indoorDeployment": true,
            "antennaBeamwidth": 30,
            "antennaDowntilt": 0,
            "latitude": 38.0655910656,
            "height": 3
          },
          "measCapability": [],
          "fccId": "test_fcc_id_d",
          "cbsdSerialNumber": "test_serial_number_d",
          "cbsdCategory": "A"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 300,
            "heightType": "AGL",
            "longitude": -76.288360955,
            "antennaGain": 16,
            "indoorDeployment": false,
            "antennaBeamwidth": 30,
            "antennaDowntilt": 0,
            "latitude": 36.6875082955,
            "height": 46
          },
          "measCapability": [],
          "fccId": "test_fcc_id_e",
          "cbsdSerialNumber": "test_serial_number_e",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 69,
            "heightType": "AGL",
            "longitude": -77.3801296527,
            "antennaGain": 16,
            "indoorDeployment": false,
            "antennaBeamwidth": 30,
            "antennaDowntilt": 0,
            "latitude": 39.344214391,
            "height": 87
          },
          "measCapability": [],
          "fccId": "test_fcc_id_f",
          "cbsdSerialNumber": "test_serial_number_f",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 232,
            "heightType": "AGL",
            "longitude": -74.3075659162,
            "antennaGain": 16,
            "indoorDeployment": false,
            "antennaBeamwidth": 30,
            "antennaDowntilt": 0,
            "latitude": 40.5623682625,
            "height": 37
          },
          "measCapability": [],
          "fccId": "test_fcc_id_g",
          "cbsdSerialNumber": "test_serial_number_g",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 225,
            "heightType": "AGL",
            "longitude": -73.9557724226,
            "antennaGain": 16,
            "indoorDeployment": false,
            "antennaBeamwidth": 30,
            "antennaDowntilt": 0,
            "latitude": 40.7618987841,
            "height": 8
          },
          "measCapability": [],
          "fccId": "test_fcc_id_h",
          "cbsdSerialNumber": "test_serial_number_h",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 0,
            "heightType": "AGL",
            "longitude": -75.5680070732,
            "antennaGain": 16,
            "indoorDeployment": true,
            "antennaBeamwidth": 30,
            "antennaDowntilt": 0,
            "latitude": 39.0909496719,
            "height": 3
          },
          "measCapability": [],
          "fccId": "test_fcc_id_i",
          "cbsdSerialNumber": "test_serial_number_i",
          "cbsdCategory": "A"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 0,
            "heightType": "AGL",
            "longitude": -75.8294481873,
            "antennaGain": 16,
            "indoorDeployment": true,
            "antennaBeamwidth": 30,
            "antennaDowntilt": 0,
            "latitude": 38.8892610492,
            "height": 6
          },
          "measCapability": [],
          "fccId": "test_fcc_id_j",
          "cbsdSerialNumber": "test_serial_number_j",
          "cbsdCategory": "A"
        }
      ],
      "registrationRequests": [
        {
          "fccId": "test_fcc_id_a",
          "callSign": "callsign_a",
          "userId": "test_user_id_a",
          "cbsdSerialNumber": "test_serial_number_a"
        },
        {
          "fccId": "test_fcc_id_b",
          "callSign": "callsign_b",
          "userId": "test_user_id_b",
          "cbsdSerialNumber": "test_serial_number_b"
        },
        {
          "fccId": "test_fcc_id_c",
          "callSign": "callsign_c",
          "userId": "test_user_id_c",
          "cbsdSerialNumber": "test_serial_number_c"
        },
        {
          "fccId": "test_fcc_id_d",
          "callSign": "callsign_d",
          "userId": "test_user_id_d",
          "cbsdSerialNumber": "test_serial_number_d"
        },
        {
          "fccId": "test_fcc_id_e",
          "callSign": "callsign_e",
          "userId": "test_user_id_e",
          "cbsdSerialNumber": "test_serial_number_e"
        },
        {
          "fccId": "test_fcc_id_f",
          "callSign": "callsign_f",
          "userId": "test_user_id_f",
          "cbsdSerialNumber": "test_serial_number_f"
        },
        {
          "fccId": "test_fcc_id_g",
          "callSign": "callsign_g",
          "userId": "test_user_id_g",
          "cbsdSerialNumber": "test_serial_number_g"
        },
        {
          "fccId": "test_fcc_id_h",
          "callSign": "callsign_h",
          "userId": "test_user_id_h",
          "cbsdSerialNumber": "test_serial_number_h"
        },
        {
          "fccId": "test_fcc_id_i",
          "callSign": "callsign_i",
          "userId": "test_user_id_i",
          "cbsdSerialNumber": "test_serial_number_i"
        },
        {
          "fccId": "test_fcc_id_j",
          "callSign": "callsign_j",
          "userId": "test_user_id_j",
          "cbsdSerialNumber": "test_serial_number_j"
        }
      ],
      "cert": "certs/domain_proxy.cert",
      "grantRequests": [
        {
          "operationParam": {
            "maxEirp": 16,
            "operationFrequencyRange": {
              "lowFrequency": 3550000000,
              "highFrequency": 3560000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3550000000,
              "highFrequency": 3560000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 16,
            "operationFrequencyRange": {
              "lowFrequency": 3550000000,
              "highFrequency": 3560000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 16,
            "operationFrequencyRange": {
              "lowFrequency": 3550000000,
              "highFrequency": 3560000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3550000000,
              "highFrequency": 3560000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3550000000,
              "highFrequency": 3560000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3550000000,
              "highFrequency": 3560000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 31,
            "operationFrequencyRange": {
              "lowFrequency": 3550000000,
              "highFrequency": 3560000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 16,
            "operationFrequencyRange": {
              "lowFrequency": 3550000000,
              "highFrequency": 3560000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 16,
            "operationFrequencyRange": {
              "lowFrequency": 3550000000,
              "highFrequency": 3560000000
            }
          }
        }
      ],
      "key": "certs/domain_proxy.key"
    }
  ],
  "runEarlyCpas": false
}