{
  "fccIdsBlacklist": [], 
  "conditionalRegistrationData": [
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -105.191864, 
        "height": 15, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.125158, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00A20", 
      "cbsdSerialNumber": "sn_HBT00002", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.8702, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.147617, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B20", 
      "cbsdSerialNumber": "sn_HBT00003", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.701756, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.096742, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B20", 
      "cbsdSerialNumber": "sn_HBT00004", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.531922, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.105322, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B20", 
      "cbsdSerialNumber": "sn_HBT00005", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.430414, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.108283, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B47", 
      "cbsdSerialNumber": "sn_HBT00006", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.009111, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.102742, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B20", 
      "cbsdSerialNumber": "sn_HBT00007", 
      "cbsdCategory": "B"
    }
  ], 
  "registrationRequests": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -105.201528, 
        "height": 15, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.128831, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_HBT00A20", 
      "userId": "user_HBT00097", 
      "cbsdSerialNumber": "sn_HBT00001", 
      "callSign": "call_sign_HBT00001", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_HBT00A20", 
      "callSign": "call_sign_HBT00002", 
      "userId": "user_HBT00095", 
      "cbsdSerialNumber": "sn_HBT00002", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B20", 
      "callSign": "call_sign_HBT00003", 
      "userId": "user_HBT00097", 
      "cbsdSerialNumber": "sn_HBT00003", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B20", 
      "callSign": "call_sign_HBT00004", 
      "userId": "user_HBT00098", 
      "cbsdSerialNumber": "sn_HBT00004", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B20", 
      "callSign": "call_sign_HBT00005", 
      "userId": "user_HBT00095", 
      "cbsdSerialNumber": "sn_HBT00005", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B47", 
      "callSign": "call_sign_HBT00006", 
      "userId": "user_HBT00098", 
      "cbsdSerialNumber": "sn_HBT00006", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B20", 
      "callSign": "call_sign_HBT00007", 
      "userId": "user_HBT00096", 
      "cbsdSerialNumber": "sn_HBT00007", 
      "measCapability": []
    }
  ], 
  "heartbeatRequests": [
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }
  ], 
  "grantRequests": [
    {
      "operationParam": {
        "maxEirp": 10, 
        "operationFrequencyRange": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "cbsdId": 0
    }, 
    {
      "operationParam": {
        "maxEirp": 8, 
        "operationFrequencyRange": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "cbsdId": 1
    }, 
    {
      "operationParam": {
        "maxEirp": 8, 
        "operationFrequencyRange": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "cbsdId": 2
    }, 
    {
      "operationParam": {
        "maxEirp": 5, 
        "operationFrequencyRange": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "cbsdId": 3
    }, 
    {
      "operationParam": {
        "maxEirp": 7, 
        "operationFrequencyRange": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "cbsdId": 4
    }, 
    {
      "operationParam": {
        "maxEirp": 33, 
        "operationFrequencyRange": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "cbsdId": 5
    }, 
    {
      "operationParam": {
        "maxEirp": 6, 
        "operationFrequencyRange": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "cbsdId": 6
    }
  ], 
  "expectedResponseCodes": [
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ]
  ]
}