{
  "fccIdsBlacklist": [
    "fcc_id_HBT00B30", 
    "fcc_id_HBT00A30"
  ], 
  "conditionalRegistrationData": [
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 1, 
        "heightType": "AGL", 
        "longitude": -69.30164984, 
        "height": 0.1, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.11577196, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00A20", 
      "cbsdSerialNumber": "sn_HBT00001", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 2, 
        "heightType": "AGL", 
        "longitude": -69.26610951, 
        "height": 1.55, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.07248098, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B30", 
      "cbsdSerialNumber": "sn_HBT00002", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 3, 
        "heightType": "AGL", 
        "longitude": -69.28077387, 
        "height": 4.5, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.0909376, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B20", 
      "cbsdSerialNumber": "sn_HBT00003", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 4, 
        "heightType": "AGL", 
        "longitude": -69.20804113, 
        "height": 1.75, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.15007419, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B20", 
      "cbsdSerialNumber": "sn_HBT00004", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 6, 
        "heightType": "AGL", 
        "longitude": -69.18780211, 
        "height": 5.04, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.11118032, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B47", 
      "cbsdSerialNumber": "sn_HBT00006", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 8, 
        "heightType": "AGL", 
        "longitude": -69.25862405, 
        "height": 2.51, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.12655362, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00A20", 
      "cbsdSerialNumber": "sn_HBT00008", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 9, 
        "heightType": "AGL", 
        "longitude": -69.36765065, 
        "height": 1.98, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.12904172, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B30", 
      "cbsdSerialNumber": "sn_HBT00009", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 10, 
        "heightType": "AGL", 
        "longitude": -69.31764916, 
        "height": 3.48, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.13172382, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B20", 
      "cbsdSerialNumber": "sn_HBT00010", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 11, 
        "heightType": "AGL", 
        "longitude": -69.33593477, 
        "height": 4.21, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.19536144, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B20", 
      "cbsdSerialNumber": "sn_HBT00011", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 12, 
        "heightType": "AGL", 
        "longitude": -69.38674467, 
        "height": 1.75, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.20681601, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00A20", 
      "cbsdSerialNumber": "sn_HBT00012", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 13, 
        "heightType": "AGL", 
        "longitude": -69.10261909, 
        "height": 4.88, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.12885915, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B30", 
      "cbsdSerialNumber": "sn_HBT00013", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 14, 
        "heightType": "AGL", 
        "longitude": -69.1270992, 
        "height": 5.58, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.11567347, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B47", 
      "cbsdSerialNumber": "sn_HBT00014", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 15, 
        "heightType": "AGL", 
        "longitude": -69.1652701, 
        "height": 3.68, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.14268286, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00A10", 
      "cbsdSerialNumber": "sn_HBT00015", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 16, 
        "heightType": "AGL", 
        "longitude": -69.12318358, 
        "height": 1.94, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.14178932, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B47", 
      "cbsdSerialNumber": "sn_HBT00016", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 17, 
        "heightType": "AGL", 
        "longitude": -69.47388707, 
        "height": 0.76, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.0380987, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B30", 
      "cbsdSerialNumber": "sn_HBT00017", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 18, 
        "heightType": "AGL", 
        "longitude": -69.4620222, 
        "height": 3.34, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.12842005, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00A30", 
      "cbsdSerialNumber": "sn_HBT00018", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 19, 
        "heightType": "AGL", 
        "longitude": -69.47674853, 
        "height": 1.87, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.0926405, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_HBT00B20", 
      "cbsdSerialNumber": "sn_HBT00019", 
      "cbsdCategory": "B"
    }
  ], 
  "registrationRequests": [
    {
      "fccId": "fcc_id_HBT00A20", 
      "callSign": "call_sign_HBT00001", 
      "userId": "user_HBT00097", 
      "cbsdSerialNumber": "sn_HBT00001", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B30", 
      "callSign": "call_sign_HBT00002", 
      "userId": "user_HBT00095", 
      "cbsdSerialNumber": "sn_HBT00002", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B20", 
      "callSign": "call_sign_HBT00003", 
      "userId": "user_HBT00097", 
      "cbsdSerialNumber": "sn_HBT00003", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B20", 
      "callSign": "call_sign_HBT00004", 
      "userId": "user_HBT00098", 
      "cbsdSerialNumber": "sn_HBT00004", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 5, 
        "heightType": "AGL", 
        "longitude": -69.30182154, 
        "height": 2.48, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.11116353, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_HBT00A10", 
      "userId": "user_HBT00095", 
      "cbsdSerialNumber": "sn_HBT00005", 
      "callSign": "call_sign_HBT00005", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_HBT00B47", 
      "callSign": "call_sign_HBT00006", 
      "userId": "user_HBT00098", 
      "cbsdSerialNumber": "sn_HBT00006", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 7, 
        "heightType": "AGL", 
        "longitude": -69.26954656, 
        "height": 4.74, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.17678543, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_HBT00A10", 
      "userId": "user_HBT00096", 
      "cbsdSerialNumber": "sn_HBT00007", 
      "callSign": "call_sign_HBT00007", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_HBT00A20", 
      "callSign": "call_sign_HBT00008", 
      "userId": "user_HBT00096", 
      "cbsdSerialNumber": "sn_HBT00008", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B30", 
      "callSign": "call_sign_HBT00009", 
      "userId": "user_HBT00098", 
      "cbsdSerialNumber": "sn_HBT00009", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B20", 
      "callSign": "call_sign_HBT00010", 
      "userId": "user_HBT00097", 
      "cbsdSerialNumber": "sn_HBT00010", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B20", 
      "callSign": "call_sign_HBT00011", 
      "userId": "user_HBT00097", 
      "cbsdSerialNumber": "sn_HBT00011", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00A20", 
      "callSign": "call_sign_HBT00012", 
      "userId": "user_HBT00096", 
      "cbsdSerialNumber": "sn_HBT00012", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B30", 
      "callSign": "call_sign_HBT00013", 
      "userId": "user_HBT00098", 
      "cbsdSerialNumber": "sn_HBT00013", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B47", 
      "callSign": "call_sign_HBT00014", 
      "userId": "user_HBT00097", 
      "cbsdSerialNumber": "sn_HBT00014", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00A10", 
      "callSign": "call_sign_HBT00015", 
      "userId": "user_HBT00095", 
      "cbsdSerialNumber": "sn_HBT00015", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B47", 
      "callSign": "call_sign_HBT00016", 
      "userId": "user_HBT00098", 
      "cbsdSerialNumber": "sn_HBT00016", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B30", 
      "callSign": "call_sign_HBT00017", 
      "userId": "user_HBT00095", 
      "cbsdSerialNumber": "sn_HBT00017", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00A30", 
      "callSign": "call_sign_HBT00018", 
      "userId": "user_HBT00095", 
      "cbsdSerialNumber": "sn_HBT00018", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_HBT00B20", 
      "callSign": "call_sign_HBT00019", 
      "userId": "user_HBT00098", 
      "cbsdSerialNumber": "sn_HBT00019", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 20, 
        "heightType": "AGL", 
        "longitude": -69.22275439, 
        "height": 4.72, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.06131133, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_HBT00A30", 
      "userId": "user_HBT00096", 
      "cbsdSerialNumber": "sn_HBT00020", 
      "callSign": "call_sign_HBT00020", 
      "cbsdCategory": "A"
    }
  ], 
  "heartbeatRequests": [
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantId": "REMOVE"
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }, 
    {
      "operationState": "GRANTED", 
      "grantRenew": true
    }
  ], 
  "grantRequests": [
    {
      "operationParam": {
        "maxEirp": 9, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 0
    }, 
    {
      "operationParam": {
        "maxEirp": 18, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 1
    }, 
    {
      "operationParam": {
        "maxEirp": 10, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 2
    }, 
    {
      "operationParam": {
        "maxEirp": 7, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 3
    }, 
    {
      "operationParam": {
        "maxEirp": -5, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 4
    }, 
    {
      "operationParam": {
        "maxEirp": 36, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 5
    }, 
    {
      "operationParam": {
        "maxEirp": 0, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 6
    }, 
    {
      "operationParam": {
        "maxEirp": 10, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 7
    }, 
    {
      "operationParam": {
        "maxEirp": 18, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 8
    }, 
    {
      "operationParam": {
        "maxEirp": 7, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 9
    }, 
    {
      "operationParam": {
        "maxEirp": 6, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 10
    }, 
    {
      "operationParam": {
        "maxEirp": 9, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 11
    }, 
    {
      "operationParam": {
        "maxEirp": 17, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 12
    }, 
    {
      "operationParam": {
        "maxEirp": 36, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 13
    }, 
    {
      "operationParam": {
        "maxEirp": -5, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 14
    }, 
    {
      "operationParam": {
        "maxEirp": 33, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 15
    }, 
    {
      "operationParam": {
        "maxEirp": 19, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 16
    }, 
    {
      "operationParam": {
        "maxEirp": 16, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 17
    }, 
    {
      "operationParam": {
        "maxEirp": 10, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 18
    }, 
    {
      "operationParam": {
        "maxEirp": 20, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 19
    }
  ], 
  "expectedResponseCodes": [
    [
      0
    ], 
    [
      101
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      101
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      101
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      102
    ], 
    [
      101
    ], 
    [
      101
    ], 
    [
      0
    ], 
    [
      101
    ]
  ]
}