{
  "conditionalRegistrationData": [
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00001",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 38.22267486,
        "longitude": -78.87737309,
        "height": 92,
        "eirpCapability": 37,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 0,
        "antennaBeamwidth": 30,
        "antennaAzimuth": 28,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00002",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 38.90228632,
        "longitude": -78.97599256,
        "height": 39,
        "eirpCapability": 37,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 15,
        "antennaBeamwidth": 30,
        "antennaAzimuth": 338,
        "antennaDowntilt": 0
      }
    }
  ],
  "registrationRequests": [
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00001",
      "userId": "user_QPR00097",
      "callSign": "call_sign_QPR00001",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00002",
      "userId": "user_QPR00096",
      "callSign": "call_sign_QPR00002",
      "measCapability": []
    }
  ]
}