{
  "conditionalRegistrationData": [
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -105.191864, 
        "height": 15, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.125158, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_REG00A20", 
      "cbsdSerialNumber": "sn_REG00002", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.8702, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.147617, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_REG00B20", 
      "cbsdSerialNumber": "sn_REG00003", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.701756, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.096742, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_REG00B20", 
      "cbsdSerialNumber": "sn_REG00004", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.531922, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.105322, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_REG00B20", 
      "cbsdSerialNumber": "sn_REG00005", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.430414, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.108283, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_REG00B47", 
      "cbsdSerialNumber": "sn_REG00006", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.009111, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.102742, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_REG00B20", 
      "cbsdSerialNumber": "sn_REG00007", 
      "cbsdCategory": "B"
    }
  ], 
  "registrationRequests": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -105.201528, 
        "height": 15, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.128831, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_REG00A20", 
      "userId": "user_REG00097", 
      "cbsdSerialNumber": "sn_REG00001", 
      "callSign": "call_sign_REG00001", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_REG00A20", 
      "callSign": "call_sign_REG00002", 
      "userId": "user_REG00095", 
      "cbsdSerialNumber": "sn_REG00002", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00B20", 
      "callSign": "call_sign_REG00003", 
      "userId": "user_REG00097", 
      "cbsdSerialNumber": "sn_REG00003", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00B20", 
      "callSign": "call_sign_REG00004", 
      "userId": "user_REG00098", 
      "cbsdSerialNumber": "sn_REG00004", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00B20", 
      "callSign": "call_sign_REG00005", 
      "userId": "user_REG00095", 
      "cbsdSerialNumber": "sn_REG00005", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00B47", 
      "callSign": "call_sign_REG00006", 
      "userId": "user_REG00098", 
      "cbsdSerialNumber": "sn_REG00006", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_REG00B20", 
      "callSign": "call_sign_REG00007", 
      "userId": "user_REG00096", 
      "cbsdSerialNumber": "sn_REG00007", 
      "measCapability": []
    }
  ], 
  "userIds": [
    "user_REG00097", 
    "user_REG00095", 
    "user_REG00097", 
    "user_REG00098", 
    "user_REG00095", 
    "user_REG00098", 
    "user_REG00096"
  ], 
  "expectedResponseCodes": [
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ]
  ], 
  "fccIds": [
    [
      "fcc_id_REG00A20", 
      20
    ], 
    [
      "fcc_id_REG00A20", 
      20
    ], 
    [
      "fcc_id_REG00B20", 
      20
    ], 
    [
      "fcc_id_REG00B20", 
      20
    ], 
    [
      "fcc_id_REG00B20", 
      20
    ], 
    [
      "fcc_id_REG00B47", 
      47
    ], 
    [
      "fcc_id_REG00B20", 
      20
    ]
  ]
}