{
  "conditionalRegistrationData": [
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00003",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.95033605,
        "longitude": -122.5314008,
        "height": 29,
        "eirpCapability": 37,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 15,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 63,
        "antennaDowntilt": 0
      }
    }
  ],
  "registrationRequests": [
    {
      "fccId": "fcc_id_QPR00000",
      "cbsdSerialNumber": "sn_QPR00001",
      "userId": "user_QPR00097",
      "callSign": "call_sign_QPR00001",
      "measCapability": [],
      "cbsdCategory": "A",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.955667,
        "longitude": -122.554889,
        "height": 10,
        "eirpCapability": 20,
        "heightType": "AGL",
        "indoorDeployment": true,
        "antennaGain": 15,
        "antennaBeamwidth": 30,
        "antennaAzimuth": 180,
        "antennaDowntilt": 45
      }
    },
    {
      "fccId": "fcc_id_QPR00A26",
      "cbsdSerialNumber": "sn_QPR00002",
      "userId": "user_QPR00096",
      "callSign": "call_sign_QPR00002",
      "measCapability": [],
      "cbsdCategory": "A",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.94769861,
        "longitude": -122.5783989,
        "height": 3,
        "eirpCapability": 16,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 15,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 310,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_QPR00B47",
      "cbsdSerialNumber": "sn_QPR00003",
      "userId": "user_QPR00095",
      "callSign": "call_sign_QPR00003",
      "measCapability": []
    }
  ]
}