{
  "gwpzRecords": [
    {
      "record": {
        "deploymentParam": [
          {
            "operationParam": {
              "operationFrequencyRange": {
                "lowFrequency": 3650000000, 
                "highFrequency": 3700000000
              }
            }
          }
        ], 
        "type": "PART_90", 
        "id": "incumbent/uls/0"
      }, 
      "zone": {
        "type": "FeatureCollection", 
        "features": [
          {
            "geometry": {
              "type": "Polygon", 
              "coordinates": [
                [
                  [
                    -106.0225207, 
                    39.52148474
                  ], 
                  [
                    -106.0225207, 
                    39.56148474
                  ], 
                  [
                    -106.0625207, 
                    39.56148474
                  ], 
                  [
                    -106.0625207, 
                    39.52148474
                  ], 
                  [
                    -106.0225207, 
                    39.52148474
                  ]
                ]
              ]
            }, 
            "type": "Feature", 
            "properties": {}
          }
        ]
      }
    }
  ], 
  "ppaRecords": [
    {
      "ppaRecord": {
        "terminated": false, 
        "name": "PPA Zone 0", 
        "zone": {
          "type": "FeatureCollection", 
          "features": [
            {
              "geometry": {
                "type": "Polygon", 
                "coordinates": [
                  [
                    [
                      -106.3500588, 
                      39.86579421
                    ], 
                    [
                      -106.3500588, 
                      39.90579421
                    ], 
                    [
                      -106.3900588, 
                      39.90579421
                    ], 
                    [
                      -106.3900588, 
                      39.86579421
                    ], 
                    [
                      -106.3500588, 
                      39.86579421
                    ]
                  ]
                ]
              }, 
              "type": "Feature", 
              "properties": {}
            }
          ]
        }, 
        "creator": "admin_0", 
        "ppaInfo": {
          "ppaBeginDate": "2017-06-19T10:09:22Z", 
          "ppaExpirationDate": "2023-07-07T14:43:06Z", 
          "ppaRegionType": "URBAN", 
          "cbsdReferenceId": [], 
          "palId": [
            "pal/06-2017/20041/1"
          ]
        }, 
        "usage": "PPA", 
        "id": "zone/ppa/admin_0/pal/06-2017/20041/1/f551aa58b0db485fa82f9d8ca6d3f76f"
      }, 
      "ppaClusterList": []
    }, 
    {
      "ppaRecord": {
        "terminated": false, 
        "name": "PPA Zone 1", 
        "zone": {
          "type": "FeatureCollection", 
          "features": [
            {
              "geometry": {
                "type": "Polygon", 
                "coordinates": [
                  [
                    [
                      -106.3500588, 
                      39.86579421
                    ], 
                    [
                      -106.3500588, 
                      39.90579421
                    ], 
                    [
                      -106.3900588, 
                      39.90579421
                    ], 
                    [
                      -106.3900588, 
                      39.86579421
                    ], 
                    [
                      -106.3500588, 
                      39.86579421
                    ]
                  ]
                ]
              }, 
              "type": "Feature", 
              "properties": {}
            }
          ]
        }, 
        "creator": "admin_0", 
        "ppaInfo": {
          "ppaBeginDate": "2017-06-19T10:09:22Z", 
          "ppaExpirationDate": "2023-07-07T14:43:06Z", 
          "ppaRegionType": "SUBURBAN", 
          "cbsdReferenceId": [], 
          "palId": [
            "pal/06-2017/20063/1"
          ]
        }, 
        "usage": "PPA", 
        "id": "zone/ppa/admin_0/pal/06-2017/20063/1/dfdf379881a648ae833627a7c4ede32e"
      }, 
      "ppaClusterList": []
    }
  ], 
  "fr1Cbsd": [
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ]
  ], 
  "palRecords": [
    {
      "license": {
        "licenseAreaExtent": "zone/county/census/2017/20041", 
        "licenseFrequencyChannelId": "1", 
        "licenseId": "test_fcc_id_pal_0", 
        "licenseDate": "2017-06-19T10:09:22Z", 
        "licenseAreaIdentifier": "20041", 
        "licenseExpiration": "2023-07-07T14:43:06Z"
      }, 
      "registrationInformation": {
        "callSign": "call_sign_pal_0", 
        "frn": "test_fcc_frn_pal_0", 
        "licenseConditions": "license_pal_0", 
        "registrationDate": "2017-06-19T10:09:22Z"
      }, 
      "userId": "user_SIQ00095", 
      "licensee": "CBSD Operator No.1", 
      "channelAssignment": {
        "primaryAssignment": {
          "lowFrequency": 3570000000, 
          "highFrequency": 3580000000
        }
      }, 
      "licenseStatus": "VALID", 
      "palId": "pal/06-2017/20041/1"
    }, 
    {
      "license": {
        "licenseAreaExtent": "zone/county/census/2017/20063", 
        "licenseFrequencyChannelId": "1", 
        "licenseId": "test_fcc_id_pal_1", 
        "licenseDate": "2017-06-19T10:09:22Z", 
        "licenseAreaIdentifier": "20063", 
        "licenseExpiration": "2023-07-07T14:43:06Z"
      }, 
      "registrationInformation": {
        "callSign": "call_sign_pal_1", 
        "frn": "test_fcc_frn_pal_1", 
        "licenseConditions": "license_pal_1", 
        "registrationDate": "2017-06-19T10:09:22Z"
      }, 
      "userId": "user_SIQ00096", 
      "licensee": "CBSD Operator No.1", 
      "channelAssignment": {
        "primaryAssignment": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "licenseStatus": "VALID", 
      "palId": "pal/06-2017/20063/1"
    }
  ], 
  "fr2Cbsd": [
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ]
  ], 
  "conditionalRegistrationData": [
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 1, 
        "heightType": "AGL", 
        "longitude": -106.3700588, 
        "height": 147.15, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.88579421, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00001", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 2, 
        "heightType": "AGL", 
        "longitude": -106.0352456, 
        "height": 101.01, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.59250964, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00002", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 3, 
        "heightType": "AGL", 
        "longitude": -106.0425207, 
        "height": 68.23, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.54148474, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00003", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 4, 
        "heightType": "AGL", 
        "longitude": -106.1952218, 
        "height": 199.4, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.54932081, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00004", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 5, 
        "heightType": "AGL", 
        "longitude": -106.5045419, 
        "height": 137.69, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.56750458, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00005", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 6, 
        "heightType": "AGL", 
        "longitude": -105.6751722, 
        "height": 24.64, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.64505424, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00006", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 7, 
        "heightType": "AGL", 
        "longitude": -106.3707451, 
        "height": 194.49, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.63916479, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00007", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 8, 
        "heightType": "AGL", 
        "longitude": -106.4353463, 
        "height": 19.23, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.59951884, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00008", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 9, 
        "heightType": "AGL", 
        "longitude": -106.5501302, 
        "height": 49.32, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 39.60087028, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00009", 
      "cbsdCategory": "B"
    }
  ], 
  "registrationRequests": [
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00001", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00001", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00002", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00002", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00003", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00003", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00004", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00004", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00005", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00005", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00006", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00006", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00007", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00007", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00008", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00008", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00009", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00009", 
      "measCapability": []
    }
  ], 
  "expectedResponseCodes": [
    [
      103
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ]
  ], 
  "spectrumInquiryRequests": [
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3640000000, 
          "highFrequency": 3620000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }
  ]
}