{
  "gwpzRecords": [
    {
      "record": {
        "deploymentParam": [
          {
            "operationParam": {
              "operationFrequencyRange": {
                "lowFrequency": 3650000000, 
                "highFrequency": 3700000000
              }
            }
          }
        ], 
        "type": "PART_90", 
        "id": "incumbent/uls/0"
      }, 
      "zone": {
        "type": "FeatureCollection", 
        "features": [
          {
            "geometry": {
              "type": "Polygon", 
              "coordinates": [
                [
                  [
                    -106.3920221, 
                    31.87693443
                  ], 
                  [
                    -106.3920221, 
                    31.91693443
                  ], 
                  [
                    -106.4320221, 
                    31.91693443
                  ], 
                  [
                    -106.4320221, 
                    31.87693443
                  ], 
                  [
                    -106.3920221, 
                    31.87693443
                  ]
                ]
              ]
            }, 
            "type": "Feature", 
            "properties": {}
          }
        ]
      }
    }
  ], 
  "ppaRecords": [
    {
      "ppaRecord": {
        "terminated": false, 
        "name": "PPA Zone 0", 
        "zone": {
          "type": "FeatureCollection", 
          "features": [
            {
              "geometry": {
                "type": "Polygon", 
                "coordinates": [
                  [
                    [
                      -106.537474, 
                      31.81535727
                    ], 
                    [
                      -106.537474, 
                      31.85535727
                    ], 
                    [
                      -106.577474, 
                      31.85535727
                    ], 
                    [
                      -106.577474, 
                      31.81535727
                    ], 
                    [
                      -106.537474, 
                      31.81535727
                    ]
                  ]
                ]
              }, 
              "type": "Feature", 
              "properties": {}
            }
          ]
        }, 
        "creator": "admin_0", 
        "ppaInfo": {
          "ppaBeginDate": "2017-06-19T10:09:22Z", 
          "ppaExpirationDate": "2023-07-07T14:43:06Z", 
          "ppaRegionType": "URBAN", 
          "cbsdReferenceId": [], 
          "palId": [
            "pal/06-2017/20041/1"
          ]
        }, 
        "usage": "PPA", 
        "id": "zone/ppa/admin_0/pal/06-2017/20041/1/f551aa58b0db485fa82f9d8ca6d3f76f"
      }, 
      "ppaClusterList": []
    }, 
    {
      "ppaRecord": {
        "terminated": false, 
        "name": "PPA Zone 1", 
        "zone": {
          "type": "FeatureCollection", 
          "features": [
            {
              "geometry": {
                "type": "Polygon", 
                "coordinates": [
                  [
                    [
                      -106.537474, 
                      31.81535727
                    ], 
                    [
                      -106.537474, 
                      31.85535727
                    ], 
                    [
                      -106.577474, 
                      31.85535727
                    ], 
                    [
                      -106.577474, 
                      31.81535727
                    ], 
                    [
                      -106.537474, 
                      31.81535727
                    ]
                  ]
                ]
              }, 
              "type": "Feature", 
              "properties": {}
            }
          ]
        }, 
        "creator": "admin_0", 
        "ppaInfo": {
          "ppaBeginDate": "2017-06-19T10:09:22Z", 
          "ppaExpirationDate": "2023-07-07T14:43:06Z", 
          "ppaRegionType": "SUBURBAN", 
          "cbsdReferenceId": [], 
          "palId": [
            "pal/06-2017/20063/1"
          ]
        }, 
        "usage": "PPA", 
        "id": "zone/ppa/admin_0/pal/06-2017/20063/1/dfdf379881a648ae833627a7c4ede32e"
      }, 
      "ppaClusterList": []
    }
  ], 
  "fr1Cbsd": [
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ]
  ], 
  "palRecords": [
    {
      "license": {
        "licenseAreaExtent": "zone/census_tract/census/2010/20041", 
        "licenseFrequencyChannelId": "1", 
        "licenseId": "test_fcc_id_pal_0", 
        "licenseDate": "2017-06-19T10:09:22Z", 
        "licenseAreaIdentifier": "20041", 
        "licenseExpiration": "2023-07-07T14:43:06Z"
      }, 
      "registrationInformation": {
        "callSign": "call_sign_pal_0", 
        "frn": "test_fcc_frn_pal_0", 
        "licenseConditions": "license_pal_0", 
        "registrationDate": "2017-06-19T10:09:22Z"
      }, 
      "userId": "user_SIQ00097", 
      "licensee": "CBSD Operator No.1", 
      "channelAssignment": {
        "primaryAssignment": {
          "lowFrequency": 3570000000, 
          "highFrequency": 3580000000
        }
      }, 
      "licenseStatus": "VALID", 
      "palId": "pal/06-2017/20041/1"
    }, 
    {
      "license": {
        "licenseAreaExtent": "zone/census_tract/census/2010/20063", 
        "licenseFrequencyChannelId": "1", 
        "licenseId": "test_fcc_id_pal_1", 
        "licenseDate": "2017-06-19T10:09:22Z", 
        "licenseAreaIdentifier": "20063", 
        "licenseExpiration": "2023-07-07T14:43:06Z"
      }, 
      "registrationInformation": {
        "callSign": "call_sign_pal_1", 
        "frn": "test_fcc_frn_pal_1", 
        "licenseConditions": "license_pal_1", 
        "registrationDate": "2017-06-19T10:09:22Z"
      }, 
      "userId": "user_SIQ00096", 
      "licensee": "CBSD Operator No.1", 
      "channelAssignment": {
        "primaryAssignment": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "licenseStatus": "VALID", 
      "palId": "pal/06-2017/20063/1"
    }
  ], 
  "fr2Cbsd": [
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ]
  ], 
  "conditionalRegistrationData": [
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 1, 
        "heightType": "AGL", 
        "longitude": -106.557474, 
        "height": 5.06, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.83535727, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A20", 
      "cbsdSerialNumber": "sn_SIQ00001", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 2, 
        "heightType": "AGL", 
        "longitude": -106.5520613, 
        "height": 4.5, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.82489845, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A10", 
      "cbsdSerialNumber": "sn_SIQ00002", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 3, 
        "heightType": "AGL", 
        "longitude": -106.4120221, 
        "height": 0.67, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.89693443, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A10", 
      "cbsdSerialNumber": "sn_SIQ00003", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 4, 
        "heightType": "AGL", 
        "longitude": -106.5325018, 
        "height": 5.04, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.83254398, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A20", 
      "cbsdSerialNumber": "sn_SIQ00004", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 5, 
        "heightType": "AGL", 
        "longitude": -106.3096504, 
        "height": 5.43, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.7951195, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00005", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 6, 
        "heightType": "AGL", 
        "longitude": -106.3130258, 
        "height": 1.98, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.72090559, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A30", 
      "cbsdSerialNumber": "sn_SIQ00006", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 8, 
        "heightType": "AGL", 
        "longitude": -106.4268711, 
        "height": 1.75, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.84184965, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A20", 
      "cbsdSerialNumber": "sn_SIQ00008", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 9, 
        "heightType": "AGL", 
        "longitude": -106.3576365, 
        "height": 2.15, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.77652903, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00009", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 10, 
        "heightType": "AGL", 
        "longitude": -106.288006, 
        "height": 3.68, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.75567533, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00010", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 11, 
        "heightType": "AGL", 
        "longitude": -106.3041097, 
        "height": 3.18, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.76325154, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00011", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 12, 
        "heightType": "AGL", 
        "longitude": -106.3058116, 
        "height": 3.34, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.75260816, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00012", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 14, 
        "heightType": "AGL", 
        "longitude": -106.4453257, 
        "height": 3.05, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.83244032, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A20", 
      "cbsdSerialNumber": "sn_SIQ00014", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 15, 
        "heightType": "AGL", 
        "longitude": -106.5116547, 
        "height": 5.03, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.85068937, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00015", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 16, 
        "heightType": "AGL", 
        "longitude": -106.4929904, 
        "height": 2.14, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.76180449, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A30", 
      "cbsdSerialNumber": "sn_SIQ00016", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 17, 
        "heightType": "AGL", 
        "longitude": -106.291728, 
        "height": 1.2, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.78932558, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00017", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 21, 
        "heightType": "AGL", 
        "longitude": -106.2326513, 
        "height": 93.81, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.65960802, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00021", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 22, 
        "heightType": "AGL", 
        "longitude": -106.5903582, 
        "height": 165.78, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.82543287, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00022", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 23, 
        "heightType": "AGL", 
        "longitude": -106.4160715, 
        "height": 156.4, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 32.02049462, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00023", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 24, 
        "heightType": "AGL", 
        "longitude": -106.4586735, 
        "height": 144.51, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.76386986, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00024", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 25, 
        "heightType": "AGL", 
        "longitude": -106.3987921, 
        "height": 197.99, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.89213103, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00025", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 26, 
        "heightType": "AGL", 
        "longitude": -106.1786047, 
        "height": 183.74, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.66373386, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00026", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 27, 
        "heightType": "AGL", 
        "longitude": -106.3204558, 
        "height": 150.1, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.7745538, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00027", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 28, 
        "heightType": "AGL", 
        "longitude": -106.3470977, 
        "height": 41.31, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.75974077, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00028", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 29, 
        "heightType": "AGL", 
        "longitude": -106.4414791, 
        "height": 9.98, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.85345271, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00029", 
      "cbsdCategory": "B"
    }
  ], 
  "registrationRequests": [
    {
      "fccId": "fcc_id_SIQ00A20", 
      "callSign": "call_sign_SIQ00001", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00001", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00A10", 
      "callSign": "call_sign_SIQ00002", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00002", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00A10", 
      "callSign": "call_sign_SIQ00003", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00003", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00A20", 
      "callSign": "call_sign_SIQ00004", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00004", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00005", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00005", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00A30", 
      "callSign": "call_sign_SIQ00006", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00006", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 7, 
        "heightType": "AGL", 
        "longitude": -106.3329004, 
        "height": 4.51, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.68577236, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A10", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00007", 
      "callSign": "call_sign_SIQ00007", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_SIQ00A20", 
      "callSign": "call_sign_SIQ00008", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00008", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00009", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00009", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00010", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00010", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00011", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00011", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00012", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00012", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 13, 
        "heightType": "AGL", 
        "longitude": -106.3838321, 
        "height": 4.18, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.74352015, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A30", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00013", 
      "callSign": "call_sign_SIQ00013", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_SIQ00A20", 
      "callSign": "call_sign_SIQ00014", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00014", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00015", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00015", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00A30", 
      "callSign": "call_sign_SIQ00016", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00016", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00017", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00017", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 18, 
        "heightType": "AGL", 
        "longitude": -106.4844619, 
        "height": 4.68, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.77848489, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A30", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00018", 
      "callSign": "call_sign_SIQ00018", 
      "cbsdCategory": "A"
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 19, 
        "heightType": "AGL", 
        "longitude": -106.4708823, 
        "height": 2.61, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.76659206, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A10", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00019", 
      "callSign": "call_sign_SIQ00019", 
      "cbsdCategory": "A"
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 20, 
        "heightType": "AGL", 
        "longitude": -106.3769513, 
        "height": 1.45, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 31.74891355, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A20", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00020", 
      "callSign": "call_sign_SIQ00020", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00021", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00021", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00022", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00022", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00023", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00023", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00024", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00024", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00025", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00025", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00026", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00026", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00027", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00027", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00028", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00028", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00029", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00029", 
      "measCapability": []
    }
  ], 
  "expectedResponseCodes": [
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      102
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ]
  ], 
  "spectrumInquiryRequests": [
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000, 
          "highFrequency": 3640000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ], 
      "cbsdId": "REMOVE"
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000, 
          "highFrequency": 3640000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000, 
          "highFrequency": 3640000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }
  ]
}