{
  "gwpzRecords": [
    {
      "record": {
        "deploymentParam": [
          {
            "operationParam": {
              "operationFrequencyRange": {
                "lowFrequency": 3650000000, 
                "highFrequency": 3700000000
              }
            }
          }
        ], 
        "type": "PART_90", 
        "id": "incumbent/uls/0"
      }, 
      "zone": {
        "type": "FeatureCollection", 
        "features": [
          {
            "geometry": {
              "type": "Polygon", 
              "coordinates": [
                [
                  [
                    -122.6356508, 
                    47.51578603
                  ], 
                  [
                    -122.6356508, 
                    47.55578603
                  ], 
                  [
                    -122.6756508, 
                    47.55578603
                  ], 
                  [
                    -122.6756508, 
                    47.51578603
                  ], 
                  [
                    -122.6356508, 
                    47.51578603
                  ]
                ]
              ]
            }, 
            "type": "Feature", 
            "properties": {}
          }
        ]
      }
    }
  ], 
  "ppaRecords": [
    {
      "ppaRecord": {
        "terminated": false, 
        "name": "PPA Zone 0", 
        "zone": {
          "type": "FeatureCollection", 
          "features": [
            {
              "geometry": {
                "type": "Polygon", 
                "coordinates": [
                  [
                    [
                      -122.5684642, 
                      47.37147238
                    ], 
                    [
                      -122.5684642, 
                      47.41147238
                    ], 
                    [
                      -122.6084642, 
                      47.41147238
                    ], 
                    [
                      -122.6084642, 
                      47.37147238
                    ], 
                    [
                      -122.5684642, 
                      47.37147238
                    ]
                  ]
                ]
              }, 
              "type": "Feature", 
              "properties": {}
            }
          ]
        }, 
        "creator": "admin_0", 
        "ppaInfo": {
          "ppaBeginDate": "2017-06-19T10:09:22Z", 
          "ppaExpirationDate": "2023-07-07T14:43:06Z", 
          "ppaRegionType": "URBAN", 
          "cbsdReferenceId": [], 
          "palId": [
            "pal/06-2017/20041/1"
          ]
        }, 
        "usage": "PPA", 
        "id": "zone/ppa/admin_0/pal/06-2017/20041/1/f551aa58b0db485fa82f9d8ca6d3f76f"
      }, 
      "ppaClusterList": []
    }, 
    {
      "ppaRecord": {
        "terminated": false, 
        "name": "PPA Zone 1", 
        "zone": {
          "type": "FeatureCollection", 
          "features": [
            {
              "geometry": {
                "type": "Polygon", 
                "coordinates": [
                  [
                    [
                      -122.5684642, 
                      47.37147238
                    ], 
                    [
                      -122.5684642, 
                      47.41147238
                    ], 
                    [
                      -122.6084642, 
                      47.41147238
                    ], 
                    [
                      -122.6084642, 
                      47.37147238
                    ], 
                    [
                      -122.5684642, 
                      47.37147238
                    ]
                  ]
                ]
              }, 
              "type": "Feature", 
              "properties": {}
            }
          ]
        }, 
        "creator": "admin_0", 
        "ppaInfo": {
          "ppaBeginDate": "2017-06-19T10:09:22Z", 
          "ppaExpirationDate": "2023-07-07T14:43:06Z", 
          "ppaRegionType": "SUBURBAN", 
          "cbsdReferenceId": [], 
          "palId": [
            "pal/06-2017/20063/1"
          ]
        }, 
        "usage": "PPA", 
        "id": "zone/ppa/admin_0/pal/06-2017/20063/1/dfdf379881a648ae833627a7c4ede32e"
      }, 
      "ppaClusterList": []
    }
  ], 
  "fr1Cbsd": [
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ]
  ], 
  "palRecords": [
    {
      "license": {
        "licenseAreaExtent": "zone/census_tract/census/2010/20041", 
        "licenseFrequencyChannelId": "1", 
        "licenseId": "test_fcc_id_pal_0", 
        "licenseDate": "2017-06-19T10:09:22Z", 
        "licenseAreaIdentifier": "20041", 
        "licenseExpiration": "2023-07-07T14:43:06Z"
      }, 
      "registrationInformation": {
        "callSign": "call_sign_pal_0", 
        "frn": "test_fcc_frn_pal_0", 
        "licenseConditions": "license_pal_0", 
        "registrationDate": "2017-06-19T10:09:22Z"
      }, 
      "userId": "user_SIQ00097", 
      "licensee": "CBSD Operator No.1", 
      "channelAssignment": {
        "primaryAssignment": {
          "lowFrequency": 3570000000, 
          "highFrequency": 3580000000
        }
      }, 
      "licenseStatus": "VALID", 
      "palId": "pal/06-2017/20041/1"
    }, 
    {
      "license": {
        "licenseAreaExtent": "zone/census_tract/census/2010/20063", 
        "licenseFrequencyChannelId": "1", 
        "licenseId": "test_fcc_id_pal_1", 
        "licenseDate": "2017-06-19T10:09:22Z", 
        "licenseAreaIdentifier": "20063", 
        "licenseExpiration": "2023-07-07T14:43:06Z"
      }, 
      "registrationInformation": {
        "callSign": "call_sign_pal_1", 
        "frn": "test_fcc_frn_pal_1", 
        "licenseConditions": "license_pal_1", 
        "registrationDate": "2017-06-19T10:09:22Z"
      }, 
      "userId": "user_SIQ00097", 
      "licensee": "CBSD Operator No.1", 
      "channelAssignment": {
        "primaryAssignment": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "licenseStatus": "VALID", 
      "palId": "pal/06-2017/20063/1"
    }
  ], 
  "fr2Cbsd": [
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ]
  ], 
  "conditionalRegistrationData": [
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 1, 
        "heightType": "AGL", 
        "longitude": -122.5884642, 
        "height": 5.06, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.39147238, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00001", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 2, 
        "heightType": "AGL", 
        "longitude": -122.6094946, 
        "height": 4.5, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.39361018, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00002", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 4, 
        "heightType": "AGL", 
        "longitude": -122.5429677, 
        "height": 5.04, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.64134134, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00004", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 5, 
        "heightType": "AGL", 
        "longitude": -122.7770951, 
        "height": 5.43, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.46390079, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00005", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 6, 
        "heightType": "AGL", 
        "longitude": -122.6827074, 
        "height": 1.98, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.48602737, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00006", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 7, 
        "heightType": "AGL", 
        "longitude": -122.4070713, 
        "height": 4.51, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.65291474, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00007", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 8, 
        "heightType": "AGL", 
        "longitude": -122.4483119, 
        "height": 0.1, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.47401438, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A10", 
      "cbsdSerialNumber": "sn_SIQ00008", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 10, 
        "heightType": "AGL", 
        "longitude": -122.6434763, 
        "height": 3.68, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.45844865, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00010", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 11, 
        "heightType": "AGL", 
        "longitude": -122.3481644, 
        "height": 3.18, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.51053635, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00011", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 12, 
        "heightType": "AGL", 
        "longitude": -122.6722419, 
        "height": 3.34, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.71261681, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00012", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 13, 
        "heightType": "AGL", 
        "longitude": -122.6191473, 
        "height": 4.18, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.72492354, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00013", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 14, 
        "heightType": "AGL", 
        "longitude": -122.6278659, 
        "height": 3.05, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.75033716, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00014", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 15, 
        "heightType": "AGL", 
        "longitude": -122.6320597, 
        "height": 5.03, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.75119907, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00015", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 17, 
        "heightType": "AGL", 
        "longitude": -122.6091521, 
        "height": 1.2, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.49357128, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00017", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 18, 
        "heightType": "AGL", 
        "longitude": -122.6195192, 
        "height": 4.68, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.60644677, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00018", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 19, 
        "heightType": "AGL", 
        "longitude": -122.529811, 
        "height": 2.61, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.51036508, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00019", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 21, 
        "heightType": "AGL", 
        "longitude": -122.3007784, 
        "height": 93.81, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.80802105, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00021", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 22, 
        "heightType": "AGL", 
        "longitude": -122.5489215, 
        "height": 165.78, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.20275449, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00022", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 23, 
        "heightType": "AGL", 
        "longitude": -122.4726463, 
        "height": 156.4, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.25994003, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00023", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 24, 
        "heightType": "AGL", 
        "longitude": -122.340679, 
        "height": 144.51, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.62524501, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00024", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 25, 
        "heightType": "AGL", 
        "longitude": -122.3331152, 
        "height": 197.99, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.42666574, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00025", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 26, 
        "heightType": "AGL", 
        "longitude": -122.1429697, 
        "height": 183.74, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.77093882, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00026", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 27, 
        "heightType": "AGL", 
        "longitude": -122.5518434, 
        "height": 150.1, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.21376848, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00027", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 28, 
        "heightType": "AGL", 
        "longitude": -122.1533411, 
        "height": 41.31, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.63060043, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00028", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 29, 
        "heightType": "AGL", 
        "longitude": -122.6475592, 
        "height": 9.98, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.54908565, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00029", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 30, 
        "heightType": "AGL", 
        "longitude": -123.1787979, 
        "height": 183.36, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.33879207, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00030", 
      "cbsdCategory": "B"
    }
  ], 
  "registrationRequests": [
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00001", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00001", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00002", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00002", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 3, 
        "heightType": "AGL", 
        "longitude": -122.6556508, 
        "height": 0.67, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.53578603, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A20", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00003", 
      "callSign": "call_sign_SIQ00003", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00004", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00004", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00005", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00005", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00006", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00006", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00007", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00007", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00A10", 
      "callSign": "call_sign_SIQ00008", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00008", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 9, 
        "heightType": "AGL", 
        "longitude": -122.7409025, 
        "height": 2.15, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.70013393, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A20", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00009", 
      "callSign": "call_sign_SIQ00009", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00010", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00010", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00011", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00011", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00012", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00012", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00013", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00013", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00014", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00014", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00015", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00015", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 16, 
        "heightType": "AGL", 
        "longitude": -122.5762037, 
        "height": 2.14, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.46276031, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A10", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00016", 
      "callSign": "call_sign_SIQ00016", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00017", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00017", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00018", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00018", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00019", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00019", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 20, 
        "heightType": "AGL", 
        "longitude": -122.64383, 
        "height": 1.45, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.57075925, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A20", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00020", 
      "callSign": "call_sign_SIQ00020", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00021", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00021", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00022", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00022", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00023", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00023", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00024", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00024", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00025", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00025", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00026", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00026", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00027", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00027", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00028", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00028", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00029", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00029", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00030", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00030", 
      "measCapability": []
    }
  ], 
  "expectedResponseCodes": [
    [
      0
    ], 
    [
      0
    ], 
    [
      102
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      102
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      102
    ], 
    [
      0
    ], 
    [
      103
    ], 
    [
      103
    ], 
    [
      103
    ], 
    [
      0
    ], 
    [
      103
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      103
    ], 
    [
      103
    ], 
    [
      102
    ], 
    [
      0
    ], 
    [
      102
    ], 
    [
      102
    ], 
    [
      0
    ], 
    [
      0
    ]
  ], 
  "spectrumInquiryRequests": [
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000, 
          "highFrequency": 3640000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000, 
          "highFrequency": 3640000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ], 
      "cbsdId": "INVALID_CBSD_ID_738044"
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ], 
      "cbsdId": "INVALID_CBSD_ID_168583"
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000, 
          "highFrequency": 3640000000
        }
      ], 
      "cbsdId": "INVALID_CBSD_ID_299626"
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ], 
      "cbsdId": "INVALID_CBSD_ID_311436"
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000, 
          "highFrequency": 3640000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3600000000, 
          "highFrequency": 3580000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3610000000, 
          "highFrequency": 3590000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ], 
      "cbsdId": "REMOVE"
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ], 
      "cbsdId": "REMOVE"
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }
  ]
}