{
  "gwpzRecords": [
    {
      "record": {
        "deploymentParam": [
          {
            "operationParam": {
              "operationFrequencyRange": {
                "lowFrequency": 3650000000, 
                "highFrequency": 3700000000
              }
            }
          }
        ], 
        "type": "PART_90", 
        "id": "incumbent/uls/0"
      }, 
      "zone": {
        "type": "FeatureCollection", 
        "features": [
          {
            "geometry": {
              "type": "Polygon", 
              "coordinates": [
                [
                  [
                    -69.26077387, 
                    44.0709376
                  ], 
                  [
                    -69.26077387, 
                    44.1109376
                  ], 
                  [
                    -69.30077387, 
                    44.1109376
                  ], 
                  [
                    -69.30077387, 
                    44.0709376
                  ], 
                  [
                    -69.26077387, 
                    44.0709376
                  ]
                ]
              ]
            }, 
            "type": "Feature", 
            "properties": {}
          }
        ]
      }
    }
  ], 
  "ppaRecords": [
    {
      "ppaRecord": {
        "terminated": false, 
        "name": "PPA Zone 0", 
        "zone": {
          "type": "FeatureCollection", 
          "features": [
            {
              "geometry": {
                "type": "Polygon", 
                "coordinates": [
                  [
                    [
                      -69.28164984, 
                      44.09577196
                    ], 
                    [
                      -69.28164984, 
                      44.13577196
                    ], 
                    [
                      -69.32164984, 
                      44.13577196
                    ], 
                    [
                      -69.32164984, 
                      44.09577196
                    ], 
                    [
                      -69.28164984, 
                      44.09577196
                    ]
                  ]
                ]
              }, 
              "type": "Feature", 
              "properties": {}
            }
          ]
        }, 
        "creator": "admin_0", 
        "ppaInfo": {
          "ppaBeginDate": "2017-06-19T10:09:22Z", 
          "ppaExpirationDate": "2023-07-07T14:43:06Z", 
          "ppaRegionType": "URBAN", 
          "cbsdReferenceId": [], 
          "palId": [
            "pal/06-2017/20041/1"
          ]
        }, 
        "usage": "PPA", 
        "id": "zone/ppa/admin_0/pal/06-2017/20041/1/f551aa58b0db485fa82f9d8ca6d3f76f"
      }, 
      "ppaClusterList": []
    }, 
    {
      "ppaRecord": {
        "terminated": false, 
        "name": "PPA Zone 1", 
        "zone": {
          "type": "FeatureCollection", 
          "features": [
            {
              "geometry": {
                "type": "Polygon", 
                "coordinates": [
                  [
                    [
                      -69.28164984, 
                      44.09577196
                    ], 
                    [
                      -69.28164984, 
                      44.13577196
                    ], 
                    [
                      -69.32164984, 
                      44.13577196
                    ], 
                    [
                      -69.32164984, 
                      44.09577196
                    ], 
                    [
                      -69.28164984, 
                      44.09577196
                    ]
                  ]
                ]
              }, 
              "type": "Feature", 
              "properties": {}
            }
          ]
        }, 
        "creator": "admin_0", 
        "ppaInfo": {
          "ppaBeginDate": "2017-06-19T10:09:22Z", 
          "ppaExpirationDate": "2023-07-07T14:43:06Z", 
          "ppaRegionType": "SUBURBAN", 
          "cbsdReferenceId": [], 
          "palId": [
            "pal/06-2017/20063/1"
          ]
        }, 
        "usage": "PPA", 
        "id": "zone/ppa/admin_0/pal/06-2017/20063/1/dfdf379881a648ae833627a7c4ede32e"
      }, 
      "ppaClusterList": []
    }
  ], 
  "fr1Cbsd": [
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ]
  ], 
  "palRecords": [
    {
      "license": {
        "licenseAreaExtent": "zone/census_tract/census/2010/20041", 
        "licenseFrequencyChannelId": "1", 
        "licenseId": "test_fcc_id_pal_0", 
        "licenseDate": "2017-06-19T10:09:22Z", 
        "licenseAreaIdentifier": "20041", 
        "licenseExpiration": "2023-07-07T14:43:06Z"
      }, 
      "registrationInformation": {
        "callSign": "call_sign_pal_0", 
        "frn": "test_fcc_frn_pal_0", 
        "licenseConditions": "license_pal_0", 
        "registrationDate": "2017-06-19T10:09:22Z"
      }, 
      "userId": "user_SIQ00097", 
      "licensee": "CBSD Operator No.1", 
      "channelAssignment": {
        "primaryAssignment": {
          "lowFrequency": 3570000000, 
          "highFrequency": 3580000000
        }
      }, 
      "licenseStatus": "VALID", 
      "palId": "pal/06-2017/20041/1"
    }, 
    {
      "license": {
        "licenseAreaExtent": "zone/census_tract/census/2010/20063", 
        "licenseFrequencyChannelId": "1", 
        "licenseId": "test_fcc_id_pal_1", 
        "licenseDate": "2017-06-19T10:09:22Z", 
        "licenseAreaIdentifier": "20063", 
        "licenseExpiration": "2023-07-07T14:43:06Z"
      }, 
      "registrationInformation": {
        "callSign": "call_sign_pal_1", 
        "frn": "test_fcc_frn_pal_1", 
        "licenseConditions": "license_pal_1", 
        "registrationDate": "2017-06-19T10:09:22Z"
      }, 
      "userId": "user_SIQ00095", 
      "licensee": "CBSD Operator No.1", 
      "channelAssignment": {
        "primaryAssignment": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "licenseStatus": "VALID", 
      "palId": "pal/06-2017/20063/1"
    }
  ], 
  "fr2Cbsd": [
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ]
  ], 
  "conditionalRegistrationData": [
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 2, 
        "heightType": "AGL", 
        "longitude": -69.26610951, 
        "height": 1.55, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.07248098, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00002", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 3, 
        "heightType": "AGL", 
        "longitude": -69.28077387, 
        "height": 4.5, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.0909376, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00003", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 4, 
        "heightType": "AGL", 
        "longitude": -69.20804113, 
        "height": 1.75, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.15007419, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00004", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 6, 
        "heightType": "AGL", 
        "longitude": -69.18780211, 
        "height": 5.04, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.11118032, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00006", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 7, 
        "heightType": "AGL", 
        "longitude": -69.26954656, 
        "height": 4.74, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.17678543, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A10", 
      "cbsdSerialNumber": "sn_SIQ00007", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 8, 
        "heightType": "AGL", 
        "longitude": -69.25862405, 
        "height": 2.51, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.12655362, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A20", 
      "cbsdSerialNumber": "sn_SIQ00008", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 9, 
        "heightType": "AGL", 
        "longitude": -69.36765065, 
        "height": 1.98, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.12904172, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00009", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 10, 
        "heightType": "AGL", 
        "longitude": -69.31764916, 
        "height": 3.48, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.13172382, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00010", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 11, 
        "heightType": "AGL", 
        "longitude": -69.33593477, 
        "height": 4.21, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.19536144, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00011", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 13, 
        "heightType": "AGL", 
        "longitude": -69.10261909, 
        "height": 4.88, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.12885915, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00013", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 14, 
        "heightType": "AGL", 
        "longitude": -69.1270992, 
        "height": 5.58, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.11567347, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00014", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 15, 
        "heightType": "AGL", 
        "longitude": -69.1652701, 
        "height": 3.68, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.14268286, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A10", 
      "cbsdSerialNumber": "sn_SIQ00015", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 16, 
        "heightType": "AGL", 
        "longitude": -69.12318358, 
        "height": 1.94, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.14178932, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00016", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 17, 
        "heightType": "AGL", 
        "longitude": -69.47388707, 
        "height": 0.76, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.0380987, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00017", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 18, 
        "heightType": "AGL", 
        "longitude": -69.4620222, 
        "height": 3.34, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.12842005, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A30", 
      "cbsdSerialNumber": "sn_SIQ00018", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 19, 
        "heightType": "AGL", 
        "longitude": -69.47674853, 
        "height": 1.87, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.0926405, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00019", 
      "cbsdCategory": "B"
    }
  ], 
  "registrationRequests": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 1, 
        "heightType": "AGL", 
        "longitude": -69.30164984, 
        "height": 0.1, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.11577196, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A20", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00001", 
      "callSign": "call_sign_SIQ00001", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00002", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00002", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00003", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00003", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00004", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00004", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 5, 
        "heightType": "AGL", 
        "longitude": -69.30182154, 
        "height": 2.48, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.11116353, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A10", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00005", 
      "callSign": "call_sign_SIQ00005", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00006", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00006", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00A10", 
      "callSign": "call_sign_SIQ00007", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00007", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00A20", 
      "callSign": "call_sign_SIQ00008", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00008", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00009", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00009", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00010", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00010", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00011", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00011", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 12, 
        "heightType": "AGL", 
        "longitude": -69.38674467, 
        "height": 1.75, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.20681601, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A20", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00012", 
      "callSign": "call_sign_SIQ00012", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00013", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00013", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00014", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00014", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00A10", 
      "callSign": "call_sign_SIQ00015", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00015", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00016", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00016", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00017", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00017", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00A30", 
      "callSign": "call_sign_SIQ00018", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00018", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00019", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00019", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 20, 
        "heightType": "AGL", 
        "longitude": -69.22275439, 
        "height": 4.72, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 44.06131133, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A30", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00020", 
      "callSign": "call_sign_SIQ00020", 
      "cbsdCategory": "A"
    }
  ], 
  "expectedResponseCodes": [
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ]
  ], 
  "spectrumInquiryRequests": [
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000, 
          "highFrequency": 3640000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000, 
          "highFrequency": 3640000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000, 
          "highFrequency": 3640000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }
  ]
}