{
  "palRecords": [
    {
      "license": {
        "licenseAreaExtent": "zone/census_tract/census/2010/20041084200", 
        "licenseFrequencyChannelId": "1", 
        "licenseId": "test_fcc_id_pal_0", 
        "licenseDate": "2017-06-19T10:06:54Z", 
        "licenseAreaIdentifier": "20041084200", 
        "licenseExpiration": "2019-06-19T10:06:54Z"
      }, 
      "registrationInformation": {
        "callSign": "call_sign_pal_0", 
        "frn": "test_fcc_frn_pal_0", 
        "licenseConditions": "license_pal_0", 
        "registrationDate": "2017-06-19T10:06:54Z"
      }, 
      "userId": "user_GRA00097", 
      "licensee": "CBSD Operator No.1", 
      "channelAssignment": {
        "primaryAssignment": {
          "lowFrequency": 3630000000, 
          "highFrequency": 3640000000
        }
      }, 
      "licenseStatus": "VALID", 
      "palId": "pal/06-2017/20041084200/1"
    }
  ], 
  "conditionalRegistrationData": [
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.8702, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.147617, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B20", 
      "cbsdSerialNumber": "sn_GRA00003", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.701756, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.096742, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B20", 
      "cbsdSerialNumber": "sn_GRA00004", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.531922, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.105322, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B20", 
      "cbsdSerialNumber": "sn_GRA00005", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.430414, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.108283, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B47", 
      "cbsdSerialNumber": "sn_GRA00006", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -104.009111, 
        "height": 30, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.102742, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B20", 
      "cbsdSerialNumber": "sn_GRA00007", 
      "cbsdCategory": "B"
    }
  ], 
  "registrationRequests": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -105.201528, 
        "height": 15, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.128831, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_GRA00A20", 
      "userId": "user_GRA00097", 
      "cbsdSerialNumber": "sn_GRA00001", 
      "callSign": "call_sign_GRA00001", 
      "cbsdCategory": "A"
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 180, 
        "heightType": "AGL", 
        "longitude": -105.191864, 
        "height": 15, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 40.125158, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_GRA00A20", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00002", 
      "callSign": "call_sign_GRA00002", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_GRA00B20", 
      "callSign": "call_sign_GRA00003", 
      "userId": "user_GRA00097", 
      "cbsdSerialNumber": "sn_GRA00003", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B20", 
      "callSign": "call_sign_GRA00004", 
      "userId": "user_GRA00098", 
      "cbsdSerialNumber": "sn_GRA00004", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B20", 
      "callSign": "call_sign_GRA00005", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00005", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B47", 
      "callSign": "call_sign_GRA00006", 
      "userId": "user_GRA00098", 
      "cbsdSerialNumber": "sn_GRA00006", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B20", 
      "callSign": "call_sign_GRA00007", 
      "userId": "user_GRA00096", 
      "cbsdSerialNumber": "sn_GRA00007", 
      "measCapability": []
    }
  ], 
  "ppas": [
    {
      "ppaRecord": {
        "terminated": false, 
        "name": "PPA Zone 0", 
        "zone": {
          "type": "FeatureCollection", 
          "features": [
            {
              "geometry": {
                "type": "Polygon", 
                "coordinates": [
                  [
                    [
                      -105.181528, 
                      40.108831
                    ], 
                    [
                      -105.181528, 
                      40.148831
                    ], 
                    [
                      -105.221528, 
                      40.148831
                    ], 
                    [
                      -105.221528, 
                      40.108831
                    ], 
                    [
                      -105.181528, 
                      40.108831
                    ]
                  ]
                ]
              }, 
              "type": "Feature", 
              "properties": {}
            }
          ]
        }, 
        "creator": "admin_0", 
        "ppaInfo": {
          "ppaBeginDate": "2017-06-19T10:06:54Z", 
          "ppaExpirationDate": "2019-06-19T10:06:54Z", 
          "ppaRegionType": "URBAN", 
          "cbsdReferenceId": [], 
          "palId": [
            "pal/06-2017/20041084200/1"
          ]
        }, 
        "usage": "PPA", 
        "id": "zone/ppa/admin_0/pal/06-2017/20041084200/1/f675f4539848404f8182aecce9316275"
      }, 
      "ppaClusterList": []
    }
  ], 
  "grantRequests": [
    {
      "operationParam": {
        "maxEirp": 5, 
        "operationFrequencyRange": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "cbsdId": 0
    }, 
    {
      "operationParam": {
        "maxEirp": 6, 
        "operationFrequencyRange": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "cbsdId": 1
    }, 
    {
      "operationParam": {
        "maxEirp": 10, 
        "operationFrequencyRange": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "cbsdId": 2
    }, 
    {
      "operationParam": {
        "maxEirp": 7, 
        "operationFrequencyRange": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "cbsdId": 3
    }, 
    {
      "operationParam": {
        "maxEirp": 9, 
        "operationFrequencyRange": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "cbsdId": 4
    }, 
    {
      "operationParam": {
        "maxEirp": 33, 
        "operationFrequencyRange": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "cbsdId": 5
    }, 
    {
      "operationParam": {
        "maxEirp": 5, 
        "operationFrequencyRange": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "cbsdId": 6
    }
  ], 
  "expectedResponseCodes": [
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ]
  ]
}