{
  "initialCbsdRequestsWithDomainProxies": [
    {
      "conditionalRegistrationData": [
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 84,
            "heightType": "AGL",
            "longitude": -122.8436484,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.72607187,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 15.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000000",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 52,
            "heightType": "AGL",
            "longitude": -122.5796985,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.80262623,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 53.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000001",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 322,
            "heightType": "AGL",
            "longitude": -122.5225976,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.82313019,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 16.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000002",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 269,
            "heightType": "AGL",
            "longitude": -122.4818829,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.8369133,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 45.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000003",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 127,
            "heightType": "AGL",
            "longitude": -122.4552014,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.84510118,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 71.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000004",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 77,
            "heightType": "AGL",
            "longitude": -122.4268883,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.85366216,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 80.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000005",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 348,
            "heightType": "AGL",
            "longitude": -122.3659955,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.87046477,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 65.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000006",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 147,
            "heightType": "AGL",
            "longitude": -122.3267066,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.88207885,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 43.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000007",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 226,
            "heightType": "AGL",
            "longitude": -122.288965,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.89490348,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 35.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000008",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 193,
            "heightType": "AGL",
            "longitude": -122.2485709,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.9095119,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 69.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000009",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 54,
            "heightType": "AGL",
            "longitude": -121.9539692,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 46.00018037,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 14.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000010",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 77,
            "heightType": "AGL",
            "longitude": -122.4268883,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.85366216,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 80.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000011",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 70,
            "heightType": "AMSL",
            "longitude": -122.39564,
            "antennaGain": 17,
            "indoorDeployment": false,
            "latitude": 45.862889,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 304.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000012",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 70,
            "heightType": "AMSL",
            "longitude": -122.39564,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.862889,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 345.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000013",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 70,
            "heightType": "AMSL",
            "longitude": -122.39564,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.862889,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 345.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000014",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 70,
            "heightType": "AMSL",
            "longitude": -122.39564,
            "antennaGain": 17,
            "indoorDeployment": false,
            "latitude": 45.862889,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 304.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000015",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 70,
            "heightType": "AMSL",
            "longitude": -122.39564,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.862889,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 345.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000016",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 250,
            "heightType": "AMSL",
            "longitude": -122.391619,
            "antennaGain": -10,
            "indoorDeployment": false,
            "latitude": 45.863869,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 220.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000017",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 250,
            "heightType": "AMSL",
            "longitude": -122.391619,
            "antennaGain": -10,
            "indoorDeployment": false,
            "latitude": 45.863869,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 304.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000018",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 250,
            "heightType": "AMSL",
            "longitude": -122.391619,
            "antennaGain": -10,
            "indoorDeployment": false,
            "latitude": 45.863869,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 345.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000019",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 348,
            "heightType": "AGL",
            "longitude": -122.3659955,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 45.87046477,
            "antennaDowntilt": 0,
            "antennaBeamwidth": 120,
            "height": 65.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000020",
          "cbsdCategory": "B"
        }
      ],
      "registrationRequests": [
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000000",
          "cbsdSerialNumber": "test_serial_number_000000",
          "callSign": "callsign_000000"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000004",
          "cbsdSerialNumber": "test_serial_number_000001",
          "callSign": "callsign_000001"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000000",
          "cbsdSerialNumber": "test_serial_number_000002",
          "callSign": "callsign_000002"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000000",
          "cbsdSerialNumber": "test_serial_number_000003",
          "callSign": "callsign_000003"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000004",
          "cbsdSerialNumber": "test_serial_number_000004",
          "callSign": "callsign_000004"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000004",
          "cbsdSerialNumber": "test_serial_number_000005",
          "callSign": "callsign_000005"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000001",
          "cbsdSerialNumber": "test_serial_number_000006",
          "callSign": "callsign_000006"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000002",
          "cbsdSerialNumber": "test_serial_number_000007",
          "callSign": "callsign_000007"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000000",
          "cbsdSerialNumber": "test_serial_number_000008",
          "callSign": "callsign_000008"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000004",
          "cbsdSerialNumber": "test_serial_number_000009",
          "callSign": "callsign_000009"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000004",
          "cbsdSerialNumber": "test_serial_number_000010",
          "callSign": "callsign_000010"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000004",
          "cbsdSerialNumber": "test_serial_number_000011",
          "callSign": "callsign_000011"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000005",
          "cbsdSerialNumber": "test_serial_number_000012",
          "callSign": "callsign_000012"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000002",
          "cbsdSerialNumber": "test_serial_number_000013",
          "callSign": "callsign_000013"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000001",
          "cbsdSerialNumber": "test_serial_number_000014",
          "callSign": "callsign_000014"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000002",
          "cbsdSerialNumber": "test_serial_number_000015",
          "callSign": "callsign_000015"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000005",
          "cbsdSerialNumber": "test_serial_number_000016",
          "callSign": "callsign_000016"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000002",
          "cbsdSerialNumber": "test_serial_number_000017",
          "callSign": "callsign_000017"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000002",
          "cbsdSerialNumber": "test_serial_number_000018",
          "callSign": "callsign_000018"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000001",
          "cbsdSerialNumber": "test_serial_number_000019",
          "callSign": "callsign_000019"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000003",
          "cbsdSerialNumber": "test_serial_number_000020",
          "callSign": "callsign_000020"
        }
      ],
      "grantRequests": [
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3630000000,
              "highFrequency": 3640000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3630000000,
              "highFrequency": 3640000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3630000000,
              "highFrequency": 3640000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3630000000,
              "highFrequency": 3640000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3615000000,
              "highFrequency": 3625000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3630000000,
              "highFrequency": 3640000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3630000000,
              "highFrequency": 3640000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3615000000,
              "highFrequency": 3625000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3630000000,
              "highFrequency": 3640000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3630000000,
              "highFrequency": 3640000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3630000000,
              "highFrequency": 3640000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3690000000,
              "highFrequency": 3700000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3615000000,
              "highFrequency": 3625000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3615000000,
              "highFrequency": 3625000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3605000000,
              "highFrequency": 3615000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3690000000,
              "highFrequency": 3700000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3690000000,
              "highFrequency": 3700000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3615000000,
              "highFrequency": 3625000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3615000000,
              "highFrequency": 3625000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3615000000,
              "highFrequency": 3625000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 37,
            "operationFrequencyRange": {
              "lowFrequency": 3690000000,
              "highFrequency": 3700000000
            }
          }
        }
      ]
    }
  ],
  "dpas": {},
  "domainProxyConfigs": [
    {
      "cert": "certs/domain_proxy.cert",
      "key": "certs/domain_proxy.key"
    }
  ],
  "iterationData": [
    {
      "sasTestHarnessData": [],
      "dpaDeactivationList": [],
      "protectedEntities": {
        "fssRecords": [
          {
            "ttc": false,
            "record": {
              "deploymentParam": [
                {
                  "installationParam": {
                    "antennaAzimuth": 246,
                    "heightType": "AGL",
                    "longitude": -122.395639,
                    "antennaGain": 15,
                    "latitude": 45.862889,
                    "antennaDowntilt": -3,
                    "antennaBeamwidth": 18,
                    "height": 20.0
                  },
                  "operationParam": {
                    "operationFrequencyRange": {
                      "lowFrequency": 3625000000,
                      "highFrequency": 4200000000
                    }
                  }
                }
              ],
              "type": "FSS",
              "id": "incumbent/ibfs/d26a26ba-3fe8-40cd-8195-de7d8833bc96"
            }
          }
        ]
      },
      "cbsdRecords": [],
      "cbsdRequestsWithDomainProxies": [
        {
          "conditionalRegistrationData": [],
          "registrationRequests": [],
          "grantRequests": []
        }
      ],
      "dpaActivationList": []
    }
  ],
  "sasTestHarnessConfigs": [],
  "initialCbsdRecords": []
}