{
  "initialCbsdRequestsWithDomainProxies": [
    {
      "conditionalRegistrationData": [
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 302,
            "heightType": "AGL",
            "longitude": -81.37985768,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 30.05317605,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 86.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000000",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 26,
            "heightType": "AGL",
            "longitude": -81.61897697,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 30.45524831,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 39.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000001",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 246,
            "heightType": "AGL",
            "longitude": -81.50151035,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 30.26886009,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 48.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000002",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 28,
            "heightType": "AGL",
            "longitude": -81.38815988,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 30.20683392,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 8.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000003",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 265,
            "heightType": "AGL",
            "longitude": -81.41599503,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 30.47576671,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 38.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000004",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 24,
            "heightType": "AGL",
            "longitude": -81.6483307,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 30.36962382,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 55.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000005",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 248,
            "heightType": "AGL",
            "longitude": -81.68622792,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 30.00717468,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 37.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000006",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 272,
            "heightType": "AGL",
            "longitude": -81.73502132,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 30.42016556,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 37.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000007",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 299,
            "heightType": "AGL",
            "longitude": -81.70966485,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 30.15923327,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 7.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000008",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 306,
            "heightType": "AGL",
            "longitude": -81.68286591,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 30.50487971,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 98.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000009",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 336,
            "heightType": "AGL",
            "longitude": -81.77628375,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 30.14420582,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 7.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000010",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 222,
            "heightType": "AGL",
            "longitude": -81.59553949,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 30.22343305,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 58.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000011",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 72,
            "heightType": "AGL",
            "longitude": -81.55283364,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 29.94636714,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 43.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000012",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 240,
            "heightType": "AGL",
            "longitude": -81.6760902,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 30.3282155,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 18.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000013",
          "cbsdCategory": "B"
        },
        {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "antennaAzimuth": 339,
            "heightType": "AGL",
            "longitude": -81.4578661,
            "antennaGain": 16,
            "indoorDeployment": false,
            "latitude": 30.55282141,
            "antennaDowntilt": 12,
            "antennaBeamwidth": 360,
            "height": 92.0
          },
          "measCapability": [],
          "fccId": "test_fcc_id_000000",
          "cbsdSerialNumber": "test_serial_number_000014",
          "cbsdCategory": "B"
        }
      ],
      "registrationRequests": [
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000001",
          "cbsdSerialNumber": "test_serial_number_000000",
          "callSign": "callsign_000000"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000001",
          "cbsdSerialNumber": "test_serial_number_000001",
          "callSign": "callsign_000001"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000000",
          "cbsdSerialNumber": "test_serial_number_000002",
          "callSign": "callsign_000002"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000004",
          "cbsdSerialNumber": "test_serial_number_000003",
          "callSign": "callsign_000003"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000002",
          "cbsdSerialNumber": "test_serial_number_000004",
          "callSign": "callsign_000004"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000001",
          "cbsdSerialNumber": "test_serial_number_000005",
          "callSign": "callsign_000005"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000004",
          "cbsdSerialNumber": "test_serial_number_000006",
          "callSign": "callsign_000006"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000003",
          "cbsdSerialNumber": "test_serial_number_000007",
          "callSign": "callsign_000007"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000005",
          "cbsdSerialNumber": "test_serial_number_000008",
          "callSign": "callsign_000008"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000001",
          "cbsdSerialNumber": "test_serial_number_000009",
          "callSign": "callsign_000009"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000004",
          "cbsdSerialNumber": "test_serial_number_000010",
          "callSign": "callsign_000010"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000000",
          "cbsdSerialNumber": "test_serial_number_000011",
          "callSign": "callsign_000011"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000002",
          "cbsdSerialNumber": "test_serial_number_000012",
          "callSign": "callsign_000012"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000002",
          "cbsdSerialNumber": "test_serial_number_000013",
          "callSign": "callsign_000013"
        },
        {
          "fccId": "test_fcc_id_000000",
          "userId": "test_user_id_000001",
          "cbsdSerialNumber": "test_serial_number_000014",
          "callSign": "callsign_000014"
        }
      ],
      "grantRequests": [
        {
          "operationParam": {
            "maxEirp": 33,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 33,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 33,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 33,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 33,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 33,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 33,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 33,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 33,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 33,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 33,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 33,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 33,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 30,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        },
        {
          "operationParam": {
            "maxEirp": 33,
            "operationFrequencyRange": {
              "lowFrequency": 3625000000,
              "highFrequency": 3630000000
            }
          }
        }
      ]
    }
  ],
  "dpas": {},
  "domainProxyConfigs": [
    {
      "cert": "certs/domain_proxy.cert",
      "key": "certs/domain_proxy.key"
    }
  ],
  "iterationData": [
    {
      "sasTestHarnessData": [],
      "dpaDeactivationList": [],
      "protectedEntities": {
        "ppaRecords": [
          {
            "terminated": false,
            "name": "PPA.1",
            "zone": {
              "type": "FeatureCollection",
              "features": [
                {
                  "geometry": {
                    "type": "Polygon",
                    "coordinates": [
                      [
                        [
                          -81.459147,
                          30.309135
                        ],
                        [
                          -81.459129,
                          30.309332
                        ],
                        [
                          -81.459093,
                          30.309642
                        ],
                        [
                          -81.459004,
                          30.310244
                        ],
                        [
                          -81.458925,
                          30.310687
                        ],
                        [
                          -81.458894,
                          30.310805
                        ],
                        [
                          -81.458845,
                          30.311024
                        ],
                        [
                          -81.458722,
                          30.311485
                        ],
                        [
                          -81.458697,
                          30.311588
                        ],
                        [
                          -81.458481,
                          30.31231
                        ],
                        [
                          -81.458426,
                          30.312462
                        ],
                        [
                          -81.458371,
                          30.312625
                        ],
                        [
                          -81.458352,
                          30.312681
                        ],
                        [
                          -81.458253,
                          30.312942
                        ],
                        [
                          -81.458163,
                          30.313166
                        ],
                        [
                          -81.458135,
                          30.313223
                        ],
                        [
                          -81.457972,
                          30.313611
                        ],
                        [
                          -81.457755,
                          30.314073
                        ],
                        [
                          -81.457638,
                          30.314343
                        ],
                        [
                          -81.457548,
                          30.31461
                        ],
                        [
                          -81.457459,
                          30.314961
                        ],
                        [
                          -81.457416,
                          30.315242
                        ],
                        [
                          -81.457404,
                          30.315449
                        ],
                        [
                          -81.457405,
                          30.315659
                        ],
                        [
                          -81.457421,
                          30.31591
                        ],
                        [
                          -81.457453,
                          30.316128
                        ],
                        [
                          -81.457491,
                          30.316306
                        ],
                        [
                          -81.457531,
                          30.316465
                        ],
                        [
                          -81.457694,
                          30.316937
                        ],
                        [
                          -81.457813,
                          30.317241
                        ],
                        [
                          -81.457961,
                          30.317683
                        ],
                        [
                          -81.458096,
                          30.318006
                        ],
                        [
                          -81.458274,
                          30.318472
                        ],
                        [
                          -81.458359,
                          30.318741
                        ],
                        [
                          -81.458409,
                          30.318919
                        ],
                        [
                          -81.458441,
                          30.319121
                        ],
                        [
                          -81.458489,
                          30.319515
                        ],
                        [
                          -81.458531,
                          30.319891
                        ],
                        [
                          -81.458546,
                          30.320027
                        ],
                        [
                          -81.458557,
                          30.320103
                        ],
                        [
                          -81.458584,
                          30.320286
                        ],
                        [
                          -81.462837,
                          30.319968
                        ],
                        [
                          -81.464797,
                          30.319832
                        ],
                        [
                          -81.467965,
                          30.319587
                        ],
                        [
                          -81.468352,
                          30.319558
                        ],
                        [
                          -81.469123,
                          30.319481
                        ],
                        [
                          -81.469287,
                          30.319456
                        ],
                        [
                          -81.469362,
                          30.319446
                        ],
                        [
                          -81.469729,
                          30.319383
                        ],
                        [
                          -81.469933,
                          30.319343
                        ],
                        [
                          -81.47188,
                          30.31868
                        ],
                        [
                          -81.472988,
                          30.318258
                        ],
                        [
                          -81.474798,
                          30.317723
                        ],
                        [
                          -81.475447,
                          30.31764
                        ],
                        [
                          -81.47609,
                          30.317604
                        ],
                        [
                          -81.476954,
                          30.317663
                        ],
                        [
                          -81.479459,
                          30.317999
                        ],
                        [
                          -81.480271,
                          30.318109
                        ],
                        [
                          -81.481232,
                          30.318239
                        ],
                        [
                          -81.484958,
                          30.31874
                        ],
                        [
                          -81.484684,
                          30.318402
                        ],
                        [
                          -81.484741,
                          30.317524
                        ],
                        [
                          -81.484906,
                          30.314999
                        ],
                        [
                          -81.484954,
                          30.314263
                        ],
                        [
                          -81.484971,
                          30.313999
                        ],
                        [
                          -81.485072,
                          30.312471
                        ],
                        [
                          -81.484517,
                          30.311584
                        ],
                        [
                          -81.48407,
                          30.310867
                        ],
                        [
                          -81.48415,
                          30.310643
                        ],
                        [
                          -81.484258,
                          30.31025
                        ],
                        [
                          -81.484315,
                          30.310099
                        ],
                        [
                          -81.484359,
                          30.309947
                        ],
                        [
                          -81.484423,
                          30.309773
                        ],
                        [
                          -81.484461,
                          30.309576
                        ],
                        [
                          -81.48446,
                          30.30942
                        ],
                        [
                          -81.484453,
                          30.309263
                        ],
                        [
                          -81.484407,
                          30.309072
                        ],
                        [
                          -81.484308,
                          30.308753
                        ],
                        [
                          -81.484209,
                          30.308366
                        ],
                        [
                          -81.484124,
                          30.308059
                        ],
                        [
                          -81.484045,
                          30.307795
                        ],
                        [
                          -81.48398,
                          30.307627
                        ],
                        [
                          -81.483869,
                          30.307409
                        ],
                        [
                          -81.483804,
                          30.307314
                        ],
                        [
                          -81.483732,
                          30.307219
                        ],
                        [
                          -81.483666,
                          30.307158
                        ],
                        [
                          -81.483585,
                          30.307101
                        ],
                        [
                          -81.48351,
                          30.307055
                        ],
                        [
                          -81.483432,
                          30.307015
                        ],
                        [
                          -81.483806,
                          30.306496
                        ],
                        [
                          -81.484867,
                          30.306475
                        ],
                        [
                          -81.48904,
                          30.306395
                        ],
                        [
                          -81.489033,
                          30.306006
                        ],
                        [
                          -81.489015,
                          30.305482
                        ],
                        [
                          -81.488992,
                          30.304088
                        ],
                        [
                          -81.488954,
                          30.302229
                        ],
                        [
                          -81.488891,
                          30.299191
                        ],
                        [
                          -81.488861,
                          30.29747
                        ],
                        [
                          -81.488817,
                          30.295288
                        ],
                        [
                          -81.488777,
                          30.29354
                        ],
                        [
                          -81.48872,
                          30.290964
                        ],
                        [
                          -81.488694,
                          30.289599
                        ],
                        [
                          -81.488665,
                          30.287629
                        ],
                        [
                          -81.48868,
                          30.287329
                        ],
                        [
                          -81.486554,
                          30.287351
                        ],
                        [
                          -81.484034,
                          30.287378
                        ],
                        [
                          -81.482971,
                          30.287395
                        ],
                        [
                          -81.482073,
                          30.287405
                        ],
                        [
                          -81.47393,
                          30.287499
                        ],
                        [
                          -81.473096,
                          30.287509
                        ],
                        [
                          -81.467271,
                          30.287575
                        ],
                        [
                          -81.464243,
                          30.28761
                        ],
                        [
                          -81.461807,
                          30.287635
                        ],
                        [
                          -81.459209,
                          30.287665
                        ],
                        [
                          -81.458838,
                          30.287665
                        ],
                        [
                          -81.458892,
                          30.287862
                        ],
                        [
                          -81.458902,
                          30.287948
                        ],
                        [
                          -81.458911,
                          30.288495
                        ],
                        [
                          -81.458921,
                          30.289049
                        ],
                        [
                          -81.458938,
                          30.289928
                        ],
                        [
                          -81.45895,
                          30.290745
                        ],
                        [
                          -81.458966,
                          30.291595
                        ],
                        [
                          -81.458978,
                          30.292505
                        ],
                        [
                          -81.458994,
                          30.293301
                        ],
                        [
                          -81.459007,
                          30.294205
                        ],
                        [
                          -81.459013,
                          30.295005
                        ],
                        [
                          -81.459023,
                          30.295693
                        ],
                        [
                          -81.459039,
                          30.296699
                        ],
                        [
                          -81.459106,
                          30.301018
                        ],
                        [
                          -81.459114,
                          30.301556
                        ],
                        [
                          -81.45912,
                          30.301896
                        ],
                        [
                          -81.459126,
                          30.302284
                        ],
                        [
                          -81.459143,
                          30.303201
                        ],
                        [
                          -81.459182,
                          30.306059
                        ],
                        [
                          -81.459188,
                          30.306533
                        ],
                        [
                          -81.459202,
                          30.307453
                        ],
                        [
                          -81.459198,
                          30.308168
                        ],
                        [
                          -81.459174,
                          30.308771
                        ],
                        [
                          -81.459147,
                          30.309135
                        ]
                      ]
                    ]
                  },
                  "type": "Feature",
                  "properties": {}
                }
              ]
            },
            "creator": "admin_PPA.1",
            "ppaInfo": {
              "ppaRegionType": "RURAL",
              "ppaExpirationDate": "2023-07-07T14:43:06Z",
              "ppaBeginDate": "2017-10-26T20:11:08Z",
              "cbsdReferenceId": [],
              "palId": [
                "pal/10-2017/12031/3"
              ]
            },
            "usage": "PPA",
            "id": "zone/ppa/admin_PPA.1/pal/10-2017/12031/3/90b816a74133483a99f8a501c06f9165"
          }
        ],
        "palRecords": [
          {
            "license": {
              "licenseAreaExtent": "zone/county/census/2017/12031",
              "licenseFrequencyChannelId": "3",
              "licenseId": "test_fcc_id_pal_Licensee_1",
              "licenseDate": "2017-10-26T20:11:08Z",
              "licenseAreaIdentifier": "12031",
              "licenseExpiration": "2023-07-07T14:43:06Z"
            },
            "registrationInformation": {
              "callSign": "call_sign_pal_",
              "frn": "test_fcc_frn_pal_",
              "licenseConditions": "license_pal_",
              "registrationDate": "2017-10-26T20:11:08Z"
            },
            "userId": "user_1",
            "licensee": "CBSD Operator No.1",
            "channelAssignment": {
              "primaryAssignment": {
                "lowFrequency": 3620000000,
                "highFrequency": 3630000000
              }
            },
            "licenseStatus": "VALID",
            "palId": "pal/10-2017/12031/3"
          }
        ]
      },
      "cbsdRecords": [],
      "cbsdRequestsWithDomainProxies": [
        {
          "conditionalRegistrationData": [],
          "registrationRequests": [],
          "grantRequests": []
        }
      ],
      "dpaActivationList": []
    }
  ],
  "sasTestHarnessConfigs": [],
  "initialCbsdRecords": []
}