[
    {
        "reliabilityLevel": -1.0, 
        "ppa": {
            "geometry": {
                "type": "Polygon", 
                "coordinates": [
                    [
                        [
                            -94.57652777888889, 
                            39.058472218888895
                        ], 
                        [
                            -94.57652777888889, 
                            39.05819444111111
                        ], 
                        [
                            -94.57625000111112, 
                            39.05819444111111
                        ], 
                        [
                            -94.57625000111112, 
                            39.058472218888895
                        ], 
                        [
                            -94.57652777888889, 
                            39.058472218888895
                        ]
                    ]
                ]
            }, 
            "type": "Feature", 
            "properties": {}
        }, 
        "cbsd": {
            "indoorDeployment": false, 
            "antennaBeamwidth": 360, 
            "height": 50.0, 
            "latitude": 39.057968, 
            "antennaAzimuth": 23, 
            "heightType": "AGL", 
            "longitude": -94.576545, 
            "antennaGain": 16
        }
    }, 
    {
        "reliabilityLevel": -1.0, 
        "ppa": {
            "geometry": {
                "type": "Polygon", 
                "coordinates": [
                    [
                        [
                            -94.57652777888889, 
                            39.058472218888895
                        ], 
                        [
                            -94.57652777888889, 
                            39.05819444111111
                        ], 
                        [
                            -94.57625000111112, 
                            39.05819444111111
                        ], 
                        [
                            -94.57625000111112, 
                            39.058472218888895
                        ], 
                        [
                            -94.57652777888889, 
                            39.058472218888895
                        ]
                    ]
                ]
            }, 
            "type": "Feature", 
            "properties": {}
        }, 
        "cbsd": {
            "indoorDeployment": false, 
            "antennaBeamwidth": 360, 
            "height": 30.0, 
            "latitude": 39.058619, 
            "antennaAzimuth": 94, 
            "heightType": "AGL", 
            "longitude": -94.575368, 
            "antennaGain": 16
        }
    }, 
    {
        "reliabilityLevel": -1.0, 
        "ppa": {
            "geometry": {
                "type": "Polygon", 
                "coordinates": [
                    [
                        [
                            -94.57652777888889, 
                            39.058472218888895
                        ], 
                        [
                            -94.57652777888889, 
                            39.05819444111111
                        ], 
                        [
                            -94.57625000111112, 
                            39.05819444111111
                        ], 
                        [
                            -94.57625000111112, 
                            39.058472218888895
                        ], 
                        [
                            -94.57652777888889, 
                            39.058472218888895
                        ]
                    ]
                ]
            }, 
            "type": "Feature", 
            "properties": {}
        }, 
        "cbsd": {
            "indoorDeployment": false, 
            "antennaBeamwidth": 360, 
            "height": 10.0, 
            "latitude": 39.058664, 
            "antennaAzimuth": 225, 
            "heightType": "AGL", 
            "longitude": -94.576394, 
            "antennaGain": 16
        }
    }, 
    {
        "reliabilityLevel": -1.0, 
        "ppa": {
            "geometry": {
                "type": "Polygon", 
                "coordinates": [
                    [
                        [
                            -94.57652777888889, 
                            39.058472218888895
                        ], 
                        [
                            -94.57652777888889, 
                            39.05819444111111
                        ], 
                        [
                            -94.57625000111112, 
                            39.05819444111111
                        ], 
                        [
                            -94.57625000111112, 
                            39.058472218888895
                        ], 
                        [
                            -94.57652777888889, 
                            39.058472218888895
                        ]
                    ]
                ]
            }, 
            "type": "Feature", 
            "properties": {}
        }, 
        "cbsd": {
            "indoorDeployment": false, 
            "antennaBeamwidth": 360, 
            "height": 50.0, 
            "latitude": 39.05328, 
            "antennaAzimuth": 106, 
            "heightType": "AGL", 
            "longitude": -95.688075, 
            "antennaGain": 16
        }
    }, 
    {
        "reliabilityLevel": -1.0, 
        "ppa": {
            "geometry": {
                "type": "Polygon", 
                "coordinates": [
                    [
                        [
                            -94.57652777888889, 
                            39.058472218888895
                        ], 
                        [
                            -94.57652777888889, 
                            39.05819444111111
                        ], 
                        [
                            -94.57625000111112, 
                            39.05819444111111
                        ], 
                        [
                            -94.57625000111112, 
                            39.058472218888895
                        ], 
                        [
                            -94.57652777888889, 
                            39.058472218888895
                        ]
                    ]
                ]
            }, 
            "type": "Feature", 
            "properties": {}
        }, 
        "cbsd": {
            "indoorDeployment": false, 
            "antennaBeamwidth": 360, 
            "height": 30.0, 
            "latitude": 39.771818, 
            "antennaAzimuth": 352, 
            "heightType": "AGL", 
            "longitude": -94.849069, 
            "antennaGain": 16
        }
    }, 
    {
        "reliabilityLevel": -1.0, 
        "ppa": {
            "geometry": {
                "type": "Polygon", 
                "coordinates": [
                    [
                        [
                            -94.57652777888889, 
                            39.058472218888895
                        ], 
                        [
                            -94.57652777888889, 
                            39.05819444111111
                        ], 
                        [
                            -94.57625000111112, 
                            39.05819444111111
                        ], 
                        [
                            -94.57625000111112, 
                            39.058472218888895
                        ], 
                        [
                            -94.57652777888889, 
                            39.058472218888895
                        ]
                    ]
                ]
            }, 
            "type": "Feature", 
            "properties": {}
        }, 
        "cbsd": {
            "indoorDeployment": false, 
            "antennaBeamwidth": 360, 
            "height": 10.0, 
            "latitude": 39.797054, 
            "antennaAzimuth": 218, 
            "heightType": "AGL", 
            "longitude": -93.552846, 
            "antennaGain": 16
        }
    }
]