[
    {
        "reliabilityLevel": -1.0, 
        "ppa": {
            "geometry": {
                "type": "Polygon", 
                "coordinates": [
                    [
                        [
                            -115.93097218888889, 
                            33.21041666888889
                        ], 
                        [
                            -115.93097218888889, 
                            33.21013889111111
                        ], 
                        [
                            -115.93069441111112, 
                            33.21013889111111
                        ], 
                        [
                            -115.93069441111112, 
                            33.21041666888889
                        ], 
                        [
                            -115.93097218888889, 
                            33.21041666888889
                        ]
                    ]
                ]
            }, 
            "type": "Feature", 
            "properties": {}
        }, 
        "cbsd": {
            "indoorDeployment": false, 
            "antennaBeamwidth": 360, 
            "height": 5.0, 
            "latitude": 32.973708, 
            "antennaAzimuth": 130, 
            "heightType": "AGL", 
            "longitude": -115.977404, 
            "antennaGain": 16
        }
    }, 
    {
        "reliabilityLevel": -1.0, 
        "ppa": {
            "geometry": {
                "type": "Polygon", 
                "coordinates": [
                    [
                        [
                            -115.93097218888889, 
                            33.21041666888889
                        ], 
                        [
                            -115.93097218888889, 
                            33.21013889111111
                        ], 
                        [
                            -115.93069441111112, 
                            33.21013889111111
                        ], 
                        [
                            -115.93069441111112, 
                            33.21041666888889
                        ], 
                        [
                            -115.93097218888889, 
                            33.21041666888889
                        ]
                    ]
                ]
            }, 
            "type": "Feature", 
            "properties": {}
        }, 
        "cbsd": {
            "indoorDeployment": false, 
            "antennaBeamwidth": 360, 
            "height": 25.0, 
            "latitude": 33.260494, 
            "antennaAzimuth": 240, 
            "heightType": "AGL", 
            "longitude": -116.491283, 
            "antennaGain": 16
        }
    }, 
    {
        "reliabilityLevel": -1.0, 
        "ppa": {
            "geometry": {
                "type": "Polygon", 
                "coordinates": [
                    [
                        [
                            -115.93097218888889, 
                            33.21041666888889
                        ], 
                        [
                            -115.93097218888889, 
                            33.21013889111111
                        ], 
                        [
                            -115.93069441111112, 
                            33.21013889111111
                        ], 
                        [
                            -115.93069441111112, 
                            33.21041666888889
                        ], 
                        [
                            -115.93097218888889, 
                            33.21041666888889
                        ]
                    ]
                ]
            }, 
            "type": "Feature", 
            "properties": {}
        }, 
        "cbsd": {
            "indoorDeployment": false, 
            "antennaBeamwidth": 360, 
            "height": 55.0, 
            "latitude": 33.431002, 
            "antennaAzimuth": 225, 
            "heightType": "AGL", 
            "longitude": -116.229566, 
            "antennaGain": 16
        }
    }, 
    {
        "reliabilityLevel": -1.0, 
        "ppa": {
            "geometry": {
                "type": "Polygon", 
                "coordinates": [
                    [
                        [
                            -115.93097218888889, 
                            33.21041666888889
                        ], 
                        [
                            -115.93097218888889, 
                            33.21013889111111
                        ], 
                        [
                            -115.93069441111112, 
                            33.21013889111111
                        ], 
                        [
                            -115.93069441111112, 
                            33.21041666888889
                        ], 
                        [
                            -115.93097218888889, 
                            33.21041666888889
                        ]
                    ]
                ]
            }, 
            "type": "Feature", 
            "properties": {}
        }, 
        "cbsd": {
            "indoorDeployment": false, 
            "antennaBeamwidth": 360, 
            "height": 5.0, 
            "latitude": 33.174282, 
            "antennaAzimuth": 185, 
            "heightType": "AGL", 
            "longitude": -115.872783, 
            "antennaGain": 16
        }
    }, 
    {
        "reliabilityLevel": -1.0, 
        "ppa": {
            "geometry": {
                "type": "Polygon", 
                "coordinates": [
                    [
                        [
                            -115.93097218888889, 
                            33.21041666888889
                        ], 
                        [
                            -115.93097218888889, 
                            33.21013889111111
                        ], 
                        [
                            -115.93069441111112, 
                            33.21013889111111
                        ], 
                        [
                            -115.93069441111112, 
                            33.21041666888889
                        ], 
                        [
                            -115.93097218888889, 
                            33.21041666888889
                        ]
                    ]
                ]
            }, 
            "type": "Feature", 
            "properties": {}
        }, 
        "cbsd": {
            "indoorDeployment": false, 
            "antennaBeamwidth": 360, 
            "height": 25.0, 
            "latitude": 33.241839, 
            "antennaAzimuth": 251, 
            "heightType": "AGL", 
            "longitude": -115.950002, 
            "antennaGain": 16
        }
    }, 
    {
        "reliabilityLevel": -1.0, 
        "ppa": {
            "geometry": {
                "type": "Polygon", 
                "coordinates": [
                    [
                        [
                            -115.93097218888889, 
                            33.21041666888889
                        ], 
                        [
                            -115.93097218888889, 
                            33.21013889111111
                        ], 
                        [
                            -115.93069441111112, 
                            33.21013889111111
                        ], 
                        [
                            -115.93069441111112, 
                            33.21041666888889
                        ], 
                        [
                            -115.93097218888889, 
                            33.21041666888889
                        ]
                    ]
                ]
            }, 
            "type": "Feature", 
            "properties": {}
        }, 
        "cbsd": {
            "indoorDeployment": false, 
            "antennaBeamwidth": 360, 
            "height": 55.0, 
            "latitude": 33.270914, 
            "antennaAzimuth": 357, 
            "heightType": "AGL", 
            "longitude": -115.898615, 
            "antennaGain": 16
        }
    }
]