[
    {
        "reliabilityLevel": -1.0, 
        "fss": {
            "rxAntennaGainRequired": true, 
            "antennaAzimuth": 144, 
            "longitude": -77.573417, 
            "antennaGain": 15, 
            "antennaElevation": 38, 
            "latitude": 38.783778, 
            "height": 7.0
        }, 
        "cbsd": {
            "indoorDeployment": false, 
            "antennaBeamwidth": 360, 
            "height": 8.0, 
            "latitude": 38.954464, 
            "antennaAzimuth": 198, 
            "heightType": "AGL", 
            "longitude": -77.573417, 
            "antennaGain": 16
        }
    }
]