[
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 181,
            "heightType": "AGL",
            "longitude": -76.559935,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.257699,
            "antennaBeamwidth": 360,
            "height": 43.0
        }
    },
    {
        "reliabilityLevel": 0.95,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 181,
            "heightType": "AGL",
            "longitude": -76.559935,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.257699,
            "antennaBeamwidth": 360,
            "height": 43.0
        }
    },
    {
        "reliabilityLevel": 0.05,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 181,
            "heightType": "AGL",
            "longitude": -76.559935,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.257699,
            "antennaBeamwidth": 360,
            "height": 43.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 201,
            "heightType": "AGL",
            "longitude": -76.593172,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.313294,
            "antennaBeamwidth": 360,
            "height": 17.0
        }
    },
    {
        "reliabilityLevel": 0.95,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 201,
            "heightType": "AGL",
            "longitude": -76.593172,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.313294,
            "antennaBeamwidth": 360,
            "height": 17.0
        }
    },
    {
        "reliabilityLevel": 0.05,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 201,
            "heightType": "AGL",
            "longitude": -76.593172,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.313294,
            "antennaBeamwidth": 360,
            "height": 17.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "antennaElevation": 90,
            "antennaGain": 30,
            "longitude": -117.20591,
            "latitude": 32.47601,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 157,
            "heightType": "AGL",
            "longitude": -117.425406,
            "antennaGain": 6,
            "indoorDeployment": false,
            "antennaBeamwidth": 360,
            "latitude": 33.985698,
            "height": 3.0
        }
    },
    {
        "reliabilityLevel": 0.95,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "antennaElevation": 90,
            "antennaGain": 30,
            "longitude": -117.20591,
            "latitude": 32.47601,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 157,
            "heightType": "AGL",
            "longitude": -117.425406,
            "antennaGain": 6,
            "indoorDeployment": false,
            "antennaBeamwidth": 360,
            "latitude": 33.985698,
            "height": 3.0
        }
    },
    {
        "reliabilityLevel": 0.05,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "antennaElevation": 90,
            "antennaGain": 30,
            "longitude": -117.20591,
            "latitude": 32.47601,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 157,
            "heightType": "AGL",
            "longitude": -117.425406,
            "antennaGain": 6,
            "indoorDeployment": false,
            "antennaBeamwidth": 360,
            "latitude": 33.985698,
            "height": 3.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "antennaElevation": 90,
            "antennaGain": 30,
            "longitude": -117.20591,
            "latitude": 32.47601,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 105,
            "heightType": "AGL",
            "longitude": -117.021615,
            "antennaGain": 6,
            "indoorDeployment": false,
            "antennaBeamwidth": 360,
            "latitude": 32.758757,
            "height": 9.0
        }
    },
    {
        "reliabilityLevel": 0.95,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "antennaElevation": 90,
            "antennaGain": 30,
            "longitude": -117.20591,
            "latitude": 32.47601,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 105,
            "heightType": "AGL",
            "longitude": -117.021615,
            "antennaGain": 6,
            "indoorDeployment": false,
            "antennaBeamwidth": 360,
            "latitude": 32.758757,
            "height": 9.0
        }
    },
    {
        "reliabilityLevel": 0.05,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "antennaElevation": 90,
            "antennaGain": 30,
            "longitude": -117.20591,
            "latitude": 32.47601,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 105,
            "heightType": "AGL",
            "longitude": -117.021615,
            "antennaGain": 6,
            "indoorDeployment": false,
            "antennaBeamwidth": 360,
            "latitude": 32.758757,
            "height": 9.0
        }
    }
]