[
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 181,
            "heightType": "AGL",
            "longitude": -76.559935,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.257699,
            "antennaBeamwidth": 360,
            "height": 43.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 201,
            "heightType": "AGL",
            "longitude": -76.593172,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.313294,
            "antennaBeamwidth": 360,
            "height": 17.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 39,
            "heightType": "AGL",
            "longitude": -76.678416,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.396518,
            "antennaBeamwidth": 360,
            "height": 79.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 8,
            "heightType": "AGL",
            "longitude": -76.469188,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.397551,
            "antennaBeamwidth": 360,
            "height": 68.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 15,
            "heightType": "AGL",
            "longitude": -76.465597,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.258265,
            "antennaBeamwidth": 360,
            "height": 90.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 334,
            "heightType": "AGL",
            "longitude": -76.504446,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.14307,
            "antennaBeamwidth": 360,
            "height": 98.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 0,
            "heightType": "AGL",
            "longitude": -75.633509,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.231537,
            "antennaBeamwidth": 360,
            "height": 99.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 229,
            "heightType": "AGL",
            "longitude": -76.499308,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.34337,
            "antennaBeamwidth": 360,
            "height": 58.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 299,
            "heightType": "AGL",
            "longitude": -76.431372,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.225619,
            "antennaBeamwidth": 360,
            "height": 90.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 98,
            "heightType": "AGL",
            "longitude": -76.397254,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.356614,
            "antennaBeamwidth": 360,
            "height": 94.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 40,
            "heightType": "AGL",
            "longitude": -76.43644,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.135144,
            "antennaBeamwidth": 360,
            "height": 74.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 30,
            "heightType": "AGL",
            "longitude": -76.714769,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.296663,
            "antennaBeamwidth": 360,
            "height": 44.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 132,
            "heightType": "AGL",
            "longitude": -76.418623,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.323961,
            "antennaBeamwidth": 360,
            "height": 98.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 139,
            "heightType": "AGL",
            "longitude": -76.565575,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.46653,
            "antennaBeamwidth": 360,
            "height": 47.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 90,
            "heightType": "AGL",
            "longitude": -75.734832,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.326993,
            "antennaBeamwidth": 360,
            "height": 54.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 281,
            "heightType": "AGL",
            "longitude": -76.543066,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.572403,
            "antennaBeamwidth": 360,
            "height": 44.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 316,
            "heightType": "AGL",
            "longitude": -76.816289,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.37233,
            "antennaBeamwidth": 360,
            "height": 53.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 58,
            "heightType": "AGL",
            "longitude": -77.016493,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.209633,
            "antennaBeamwidth": 360,
            "height": 67.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 20,
            "heightType": "AGL",
            "longitude": -76.297982,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 37.82136,
            "antennaBeamwidth": 360,
            "height": 35.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 191,
            "heightType": "AGL",
            "longitude": -76.722006,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.085565,
            "antennaBeamwidth": 360,
            "height": 19.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 24,
            "heightType": "AGL",
            "longitude": -77.070312,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.36068,
            "antennaBeamwidth": 360,
            "height": 42.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 293,
            "heightType": "AGL",
            "longitude": -76.891625,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.354818,
            "antennaBeamwidth": 360,
            "height": 54.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 18,
            "heightType": "AGL",
            "longitude": -76.505409,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.488716,
            "antennaBeamwidth": 360,
            "height": 30.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 81,
            "heightType": "AGL",
            "longitude": -75.893675,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.563342,
            "antennaBeamwidth": 360,
            "height": 94.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 284,
            "heightType": "AGL",
            "longitude": -76.468203,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.262968,
            "antennaBeamwidth": 360,
            "height": 65.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 210,
            "heightType": "AGL",
            "longitude": -76.077713,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.523076,
            "antennaBeamwidth": 360,
            "height": 26.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 117,
            "heightType": "AGL",
            "longitude": -75.724188,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 37.983109,
            "antennaBeamwidth": 360,
            "height": 72.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 286,
            "heightType": "AGL",
            "longitude": -76.078708,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.60722,
            "antennaBeamwidth": 360,
            "height": 68.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 286,
            "heightType": "AGL",
            "longitude": -76.931486,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 37.956471,
            "antennaBeamwidth": 360,
            "height": 82.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 71,
            "heightType": "AGL",
            "longitude": -77.166393,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.272758,
            "antennaBeamwidth": 360,
            "height": 65.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 250,
            "heightType": "AGL",
            "longitude": -76.446592,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 37.756061,
            "antennaBeamwidth": 360,
            "height": 71.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 222,
            "heightType": "AGL",
            "longitude": -76.494848,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.294894,
            "antennaBeamwidth": 360,
            "height": 24.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 3,
            "heightType": "AGL",
            "longitude": -76.094551,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.573911,
            "antennaBeamwidth": 360,
            "height": 49.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 35,
            "heightType": "AGL",
            "longitude": -76.148957,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.535734,
            "antennaBeamwidth": 360,
            "height": 29.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 51,
            "heightType": "AGL",
            "longitude": -77.221591,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.230971,
            "antennaBeamwidth": 360,
            "height": 89.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 66,
            "heightType": "AGL",
            "longitude": -76.55965,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 37.992057,
            "antennaBeamwidth": 360,
            "height": 65.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 295,
            "heightType": "AGL",
            "longitude": -77.208629,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.397926,
            "antennaBeamwidth": 360,
            "height": 94.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 333,
            "heightType": "AGL",
            "longitude": -76.625475,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 37.958753,
            "antennaBeamwidth": 360,
            "height": 48.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 62,
            "heightType": "AGL",
            "longitude": -75.824021,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.246552,
            "antennaBeamwidth": 360,
            "height": 40.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 119,
            "heightType": "AGL",
            "longitude": -76.755048,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.033628,
            "antennaBeamwidth": 360,
            "height": 47.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 233,
            "heightType": "AGL",
            "longitude": -76.629667,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.452227,
            "antennaBeamwidth": 360,
            "height": 89.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 132,
            "heightType": "AGL",
            "longitude": -76.067974,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.564486,
            "antennaBeamwidth": 360,
            "height": 86.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 334,
            "heightType": "AGL",
            "longitude": -76.76245,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.2865,
            "antennaBeamwidth": 360,
            "height": 58.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 18,
            "heightType": "AGL",
            "longitude": -76.36608,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 37.88212,
            "antennaBeamwidth": 360,
            "height": 67.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 25,
            "heightType": "AGL",
            "longitude": -76.944784,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 37.824674,
            "antennaBeamwidth": 360,
            "height": 96.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 157,
            "heightType": "AGL",
            "longitude": -75.847741,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 37.972157,
            "antennaBeamwidth": 360,
            "height": 53.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 69,
            "heightType": "AGL",
            "longitude": -76.564992,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.566663,
            "antennaBeamwidth": 360,
            "height": 91.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 89,
            "heightType": "AGL",
            "longitude": -77.084153,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.222596,
            "antennaBeamwidth": 360,
            "height": 29.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 228,
            "heightType": "AGL",
            "longitude": -75.845466,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.073957,
            "antennaBeamwidth": 360,
            "height": 34.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 62,
            "heightType": "AGL",
            "longitude": -76.170561,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.253958,
            "antennaBeamwidth": 360,
            "height": 54.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 212,
            "heightType": "AGL",
            "longitude": -76.016944,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.069725,
            "antennaBeamwidth": 360,
            "height": 31.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 37,
            "heightType": "AGL",
            "longitude": -75.895692,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.432371,
            "antennaBeamwidth": 360,
            "height": 72.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 289,
            "heightType": "AGL",
            "longitude": -76.398371,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.379477,
            "antennaBeamwidth": 360,
            "height": 34.0
        }
    },
    {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -76.434722,
            "antennaGain": 30,
            "antennaElevation": 90,
            "latitude": 38.144722,
            "height": 50.0
        },
        "cbsd": {
            "antennaAzimuth": 157,
            "heightType": "AGL",
            "longitude": -76.424098,
            "antennaGain": 6,
            "indoorDeployment": false,
            "latitude": 38.273476,
            "antennaBeamwidth": 360,
            "height": 21.0
        }
    }
]