{
  "conditionalRegistrationData": [
    {
      "fccId": "fcc_id_BPR00B30",
      "cbsdSerialNumber": "sn_BPR00002",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.55664624,
        "longitude": -119.5246429,
        "height": 6,
        "eirpCapability": 30,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 6,
        "antennaBeamwidth": 90,
        "antennaAzimuth": 0,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00B20",
      "cbsdSerialNumber": "sn_BPR00004",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.97378471,
        "longitude": -119.6223699,
        "height": 30,
        "eirpCapability": 20,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 14,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 30,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00A10",
      "cbsdSerialNumber": "sn_BPR00005",
      "cbsdCategory": "A",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.64749345,
        "longitude": -122.9397189,
        "height": 6,
        "eirpCapability": 10,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 13,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 280,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00B47",
      "cbsdSerialNumber": "sn_BPR00006",
      "cbsdCategory": "B",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.87959914,
        "longitude": -122.7309787,
        "height": 30,
        "eirpCapability": 47,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 11,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 270,
        "antennaDowntilt": 0
      }
    }
  ],
  "registrationRequests": [
    {
      "fccId": "fcc_id_BPR00A20",
      "cbsdSerialNumber": "sn_BPR00001",
      "userId": "user_BPR00097",
      "callSign": "call_sign_BPR00001",
      "measCapability": [],
      "cbsdCategory": "A",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.93701819,
        "longitude": -122.7804172,
        "height": 6,
        "eirpCapability": 20,
        "heightType": "AGL",
        "indoorDeployment": true,
        "antennaGain": 6,
        "antennaBeamwidth": 90,
        "antennaAzimuth": 0,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00B30",
      "cbsdSerialNumber": "sn_BPR00002",
      "userId": "user_BPR00095",
      "callSign": "call_sign_BPR00002",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_BPR00A10",
      "cbsdSerialNumber": "sn_BPR00003",
      "userId": "user_BPR00097",
      "callSign": "call_sign_BPR00003",
      "measCapability": [],
      "cbsdCategory": "A",
      "airInterface": { "radioTechnology": "E_UTRA" },
      "installationParam": {
        "latitude": 48.95142003,
        "longitude": -119.3554294,
        "height": 6,
        "eirpCapability": 10,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 16,
        "antennaBeamwidth": 120,
        "antennaAzimuth": 20,
        "antennaDowntilt": 0
      }
    },
    {
      "fccId": "fcc_id_BPR00B20",
      "cbsdSerialNumber": "sn_BPR00004",
      "userId": "user_BPR00098",
      "callSign": "call_sign_BPR00004",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_BPR00A10",
      "cbsdSerialNumber": "sn_BPR00005",
      "userId": "user_BPR00095",
      "callSign": "call_sign_BPR00005",
      "measCapability": []
    },
    {
      "fccId": "fcc_id_BPR00B47",
      "cbsdSerialNumber": "sn_BPR00006",
      "userId": "user_BPR00098",
      "callSign": "call_sign_BPR00006",
      "measCapability": []
    }
  ],
  "grantRequests": [
    {
      "cbsdId": 0,
      "operationParam": {
        "maxEirp": 6,
        "operationFrequencyRange": {
          "lowFrequency": 3630000000,
          "highFrequency": 3700000000
        }
      }
    },
    {
      "cbsdId": 1,
      "operationParam": {
        "maxEirp": 19,
        "operationFrequencyRange": {
          "lowFrequency": 3630000000,
          "highFrequency": 3700000000
        }
      }
    },
    {
      "cbsdId": 2,
      "operationParam": {
        "maxEirp": -3,
        "operationFrequencyRange": {
          "lowFrequency": 3630000000,
          "highFrequency": 3700000000
        }
      }
    },
    {
      "cbsdId": 3,
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3680000000,
          "highFrequency": 3690000000
        }
      }
    },
    {
      "cbsdId": 4,
      "operationParam": {
        "maxEirp": -2,
        "operationFrequencyRange": {
          "lowFrequency": 3650000000,
          "highFrequency": 3700000000
        }
      }
    },
    {
      "cbsdId": 5,
      "operationParam": {
        "maxEirp": 35,
        "operationFrequencyRange": {
          "lowFrequency": 3650000000,
          "highFrequency": 3660000000
        }
      }
    }
  ]
}