{
  "palRecords": [
    {
      "license": {
        "licenseAreaExtent": "zone/census_tract/census/2010/20041084200", 
        "licenseFrequencyChannelId": "1", 
        "licenseId": "test_fcc_id_pal_0", 
        "licenseDate": "2017-06-19T10:06:54Z", 
        "licenseAreaIdentifier": "20041084200", 
        "licenseExpiration": "2019-06-19T10:06:54Z"
      }, 
      "registrationInformation": {
        "callSign": "call_sign_pal_0", 
        "frn": "test_fcc_frn_pal_0", 
        "licenseConditions": "license_pal_0", 
        "registrationDate": "2017-06-19T10:06:54Z"
      }, 
      "userId": "user_GRA00097", 
      "licensee": "CBSD Operator No.1", 
      "channelAssignment": {
        "primaryAssignment": {
          "lowFrequency": 3630000000, 
          "highFrequency": 3640000000
        }
      }, 
      "licenseStatus": "VALID", 
      "palId": "pal/06-2017/20041084200/1"
    }
  ], 
  "conditionalRegistrationData": [
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 1, 
        "heightType": "AGL", 
        "longitude": -122.5884642, 
        "height": 5.06, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.39147238, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00001", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 2, 
        "heightType": "AGL", 
        "longitude": -122.6094946, 
        "height": 4.5, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.39361018, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00002", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 4, 
        "heightType": "AGL", 
        "longitude": -122.5429677, 
        "height": 5.04, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.64134134, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B47", 
      "cbsdSerialNumber": "sn_GRA00004", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 5, 
        "heightType": "AGL", 
        "longitude": -122.7770951, 
        "height": 5.43, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.46390079, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B20", 
      "cbsdSerialNumber": "sn_GRA00005", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 6, 
        "heightType": "AGL", 
        "longitude": -122.6827074, 
        "height": 1.98, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.48602737, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B47", 
      "cbsdSerialNumber": "sn_GRA00006", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 7, 
        "heightType": "AGL", 
        "longitude": -122.4070713, 
        "height": 4.51, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.65291474, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B20", 
      "cbsdSerialNumber": "sn_GRA00007", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 9, 
        "heightType": "AGL", 
        "longitude": -122.7409025, 
        "height": 2.15, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.70013393, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00A20", 
      "cbsdSerialNumber": "sn_GRA00009", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 10, 
        "heightType": "AGL", 
        "longitude": -122.6434763, 
        "height": 3.68, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.45844865, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B47", 
      "cbsdSerialNumber": "sn_GRA00010", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 11, 
        "heightType": "AGL", 
        "longitude": -122.3481644, 
        "height": 3.18, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.51053635, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00011", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 12, 
        "heightType": "AGL", 
        "longitude": -122.6722419, 
        "height": 3.34, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.71261681, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00012", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 13, 
        "heightType": "AGL", 
        "longitude": -122.6191473, 
        "height": 4.18, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.72492354, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B47", 
      "cbsdSerialNumber": "sn_GRA00013", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 14, 
        "heightType": "AGL", 
        "longitude": -122.6278659, 
        "height": 3.05, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.75033716, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B47", 
      "cbsdSerialNumber": "sn_GRA00014", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 15, 
        "heightType": "AGL", 
        "longitude": -122.6320597, 
        "height": 5.03, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.75119907, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B47", 
      "cbsdSerialNumber": "sn_GRA00015", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 16, 
        "heightType": "AGL", 
        "longitude": -122.5762037, 
        "height": 2.14, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.46276031, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00A10", 
      "cbsdSerialNumber": "sn_GRA00016", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 17, 
        "heightType": "AGL", 
        "longitude": -122.6091521, 
        "height": 1.2, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.49357128, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B20", 
      "cbsdSerialNumber": "sn_GRA00017", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 18, 
        "heightType": "AGL", 
        "longitude": -122.6195192, 
        "height": 4.68, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.60644677, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B47", 
      "cbsdSerialNumber": "sn_GRA00018", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 19, 
        "heightType": "AGL", 
        "longitude": -122.529811, 
        "height": 2.61, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.51036508, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B47", 
      "cbsdSerialNumber": "sn_GRA00019", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 21, 
        "heightType": "AGL", 
        "longitude": -122.3007784, 
        "height": 93.81, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.80802105, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B47", 
      "cbsdSerialNumber": "sn_GRA00021", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 22, 
        "heightType": "AGL", 
        "longitude": -122.5489215, 
        "height": 165.78, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.20275449, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B20", 
      "cbsdSerialNumber": "sn_GRA00022", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 23, 
        "heightType": "AGL", 
        "longitude": -122.4726463, 
        "height": 156.4, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.25994003, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B47", 
      "cbsdSerialNumber": "sn_GRA00023", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 24, 
        "heightType": "AGL", 
        "longitude": -122.340679, 
        "height": 144.51, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.62524501, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00024", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 25, 
        "heightType": "AGL", 
        "longitude": -122.3331152, 
        "height": 197.99, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.42666574, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00025", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 26, 
        "heightType": "AGL", 
        "longitude": -122.1429697, 
        "height": 183.74, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.77093882, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B47", 
      "cbsdSerialNumber": "sn_GRA00026", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 27, 
        "heightType": "AGL", 
        "longitude": -122.5518434, 
        "height": 150.1, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.21376848, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B20", 
      "cbsdSerialNumber": "sn_GRA00027", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 28, 
        "heightType": "AGL", 
        "longitude": -122.1533411, 
        "height": 41.31, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.63060043, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B47", 
      "cbsdSerialNumber": "sn_GRA00028", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 29, 
        "heightType": "AGL", 
        "longitude": -122.6475592, 
        "height": 9.98, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.54908565, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00029", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 30, 
        "heightType": "AGL", 
        "longitude": -123.1787979, 
        "height": 183.36, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.33879207, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_GRA00B30", 
      "cbsdSerialNumber": "sn_GRA00030", 
      "cbsdCategory": "B"
    }
  ], 
  "registrationRequests": [
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00001", 
      "userId": "user_GRA00097", 
      "cbsdSerialNumber": "sn_GRA00001", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00002", 
      "userId": "user_GRA00097", 
      "cbsdSerialNumber": "sn_GRA00002", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 3, 
        "heightType": "AGL", 
        "longitude": -122.6556508, 
        "height": 0.67, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.53578603, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_GRA00A20", 
      "userId": "user_GRA00098", 
      "cbsdSerialNumber": "sn_GRA00003", 
      "callSign": "call_sign_GRA00003", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_GRA00B47", 
      "callSign": "call_sign_GRA00004", 
      "userId": "user_GRA00096", 
      "cbsdSerialNumber": "sn_GRA00004", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B20", 
      "callSign": "call_sign_GRA00005", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00005", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B47", 
      "callSign": "call_sign_GRA00006", 
      "userId": "user_GRA00098", 
      "cbsdSerialNumber": "sn_GRA00006", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B20", 
      "callSign": "call_sign_GRA00007", 
      "userId": "user_GRA00096", 
      "cbsdSerialNumber": "sn_GRA00007", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 8, 
        "heightType": "AGL", 
        "longitude": -122.4483119, 
        "height": 0.1, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.47401438, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_GRA00A10", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00008", 
      "callSign": "call_sign_GRA00008", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_GRA00A20", 
      "callSign": "call_sign_GRA00009", 
      "userId": "user_GRA00098", 
      "cbsdSerialNumber": "sn_GRA00009", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B47", 
      "callSign": "call_sign_GRA00010", 
      "userId": "user_GRA00096", 
      "cbsdSerialNumber": "sn_GRA00010", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00011", 
      "userId": "user_GRA00097", 
      "cbsdSerialNumber": "sn_GRA00011", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00012", 
      "userId": "user_GRA00097", 
      "cbsdSerialNumber": "sn_GRA00012", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B47", 
      "callSign": "call_sign_GRA00013", 
      "userId": "user_GRA00097", 
      "cbsdSerialNumber": "sn_GRA00013", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B47", 
      "callSign": "call_sign_GRA00014", 
      "userId": "user_GRA00096", 
      "cbsdSerialNumber": "sn_GRA00014", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B47", 
      "callSign": "call_sign_GRA00015", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00015", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00A10", 
      "callSign": "call_sign_GRA00016", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00016", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B20", 
      "callSign": "call_sign_GRA00017", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00017", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B47", 
      "callSign": "call_sign_GRA00018", 
      "userId": "user_GRA00097", 
      "cbsdSerialNumber": "sn_GRA00018", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B47", 
      "callSign": "call_sign_GRA00019", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00019", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 20, 
        "heightType": "AGL", 
        "longitude": -122.64383, 
        "height": 1.45, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 47.57075925, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_GRA00A20", 
      "userId": "user_GRA00097", 
      "cbsdSerialNumber": "sn_GRA00020", 
      "callSign": "call_sign_GRA00020", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_GRA00B47", 
      "callSign": "call_sign_GRA00021", 
      "userId": "user_GRA00098", 
      "cbsdSerialNumber": "sn_GRA00021", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B20", 
      "callSign": "call_sign_GRA00022", 
      "userId": "user_GRA00097", 
      "cbsdSerialNumber": "sn_GRA00022", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B47", 
      "callSign": "call_sign_GRA00023", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00023", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00024", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00024", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00025", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00025", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B47", 
      "callSign": "call_sign_GRA00026", 
      "userId": "user_GRA00098", 
      "cbsdSerialNumber": "sn_GRA00026", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B20", 
      "callSign": "call_sign_GRA00027", 
      "userId": "user_GRA00095", 
      "cbsdSerialNumber": "sn_GRA00027", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B47", 
      "callSign": "call_sign_GRA00028", 
      "userId": "user_GRA00098", 
      "cbsdSerialNumber": "sn_GRA00028", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00029", 
      "userId": "user_GRA00097", 
      "cbsdSerialNumber": "sn_GRA00029", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_GRA00B30", 
      "callSign": "call_sign_GRA00030", 
      "userId": "user_GRA00097", 
      "cbsdSerialNumber": "sn_GRA00030", 
      "measCapability": []
    }
  ], 
  "ppas": [
    {
      "ppaRecord": {
        "terminated": false, 
        "name": "PPA Zone 0", 
        "zone": {
          "type": "FeatureCollection", 
          "features": [
            {
              "geometry": {
                "type": "Polygon", 
                "coordinates": [
                  [
                    [
                      -122.5684642, 
                      47.37147238
                    ], 
                    [
                      -122.5684642, 
                      47.41147238
                    ], 
                    [
                      -122.6084642, 
                      47.41147238
                    ], 
                    [
                      -122.6084642, 
                      47.37147238
                    ], 
                    [
                      -122.5684642, 
                      47.37147238
                    ]
                  ]
                ]
              }, 
              "type": "Feature", 
              "properties": {}
            }
          ]
        }, 
        "creator": "admin_0", 
        "ppaInfo": {
          "ppaBeginDate": "2017-06-19T10:06:54Z", 
          "ppaExpirationDate": "2019-06-19T10:06:54Z", 
          "ppaRegionType": "URBAN", 
          "cbsdReferenceId": [], 
          "palId": [
            "pal/06-2017/20041084200/1"
          ]
        }, 
        "usage": "PPA", 
        "id": "zone/ppa/admin_0/pal/06-2017/20041084200/1/f675f4539848404f8182aecce9316275"
      }, 
      "ppaClusterList": []
    }
  ], 
  "grantRequests": [
    {
      "operationParam": {
        "maxEirp": 15, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 0
    }, 
    {
      "operationParam": {
        "maxEirp": 17, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 1
    }, 
    {
      "operationParam": {
        "maxEirp": 6, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 2
    }, 
    {
      "operationParam": {
        "maxEirp": 35, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 3
    }, 
    {
      "operationParam": {
        "maxEirp": 10, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 4
    }, 
    {
      "operationParam": {
        "maxEirp": 36, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 5
    }, 
    {
      "operationParam": {
        "maxEirp": 10, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 6
    }, 
    {
      "operationParam": {
        "maxEirp": -5, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 7
    }, 
    {
      "operationParam": {
        "maxEirp": 5, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 8
    }, 
    {
      "operationParam": {
        "maxEirp": 32, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 9
    }, 
    {
      "operationParam": {
        "maxEirp": 19, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 10
    }, 
    {
      "operationParam": {
        "maxEirp": 16, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 11
    }, 
    {
      "operationParam": {
        "maxEirp": 32, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 12
    }, 
    {
      "operationParam": {
        "maxEirp": 35, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 13
    }, 
    {
      "operationParam": {
        "maxEirp": 33, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 14
    }, 
    {
      "operationParam": {
        "maxEirp": -4, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 15
    }, 
    {
      "operationParam": {
        "maxEirp": 5, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 16
    }, 
    {
      "operationParam": {
        "maxEirp": 37, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 17
    }, 
    {
      "operationParam": {
        "maxEirp": 33, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 18
    }, 
    {
      "operationParam": {
        "maxEirp": 8, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 19
    }, 
    {
      "operationParam": {
        "maxEirp": 35, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 20
    }, 
    {
      "operationParam": {
        "maxEirp": 10, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 21
    }, 
    {
      "operationParam": {
        "maxEirp": 36, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 22
    }, 
    {
      "operationParam": {
        "maxEirp": 19, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 23
    }, 
    {
      "operationParam": {
        "maxEirp": 19, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 24
    }, 
    {
      "operationParam": {
        "maxEirp": 32, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 25
    }, 
    {
      "operationParam": {
        "maxEirp": 7, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 26
    }, 
    {
      "operationParam": {
        "maxEirp": 32, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 27
    }, 
    {
      "operationParam": {
        "maxEirp": 17, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 28
    }, 
    {
      "operationParam": {
        "maxEirp": 20, 
        "operationFrequencyRange": {
          "lowFrequency": 3610000000, 
          "highFrequency": 3620000000
        }
      }, 
      "cbsdId": 29
    }
  ], 
  "expectedResponseCodes": [
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ]
  ]
}