{
  "conditionalRegistrationData": {
    "airInterface": {
      "radioTechnology": "E_UTRA"
    },
    "installationParam": {
      "antennaAzimuth": 107,
      "heightType": "AGL",
      "longitude": -79.5822195376,
      "antennaGain": 16,
      "indoorDeployment": false,
      "antennaBeamwidth": 120,
      "antennaDowntilt": 0,
      "latitude": 36.4505603896,
      "height": 93
    },
    "measCapability": [],
    "fccId": "test_fcc_id_a",
    "cbsdSerialNumber": "test_serial_number_a",
    "cbsdCategory": "B"
  },
  "registrationRequest": {
    "fccId": "test_fcc_id_a",
    "callSign": "callsign_a",
    "userId": "test_user_id_a",
    "cbsdSerialNumber": "test_serial_number_a"
  },
  "grantRequest": {
    "operationParam": {
      "maxEirp": 37,
      "operationFrequencyRange": {
        "lowFrequency": 3550000000,
        "highFrequency": 3560000000
      }
    }
  },
  "dpa": {
    "dpaId": "East1",
    "frequencyRange": {
      "lowFrequency": 3550000000,
      "highFrequency": 3560000000
    }
  }
}