{
  "initialCbsdRequestsWithDomainProxies": [
    {
      "conditionalRegistrationData": [],
      "registrationRequests": [],
      "grantRequests": []
    }
  ],
  "dpas": {},
  "domainProxyConfigs": [
    {
      "cert": "certs/domain_proxy.cert",
      "key": "certs/domain_proxy.key"
    }
  ],
  "iterationData": [
    {
      "sasTestHarnessData": [],
      "dpaDeactivationList": [],
      "protectedEntities": {},
      "cbsdRecords": [],
      "cbsdRequestsWithDomainProxies": [
        {
          "conditionalRegistrationData": [],
          "registrationRequests": [
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -81.40976143,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 30.3732651,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 6.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000002",
              "cbsdSerialNumber": "test_serial_number_000000",
              "callSign": "callsign_000000",
              "cbsdCategory": "A"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -81.47916821,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 30.36782616,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 3.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000002",
              "cbsdSerialNumber": "test_serial_number_000001",
              "callSign": "callsign_000001",
              "cbsdCategory": "A"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -81.57710395,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 30.48563024,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 3.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000001",
              "cbsdSerialNumber": "test_serial_number_000002",
              "callSign": "callsign_000002",
              "cbsdCategory": "A"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -81.50946711,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 30.17782617,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 3.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000005",
              "cbsdSerialNumber": "test_serial_number_000003",
              "callSign": "callsign_000003",
              "cbsdCategory": "A"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -81.53648298,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 30.35389285,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 3.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000002",
              "cbsdSerialNumber": "test_serial_number_000004",
              "callSign": "callsign_000004",
              "cbsdCategory": "A"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -82.06641511,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 30.3069179,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 3.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000005",
              "cbsdSerialNumber": "test_serial_number_000005",
              "callSign": "callsign_000005",
              "cbsdCategory": "A"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -81.67465545,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 30.37312084,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 3.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000000",
              "cbsdSerialNumber": "test_serial_number_000006",
              "callSign": "callsign_000006",
              "cbsdCategory": "A"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -81.163581,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 29.55529,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 6.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000003",
              "cbsdSerialNumber": "test_serial_number_000007",
              "callSign": "callsign_000007",
              "cbsdCategory": "A"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -82.52632054,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 29.49990765,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 3.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000001",
              "cbsdSerialNumber": "test_serial_number_000008",
              "callSign": "callsign_000008",
              "cbsdCategory": "A"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -82.63929955,
                "antennaGain": 16,
                "indoorDeployment": true,
                "latitude": 29.96048347,
                "antennaDowntilt": 0,
                "antennaBeamwidth": 120,
                "height": 6.0
              },
              "measCapability": [],
              "fccId": "test_fcc_id_000000",
              "userId": "test_user_id_000002",
              "cbsdSerialNumber": "test_serial_number_000009",
              "callSign": "callsign_000009",
              "cbsdCategory": "A"
            }
          ],
          "grantRequests": [
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 16,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            }
          ]
        }
      ],
      "dpaActivationList": []
    }
  ],
  "sasTestHarnessConfigs": [],
  "initialCbsdRecords": []
}