{
  "gwpzRecords": [
    {
      "record": {
        "deploymentParam": [
          {
            "operationParam": {
              "operationFrequencyRange": {
                "lowFrequency": 3650000000, 
                "highFrequency": 3700000000
              }
            }
          }
        ], 
        "type": "PART_90", 
        "id": "incumbent/uls/0"
      }, 
      "zone": {
        "type": "FeatureCollection", 
        "features": [
          {
            "geometry": {
              "type": "Polygon", 
              "coordinates": [
                [
                  [
                    -78.93779305, 
                    33.68056102
                  ], 
                  [
                    -78.93779305, 
                    33.72056102
                  ], 
                  [
                    -78.97779305, 
                    33.72056102
                  ], 
                  [
                    -78.97779305, 
                    33.68056102
                  ], 
                  [
                    -78.93779305, 
                    33.68056102
                  ]
                ]
              ]
            }, 
            "type": "Feature", 
            "properties": {}
          }
        ]
      }
    }
  ], 
  "ppaRecords": [
    {
      "ppaRecord": {
        "terminated": false, 
        "name": "PPA Zone 0", 
        "zone": {
          "type": "FeatureCollection", 
          "features": [
            {
              "geometry": {
                "type": "Polygon", 
                "coordinates": [
                  [
                    [
                      -79.00622266, 
                      33.64909455
                    ], 
                    [
                      -79.00622266, 
                      33.68909455
                    ], 
                    [
                      -79.04622266, 
                      33.68909455
                    ], 
                    [
                      -79.04622266, 
                      33.64909455
                    ], 
                    [
                      -79.00622266, 
                      33.64909455
                    ]
                  ]
                ]
              }, 
              "type": "Feature", 
              "properties": {}
            }
          ]
        }, 
        "creator": "admin_0", 
        "ppaInfo": {
          "ppaBeginDate": "2017-06-19T10:09:22Z", 
          "ppaExpirationDate": "2019-06-19T10:09:22Z", 
          "ppaRegionType": "URBAN", 
          "cbsdReferenceId": [], 
          "palId": [
            "pal/06-2017/20041084200/1"
          ]
        }, 
        "usage": "PPA", 
        "id": "zone/ppa/admin_0/pal/06-2017/20041084200/1/f551aa58b0db485fa82f9d8ca6d3f76f"
      }, 
      "ppaClusterList": []
    }, 
    {
      "ppaRecord": {
        "terminated": false, 
        "name": "PPA Zone 1", 
        "zone": {
          "type": "FeatureCollection", 
          "features": [
            {
              "geometry": {
                "type": "Polygon", 
                "coordinates": [
                  [
                    [
                      -79.00622266, 
                      33.64909455
                    ], 
                    [
                      -79.00622266, 
                      33.68909455
                    ], 
                    [
                      -79.04622266, 
                      33.68909455
                    ], 
                    [
                      -79.04622266, 
                      33.64909455
                    ], 
                    [
                      -79.00622266, 
                      33.64909455
                    ]
                  ]
                ]
              }, 
              "type": "Feature", 
              "properties": {}
            }
          ]
        }, 
        "creator": "admin_0", 
        "ppaInfo": {
          "ppaBeginDate": "2017-06-19T10:09:22Z", 
          "ppaExpirationDate": "2019-06-19T10:09:22Z", 
          "ppaRegionType": "SUBURBAN", 
          "cbsdReferenceId": [], 
          "palId": [
            "pal/06-2017/20063955100/1"
          ]
        }, 
        "usage": "PPA", 
        "id": "zone/ppa/admin_0/pal/06-2017/20063955100/1/dfdf379881a648ae833627a7c4ede32e"
      }, 
      "ppaClusterList": []
    }
  ], 
  "fr1Cbsd": [
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ], 
    [
      {
        "lowFrequency": 3570000000, 
        "highFrequency": 3580000000
      }
    ]
  ], 
  "palRecords": [
    {
      "license": {
        "licenseAreaExtent": "zone/census_tract/census/2010/20041084200", 
        "licenseFrequencyChannelId": "1", 
        "licenseId": "test_fcc_id_pal_0", 
        "licenseDate": "2017-06-19T10:09:22Z", 
        "licenseAreaIdentifier": "20041084200", 
        "licenseExpiration": "2019-06-19T10:09:22Z"
      }, 
      "registrationInformation": {
        "callSign": "call_sign_pal_0", 
        "frn": "test_fcc_frn_pal_0", 
        "licenseConditions": "license_pal_0", 
        "registrationDate": "2017-06-19T10:09:22Z"
      }, 
      "userId": "user_SIQ00095", 
      "licensee": "CBSD Operator No.1", 
      "channelAssignment": {
        "primaryAssignment": {
          "lowFrequency": 3570000000, 
          "highFrequency": 3580000000
        }
      }, 
      "licenseStatus": "VALID", 
      "palId": "pal/06-2017/20041084200/1"
    }, 
    {
      "license": {
        "licenseAreaExtent": "zone/census_tract/census/2010/20063955100", 
        "licenseFrequencyChannelId": "1", 
        "licenseId": "test_fcc_id_pal_1", 
        "licenseDate": "2017-06-19T10:09:22Z", 
        "licenseAreaIdentifier": "20063955100", 
        "licenseExpiration": "2019-06-19T10:09:22Z"
      }, 
      "registrationInformation": {
        "callSign": "call_sign_pal_1", 
        "frn": "test_fcc_frn_pal_1", 
        "licenseConditions": "license_pal_1", 
        "registrationDate": "2017-06-19T10:09:22Z"
      }, 
      "userId": "user_SIQ00095", 
      "licensee": "CBSD Operator No.1", 
      "channelAssignment": {
        "primaryAssignment": {
          "lowFrequency": 3600000000, 
          "highFrequency": 3610000000
        }
      }, 
      "licenseStatus": "VALID", 
      "palId": "pal/06-2017/20063955100/1"
    }
  ], 
  "fr2Cbsd": [
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ], 
    [
      {
        "lowFrequency": 3610000000, 
        "highFrequency": 3620000000
      }
    ]
  ], 
  "conditionalRegistrationData": [
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 2, 
        "heightType": "AGL", 
        "longitude": -79.03936797, 
        "height": 4.5, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.65586312, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00002", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 3, 
        "heightType": "AGL", 
        "longitude": -78.95779305, 
        "height": 0.67, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.70056102, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A30", 
      "cbsdSerialNumber": "sn_SIQ00003", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 4, 
        "heightType": "AGL", 
        "longitude": -78.93997898, 
        "height": 0.1, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.70683835, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A10", 
      "cbsdSerialNumber": "sn_SIQ00004", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 5, 
        "heightType": "AGL", 
        "longitude": -79.06462168, 
        "height": 5.43, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.62104915, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00005", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 6, 
        "heightType": "AGL", 
        "longitude": -79.05121704, 
        "height": 1.98, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.58472227, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00006", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 7, 
        "heightType": "AGL", 
        "longitude": -79.04286979, 
        "height": 0.1, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.60374502, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A10", 
      "cbsdSerialNumber": "sn_SIQ00007", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 8, 
        "heightType": "AGL", 
        "longitude": -78.92183669, 
        "height": 1.75, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.77579684, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00008", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 9, 
        "heightType": "AGL", 
        "longitude": -78.99657736, 
        "height": 2.15, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.77260447, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00009", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 10, 
        "heightType": "AGL", 
        "longitude": -78.99426134, 
        "height": 3.68, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.72625248, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00010", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 11, 
        "heightType": "AGL", 
        "longitude": -78.86499162, 
        "height": 3.18, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.76115751, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00011", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 14, 
        "heightType": "AGL", 
        "longitude": -79.0570352, 
        "height": 3.05, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.77470334, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A20", 
      "cbsdSerialNumber": "sn_SIQ00014", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 15, 
        "heightType": "AGL", 
        "longitude": -79.07093816, 
        "height": 5.03, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.62257665, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00015", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 16, 
        "heightType": "AGL", 
        "longitude": -79.0710976, 
        "height": 2.14, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.6618373, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00A10", 
      "cbsdSerialNumber": "sn_SIQ00016", 
      "cbsdCategory": "A"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 18, 
        "heightType": "AGL", 
        "longitude": -78.9990898, 
        "height": 4.68, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.81786106, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00018", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 21, 
        "heightType": "AGL", 
        "longitude": -79.07315439, 
        "height": 93.81, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.58683216, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00021", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 22, 
        "heightType": "AGL", 
        "longitude": -78.95451152, 
        "height": 165.78, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.7481918, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00022", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 23, 
        "heightType": "AGL", 
        "longitude": -78.93402378, 
        "height": 156.4, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.76720683, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00023", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 24, 
        "heightType": "AGL", 
        "longitude": -79.08935023, 
        "height": 144.51, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.83489153, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00024", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 25, 
        "heightType": "AGL", 
        "longitude": -78.97647247, 
        "height": 197.99, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.68211098, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00025", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 26, 
        "heightType": "AGL", 
        "longitude": -78.70826962, 
        "height": 183.74, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.82081677, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00026", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 27, 
        "heightType": "AGL", 
        "longitude": -79.09352656, 
        "height": 150.1, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.53423124, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00027", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 28, 
        "heightType": "AGL", 
        "longitude": -78.90375014, 
        "height": 41.31, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.88819059, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B20", 
      "cbsdSerialNumber": "sn_SIQ00028", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 47, 
        "antennaAzimuth": 29, 
        "heightType": "AGL", 
        "longitude": -78.99981073, 
        "height": 9.98, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.59055637, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B47", 
      "cbsdSerialNumber": "sn_SIQ00029", 
      "cbsdCategory": "B"
    }, 
    {
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 30, 
        "heightType": "AGL", 
        "longitude": -78.99352612, 
        "height": 183.36, 
        "indoorDeployment": false, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.81252086, 
        "antennaGain": 5
      }, 
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "fccId": "fcc_id_SIQ00B30", 
      "cbsdSerialNumber": "sn_SIQ00030", 
      "cbsdCategory": "B"
    }
  ], 
  "registrationRequests": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 1, 
        "heightType": "AGL", 
        "longitude": -79.02622266, 
        "height": 0.1, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.66909455, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A30", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00001", 
      "callSign": "call_sign_SIQ00001", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00002", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00002", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00A30", 
      "callSign": "call_sign_SIQ00003", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00003", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00A10", 
      "callSign": "call_sign_SIQ00004", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00004", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00005", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00005", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00006", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00006", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00A10", 
      "callSign": "call_sign_SIQ00007", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00007", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00008", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00008", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00009", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00009", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00010", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00010", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00011", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00011", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 20, 
        "antennaAzimuth": 12, 
        "heightType": "AGL", 
        "longitude": -78.97680188, 
        "height": 0.1, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.685249, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A20", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00012", 
      "callSign": "call_sign_SIQ00012", 
      "cbsdCategory": "A"
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 30, 
        "antennaAzimuth": 13, 
        "heightType": "AGL", 
        "longitude": -79.05393185, 
        "height": 4.18, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.75244434, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A30", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00013", 
      "callSign": "call_sign_SIQ00013", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_SIQ00A20", 
      "callSign": "call_sign_SIQ00014", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00014", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00015", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00015", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00A10", 
      "callSign": "call_sign_SIQ00016", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00016", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 17, 
        "heightType": "AGL", 
        "longitude": -79.09563654, 
        "height": 1.2, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.79973168, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A10", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00017", 
      "callSign": "call_sign_SIQ00017", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00018", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00018", 
      "measCapability": []
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 19, 
        "heightType": "AGL", 
        "longitude": -79.00251903, 
        "height": 2.61, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.57787093, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A10", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00019", 
      "callSign": "call_sign_SIQ00019", 
      "cbsdCategory": "A"
    }, 
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      }, 
      "installationParam": {
        "eirpCapability": 10, 
        "antennaAzimuth": 20, 
        "heightType": "AGL", 
        "longitude": -78.93178937, 
        "height": 0.1, 
        "indoorDeployment": true, 
        "antennaBeamwidth": 30, 
        "antennaDowntilt": 45, 
        "latitude": 33.65527816, 
        "antennaGain": 5
      }, 
      "measCapability": [], 
      "fccId": "fcc_id_SIQ00A10", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00020", 
      "callSign": "call_sign_SIQ00020", 
      "cbsdCategory": "A"
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00021", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00021", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00022", 
      "userId": "user_SIQ00097", 
      "cbsdSerialNumber": "sn_SIQ00022", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00023", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00023", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00024", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00024", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00025", 
      "userId": "user_SIQ00096", 
      "cbsdSerialNumber": "sn_SIQ00025", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00026", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00026", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00027", 
      "userId": "user_SIQ00095", 
      "cbsdSerialNumber": "sn_SIQ00027", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B20", 
      "callSign": "call_sign_SIQ00028", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00028", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B47", 
      "callSign": "call_sign_SIQ00029", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00029", 
      "measCapability": []
    }, 
    {
      "fccId": "fcc_id_SIQ00B30", 
      "callSign": "call_sign_SIQ00030", 
      "userId": "user_SIQ00098", 
      "cbsdSerialNumber": "sn_SIQ00030", 
      "measCapability": []
    }
  ], 
  "expectedResponseCodes": [
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      103
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ], 
    [
      0
    ]
  ], 
  "spectrumInquiryRequests": [
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000, 
          "highFrequency": 3640000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000, 
          "highFrequency": 3640000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3550000000, 
          "highFrequency": 3570000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000, 
          "highFrequency": 3640000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3600000000, 
          "highFrequency": 3580000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3620000000, 
          "highFrequency": 3640000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3580000000, 
          "highFrequency": 3600000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3630000000, 
          "highFrequency": 3650000000
        }
      ]
    }, 
    {
      "inquiredSpectrum": [
        {
          "lowFrequency": 3590000000, 
          "highFrequency": 3610000000
        }
      ]
    }
  ]
}